SSO/XSD/Common/SMF.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns:ns0="http://www.trendmicro.com/ESB/schemas/Common"
	 xmlns:ns1="http://www.trendmicro.com/ESB/schemas/messageHeader"
	 targetNamespace="http://www.trendmicro.com/ESB/schemas/SMF"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.trendmicro.com/ESB/schemas/messageHeader" schemaLocation="messageheader.xsd"/>
	<xs:element name="SMF">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SMFHeader" type="ns1:RequestHeader"/>
				<xs:element name="SMFBody" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="CommonType">
		<xs:sequence>
			<xs:element name="SourceId" type="xs:string"/>
			<xs:element name="GoldenId" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>