G2_SFDCAPI/WSDL/Provider/GCC-U_AMSS_Escalation_WS_GCC-U_AMSS_Escalation_WS.WSDL

<?xml version="1.0" encoding="UTF-8"?><definitions
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:xsdLocal1="http://www.siebel.com/xml/GCC-U%20Corporate%20SR%20AMSS%20Escalation%20Input"
 targetNamespace="GCC-U_AMSS_Escalation_WS"
 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:tns="GCC-U_AMSS_Escalation_WS"
><types
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 targetNamespace="GCC-U_AMSS_Escalation_WS"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:import
 namespace="http://www.siebel.com/xml/GCC-U%20Corporate%20SR%20AMSS%20Escalation%20Input"
></xsd:import
><xsd:element
 name="GCC-U_spcAMSS_spcEscalation_spcWS_CreateOneAMSSEscRec_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="IntegrationSourceId"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SHA1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AMSSParentTaskId"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="OriginalFileName"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="FileLocation"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="sSRNumber"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Title"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Type"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AMSSTaskId"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="NeuronId"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="sIntegrationSource"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AMSSTaskType"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Source"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Description"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="GCC-U_spcAMSS_spcEscalation_spcWS_CreateOneAMSSEscRec_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="AMSSEscalationRecordId"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="DetailResult"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="DetailResultMessage"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="IntegrationSourceIdOut"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="GCC-U_spcAMSS_spcEscalation_spcWS_UpdateAMSSEscRec_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 ref="xsdLocal1:ListOfGcc-UCorporateSrAmssEscalationInput"
></xsd:element
><xsd:element
 name="sSRNumber"
 type="xsd:string"
></xsd:element
><xsd:element
 name="sIntegrationSource"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="GCC-U_spcAMSS_spcEscalation_spcWS_UpdateAMSSEscRec_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="sDetailResultXMLString"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="sOverallResult"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="sOverallResultMsg"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="GCC-U_spcAMSS_spcEscalation_spcWS_CreateAMSSEscRec_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 ref="xsdLocal1:ListOfGcc-UCorporateSrAmssEscalationInput"
></xsd:element
><xsd:element
 name="sSRNumber"
 type="xsd:string"
></xsd:element
><xsd:element
 name="sIntegrationSource"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="GCC-U_spcAMSS_spcEscalation_spcWS_CreateAMSSEscRec_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="sDetailResultXMLString"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="sOverallResult"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="sOverallResultMsg"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
></xsd:schema
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 xmlns:xsdLocal1="http://www.siebel.com/xml/GCC-U%20Corporate%20SR%20AMSS%20Escalation%20Input"
 targetNamespace="http://www.siebel.com/xml/GCC-U%20Corporate%20SR%20AMSS%20Escalation%20Input"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:annotation
><xsd:documentation
>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation
></xsd:annotation
><xsd:element
 name="ListOfGcc-UCorporateSrAmssEscalationInput"
 type="xsdLocal1:ListOfGcc-UCorporateSrAmssEscalationInput"
></xsd:element
><xsd:complexType
 name="ListOfGcc-UCorporateSrAmssEscalationInputTopElmt"
><xsd:sequence
><xsd:element
 name="ListOfGcc-UCorporateSrAmssEscalationInput"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal1:ListOfGcc-UCorporateSrAmssEscalationInput"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfGcc-UCorporateSrAmssEscalationInput"
><xsd:sequence
><xsd:element
 name="Gcc-UCorporateSrAmssEscalation-IoRepresentation"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal1:Gcc-UCorporateSrAmssEscalation-IoRepresentation"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Gcc-UCorporateSrAmssEscalation-IoRepresentation"
><xsd:sequence
><xsd:element
 name="AMSSTaskId"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="AMSSTaskType"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string50"
></xsd:element
><xsd:element
 name="Description"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="FileLocation"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string1500"
></xsd:element
><xsd:element
 name="IntegrationSourceId"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="NeuronId"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string100"
></xsd:element
><xsd:element
 name="OriginalFileName"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string255"
></xsd:element
><xsd:element
 name="SHA1"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string100"
></xsd:element
><xsd:element
 name="Source"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="Title"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string255"
></xsd:element
><xsd:element
 name="Type"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="AMSSParentTaskId"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:simpleType
 name="string50"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="50"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string255"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="255"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string30"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="30"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string100"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="100"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string1500"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="1500"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
></xsd:schema
></types
><message
 name="GCC-U_spcAMSS_spcEscalation_spcWS_CreateOneAMSSEscRec_Input"
><part
 name="GCC-U_spcAMSS_spcEscalation_spcWS_CreateOneAMSSEscRec_Input"
 element="tns:GCC-U_spcAMSS_spcEscalation_spcWS_CreateOneAMSSEscRec_Input"
></part
></message
><message
 name="GCC-U_spcAMSS_spcEscalation_spcWS_CreateOneAMSSEscRec_Output"
><part
 name="GCC-U_spcAMSS_spcEscalation_spcWS_CreateOneAMSSEscRec_Output"
 element="tns:GCC-U_spcAMSS_spcEscalation_spcWS_CreateOneAMSSEscRec_Output"
></part
></message
><message
 name="GCC-U_spcAMSS_spcEscalation_spcWS_UpdateAMSSEscRec_Input"
><part
 name="GCC-U_spcAMSS_spcEscalation_spcWS_UpdateAMSSEscRec_Input"
 element="tns:GCC-U_spcAMSS_spcEscalation_spcWS_UpdateAMSSEscRec_Input"
></part
></message
><message
 name="GCC-U_spcAMSS_spcEscalation_spcWS_UpdateAMSSEscRec_Output"
><part
 name="GCC-U_spcAMSS_spcEscalation_spcWS_UpdateAMSSEscRec_Output"
 element="tns:GCC-U_spcAMSS_spcEscalation_spcWS_UpdateAMSSEscRec_Output"
></part
></message
><message
 name="GCC-U_spcAMSS_spcEscalation_spcWS_CreateAMSSEscRec_Input"
><part
 name="GCC-U_spcAMSS_spcEscalation_spcWS_CreateAMSSEscRec_Input"
 element="tns:GCC-U_spcAMSS_spcEscalation_spcWS_CreateAMSSEscRec_Input"
></part
></message
><message
 name="GCC-U_spcAMSS_spcEscalation_spcWS_CreateAMSSEscRec_Output"
><part
 name="GCC-U_spcAMSS_spcEscalation_spcWS_CreateAMSSEscRec_Output"
 element="tns:GCC-U_spcAMSS_spcEscalation_spcWS_CreateAMSSEscRec_Output"
></part
></message
><portType
 name="GCC-U_spcAMSS_spcEscalation_spcWS"
><operation
 name="CreateOneAMSSEscRec"
><input
 message="tns:GCC-U_spcAMSS_spcEscalation_spcWS_CreateOneAMSSEscRec_Input"
></input
><output
 message="tns:GCC-U_spcAMSS_spcEscalation_spcWS_CreateOneAMSSEscRec_Output"
></output
></operation
><operation
 name="UpdateAMSSEscRec"
><input
 message="tns:GCC-U_spcAMSS_spcEscalation_spcWS_UpdateAMSSEscRec_Input"
></input
><output
 message="tns:GCC-U_spcAMSS_spcEscalation_spcWS_UpdateAMSSEscRec_Output"
></output
></operation
><operation
 name="CreateAMSSEscRec"
><input
 message="tns:GCC-U_spcAMSS_spcEscalation_spcWS_CreateAMSSEscRec_Input"
></input
><output
 message="tns:GCC-U_spcAMSS_spcEscalation_spcWS_CreateAMSSEscRec_Output"
></output
></operation
></portType
><binding
 name="GCC-U_spcAMSS_spcEscalation_spcWS"
 type="tns:GCC-U_spcAMSS_spcEscalation_spcWS"
><soap:binding
 transport="http://schemas.xmlsoap.org/soap/http"
 style="document"
></soap:binding
><operation
 name="CreateOneAMSSEscRec"
><soap:operation
 soapAction="document/GCC-U_AMSS_Escalation_WS:CreateOneAMSSEscRec"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
><operation
 name="UpdateAMSSEscRec"
><soap:operation
 soapAction="document/GCC-U_AMSS_Escalation_WS:UpdateAMSSEscRec"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
><operation
 name="CreateAMSSEscRec"
><soap:operation
 soapAction="document/GCC-U_AMSS_Escalation_WS:CreateAMSSEscRec"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
></binding
><service
 name="GCC-U_AMSS_Escalation_WS"
><port
 binding="tns:GCC-U_spcAMSS_spcEscalation_spcWS"
 name="GCC-U_spcAMSS_spcEscalation_spcWS"
><soap:address
 location="http://gccu-stg.trendmicro.com/eai_enu/start.swe?SWEExtSource=WebService&amp;SWEExtCmd=Execute"
></soap:address
></port
></service
></definitions
>