G2_SFDCAPI/WSDL/Provider/GCC_U_Corporate_SR_General_Operations_Service_GCC_U_Corporate_SR_General_Operations_Service.WSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="GCC_U_Corporate_SR_General_Operations_Service" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal1="http://www.siebel.com/xml/GCC-U%20Corp%20SR%20-%20Hidden%20Activities%20IO" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="GCC_U_Corporate_SR_General_Operations_Service">
    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal1="http://www.siebel.com/xml/GCC-U%20Corp%20SR%20-%20Hidden%20Activities%20IO" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://www.siebel.com/xml/GCC-U%20Corp%20SR%20-%20Hidden%20Activities%20IO">
            <xsd:annotation>
                <xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation>
            </xsd:annotation>
            <xsd:element name="ListOfGcc-UCorpSr-HiddenActivitiesIo" type="xsdLocal1:ListOfGcc-UCorpSr-HiddenActivitiesIo"/>
            <xsd:complexType name="ListOfGcc-UCorpSr-HiddenActivitiesIoTopElmt">
                <xsd:sequence>
                    <xsd:element name="ListOfGcc-UCorpSr-HiddenActivitiesIo" maxOccurs="1" minOccurs="1" type="xsdLocal1:ListOfGcc-UCorpSr-HiddenActivitiesIo"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListOfGcc-UCorpSr-HiddenActivitiesIo">
                <xsd:sequence>
                    <xsd:element name="Gcc-UCorporateSrHiddenActivities-IoRepresentation" maxOccurs="unbounded" minOccurs="0" type="xsdLocal1:Gcc-UCorporateSrHiddenActivities-IoRepresentation"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Gcc-UCorporateSrHiddenActivities-IoRepresentation">
                <xsd:sequence>
                    <xsd:element name="sSRNumber" maxOccurs="1" minOccurs="1" type="xsd:string"/>
                    <xsd:element name="sXMLId" maxOccurs="1" minOccurs="1" type="xsdLocal1:string100"/>
                    <xsd:element name="sXMLString" maxOccurs="1" minOccurs="1" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="string100">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="GCC_U_Corporate_SR_General_Operations_Service">
            <xsd:import namespace="http://www.siebel.com/xml/GCC-U%20Corp%20SR%20-%20Hidden%20Activities%20IO"/>
            <xsd:element name="GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_SendFileAnalysisResults_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="sEmailBody" type="xsd:string"/>
                        <xsd:element name="sEmailIntegrationSubmitDate" type="xsd:string"/>
                        <xsd:element name="sEmailIntegrationSource" type="xsd:string"/>
                        <xsd:element name="sEmailIntegrationId" type="xsd:string"/>
                        <xsd:element name="sEmailTitle" type="xsd:string"/>
                        <xsd:element name="sEmailSRNumber" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_SendFileAnalysisResults_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="sResult" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="sResultActId" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="sResultMsg" minOccurs="0" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_CreateMultiPrivXMLAct_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="xsdLocal1:ListOfGcc-UCorpSr-HiddenActivitiesIo"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_CreateMultiPrivXMLAct_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="sDetailResultXMLString" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="sOverallResult" type="xsd:string"/>
                        <xsd:element name="sOverallResultMsg" minOccurs="0" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_CreatePrivXMLAct_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="sSRNumber" type="xsd:string"/>
                        <xsd:element name="sXMLId" type="xsd:string"/>
                        <xsd:element name="sXMLString" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_CreatePrivXMLAct_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="sResult" type="xsd:string"/>
                        <xsd:element name="sResultMsg" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_AcknowledgeSHDAct_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="sDomainName" type="xsd:string"/>
                        <xsd:element name="sLoginName" type="xsd:string"/>
                        <xsd:element name="sSHDMailId" type="xsd:string"/>
                        <xsd:element name="sSHDActivityId" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_AcknowledgeSHDAct_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="sResult" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="sResultMsg" minOccurs="0" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_WakeUpSR_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="sSRNumber" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_WakeUpSR_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="sResult" type="xsd:string"/>
                        <xsd:element name="sResultMsg" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="sUnparkActId" minOccurs="0" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_UpdateSR_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="sBusinessImpact" type="xsd:string"/>
                        <xsd:element name="sSRNumber" type="xsd:string"/>
                        <xsd:element name="sUrgency" type="xsd:string"/>
                        <xsd:element name="sConEmailAddr" type="xsd:string"/>
                        <xsd:element name="sSourceSystem" type="xsd:string"/>
                        <xsd:element name="sSourceUpdateTime" type="xsd:string"/>
                        <xsd:element name="sExternalRefNum" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_UpdateSR_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="sActIdBusImpactUpdate" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="sActIdExtRefNumUpdate" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="sActIdUrgencyUpdate" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="sResult" type="xsd:string"/>
                        <xsd:element name="sResultMsg" minOccurs="0" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_SendFileAnalysisResults_Input">
        <part name="GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_SendFileAnalysisResults_Input" element="tns:GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_SendFileAnalysisResults_Input"/>
    </message>
    <message name="GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_SendFileAnalysisResults_Output">
        <part name="GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_SendFileAnalysisResults_Output" element="tns:GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_SendFileAnalysisResults_Output"/>
    </message>
    <message name="GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_CreateMultiPrivXMLAct_Input">
        <part name="GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_CreateMultiPrivXMLAct_Input" element="tns:GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_CreateMultiPrivXMLAct_Input"/>
    </message>
    <message name="GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_CreateMultiPrivXMLAct_Output">
        <part name="GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_CreateMultiPrivXMLAct_Output" element="tns:GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_CreateMultiPrivXMLAct_Output"/>
    </message>
    <message name="GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_CreatePrivXMLAct_Input">
        <part name="GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_CreatePrivXMLAct_Input" element="tns:GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_CreatePrivXMLAct_Input"/>
    </message>
    <message name="GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_CreatePrivXMLAct_Output">
        <part name="GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_CreatePrivXMLAct_Output" element="tns:GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_CreatePrivXMLAct_Output"/>
    </message>
    <message name="GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_AcknowledgeSHDAct_Input">
        <part name="GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_AcknowledgeSHDAct_Input" element="tns:GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_AcknowledgeSHDAct_Input"/>
    </message>
    <message name="GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_AcknowledgeSHDAct_Output">
        <part name="GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_AcknowledgeSHDAct_Output" element="tns:GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_AcknowledgeSHDAct_Output"/>
    </message>
    <message name="GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_WakeUpSR_Input">
        <part name="GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_WakeUpSR_Input" element="tns:GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_WakeUpSR_Input"/>
    </message>
    <message name="GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_WakeUpSR_Output">
        <part name="GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_WakeUpSR_Output" element="tns:GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_WakeUpSR_Output"/>
    </message>
    <message name="GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_UpdateSR_Input">
        <part name="GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_UpdateSR_Input" element="tns:GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_UpdateSR_Input"/>
    </message>
    <message name="GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_UpdateSR_Output">
        <part name="GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_UpdateSR_Output" element="tns:GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_UpdateSR_Output"/>
    </message>
    <portType name="GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService">
        <operation name="SendFileAnalysisResults">
            <input message="tns:GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_SendFileAnalysisResults_Input"/>
            <output message="tns:GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_SendFileAnalysisResults_Output"/>
        </operation>
        <operation name="CreateMultiPrivXMLAct">
            <input message="tns:GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_CreateMultiPrivXMLAct_Input"/>
            <output message="tns:GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_CreateMultiPrivXMLAct_Output"/>
        </operation>
        <operation name="CreatePrivXMLAct">
            <input message="tns:GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_CreatePrivXMLAct_Input"/>
            <output message="tns:GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_CreatePrivXMLAct_Output"/>
        </operation>
        <operation name="AcknowledgeSHDAct">
            <input message="tns:GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_AcknowledgeSHDAct_Input"/>
            <output message="tns:GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_AcknowledgeSHDAct_Output"/>
        </operation>
        <operation name="WakeUpSR">
            <input message="tns:GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_WakeUpSR_Input"/>
            <output message="tns:GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_WakeUpSR_Output"/>
        </operation>
        <operation name="UpdateSR">
            <input message="tns:GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_UpdateSR_Input"/>
            <output message="tns:GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService_UpdateSR_Output"/>
        </operation>
    </portType>
    <binding name="GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService" type="tns:GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="SendFileAnalysisResults">
            <soap:operation soapAction="document/GCC_U_Corporate_SR_General_Operations_Service:SendFileAnalysisResults"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="CreateMultiPrivXMLAct">
            <soap:operation soapAction="document/GCC_U_Corporate_SR_General_Operations_Service:CreateMultiPrivXMLAct"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="CreatePrivXMLAct">
            <soap:operation soapAction="document/GCC_U_Corporate_SR_General_Operations_Service:CreatePrivXMLAct"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="AcknowledgeSHDAct">
            <soap:operation soapAction="document/GCC_U_Corporate_SR_General_Operations_Service:AcknowledgeSHDAct"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="WakeUpSR">
            <soap:operation soapAction="document/GCC_U_Corporate_SR_General_Operations_Service:WakeUpSR"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="UpdateSR">
            <soap:operation soapAction="document/GCC_U_Corporate_SR_General_Operations_Service:UpdateSR"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="GCC_U_Corporate_SR_General_Operations_Service">
        <port binding="tns:GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService" name="GCC_spcU_spcCorporate_spcSR_spcGeneral_spcOperations_spcService">
            <soap:address location="http://gccu-stg.trendmicro.com/eai_enu/start.swe?SWEExtSource=WebService&amp;SWEExtCmd=Execute"/>
        </port>
    </service>
</definitions>