G2_SFDCAPI/WSDL/Provider/GCC_U_Corporate_Contact_Notif_Pref_Service_GCC_U_Corporate_Contact_Notif_Pref_Service.WSDL

<?xml version="1.0" encoding="UTF-8"?><definitions
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 targetNamespace="GCC_U_Corporate_Contact_Notif_Pref_Service"
 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:tns="GCC_U_Corporate_Contact_Notif_Pref_Service"
><types
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 targetNamespace="GCC_U_Corporate_Contact_Notif_Pref_Service"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:element
 name="GCC_spcU_spcCorporate_spcContact_spcNotif_spcPref_spcService_QueryConNotifPref_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="sContactId"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="GCC_spcU_spcCorporate_spcContact_spcNotif_spcPref_spcService_QueryConNotifPref_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="pref_Deep_Security_-_Security_Update"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="pref_Intrusion_Detection_Firewall_-_Security_Update"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="pref_Malware_Warning_Level_1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="pref_Malware_Warning_Level_2"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="pref_New_Antispam_Rule"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="pref_New_Control_Pattern_Release"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="pref_New_Damage_Clean-up_Template"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="pref_New_Mobile_Security_Pattern"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="pref_New_Network_Virus_Pattern"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="pref_New_Pattern"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="pref_New_Smart_Scan_Agent_Pattern"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="pref_New_Spyware_Pattern_Release"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="sResult"
 type="xsd:string"
></xsd:element
><xsd:element
 name="sResultMsg"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="GCC_spcU_spcCorporate_spcContact_spcNotif_spcPref_spcService_UpdateConNotifPref_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="sContactId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="pref_New_Pattern"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="pref_New_Control_Pattern_Release"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="pref_Deep_Security_-_Security_Update"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="pref_Intrusion_Detection_Firewall_-_Security_Update"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="pref_New_Smart_Scan_Agent_Pattern"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="pref_New_Spyware_Pattern_Release"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="pref_Malware_Warning_Level_1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="pref_New_Antispam_Rule"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="pref_New_Damage_Clean-up_Template"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="pref_New_Mobile_Security_Pattern"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="pref_New_Network_Virus_Pattern"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="pref_Malware_Warning_Level_2"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="GCC_spcU_spcCorporate_spcContact_spcNotif_spcPref_spcService_UpdateConNotifPref_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="sResult"
 type="xsd:string"
></xsd:element
><xsd:element
 name="sResultMsg"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
></xsd:schema
></types
><message
 name="GCC_spcU_spcCorporate_spcContact_spcNotif_spcPref_spcService_QueryConNotifPref_Input"
><part
 name="GCC_spcU_spcCorporate_spcContact_spcNotif_spcPref_spcService_QueryConNotifPref_Input"
 element="tns:GCC_spcU_spcCorporate_spcContact_spcNotif_spcPref_spcService_QueryConNotifPref_Input"
></part
></message
><message
 name="GCC_spcU_spcCorporate_spcContact_spcNotif_spcPref_spcService_QueryConNotifPref_Output"
><part
 name="GCC_spcU_spcCorporate_spcContact_spcNotif_spcPref_spcService_QueryConNotifPref_Output"
 element="tns:GCC_spcU_spcCorporate_spcContact_spcNotif_spcPref_spcService_QueryConNotifPref_Output"
></part
></message
><message
 name="GCC_spcU_spcCorporate_spcContact_spcNotif_spcPref_spcService_UpdateConNotifPref_Input"
><part
 name="GCC_spcU_spcCorporate_spcContact_spcNotif_spcPref_spcService_UpdateConNotifPref_Input"
 element="tns:GCC_spcU_spcCorporate_spcContact_spcNotif_spcPref_spcService_UpdateConNotifPref_Input"
></part
></message
><message
 name="GCC_spcU_spcCorporate_spcContact_spcNotif_spcPref_spcService_UpdateConNotifPref_Output"
><part
 name="GCC_spcU_spcCorporate_spcContact_spcNotif_spcPref_spcService_UpdateConNotifPref_Output"
 element="tns:GCC_spcU_spcCorporate_spcContact_spcNotif_spcPref_spcService_UpdateConNotifPref_Output"
></part
></message
><portType
 name="GCC_spcU_spcCorporate_spcContact_spcNotif_spcPref_spcService"
><operation
 name="QueryConNotifPref"
><input
 message="tns:GCC_spcU_spcCorporate_spcContact_spcNotif_spcPref_spcService_QueryConNotifPref_Input"
></input
><output
 message="tns:GCC_spcU_spcCorporate_spcContact_spcNotif_spcPref_spcService_QueryConNotifPref_Output"
></output
></operation
><operation
 name="UpdateConNotifPref"
><input
 message="tns:GCC_spcU_spcCorporate_spcContact_spcNotif_spcPref_spcService_UpdateConNotifPref_Input"
></input
><output
 message="tns:GCC_spcU_spcCorporate_spcContact_spcNotif_spcPref_spcService_UpdateConNotifPref_Output"
></output
></operation
></portType
><binding
 name="GCC_spcU_spcCorporate_spcContact_spcNotif_spcPref_spcService"
 type="tns:GCC_spcU_spcCorporate_spcContact_spcNotif_spcPref_spcService"
><soap:binding
 transport="http://schemas.xmlsoap.org/soap/http"
 style="document"
></soap:binding
><operation
 name="QueryConNotifPref"
><soap:operation
 soapAction="document/GCC_U_Corporate_Contact_Notif_Pref_Service:QueryConNotifPref"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
><operation
 name="UpdateConNotifPref"
><soap:operation
 soapAction="document/GCC_U_Corporate_Contact_Notif_Pref_Service:UpdateConNotifPref"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
></binding
><service
 name="GCC_U_Corporate_Contact_Notif_Pref_Service"
><port
 binding="tns:GCC_spcU_spcCorporate_spcContact_spcNotif_spcPref_spcService"
 name="GCC_spcU_spcCorporate_spcContact_spcNotif_spcPref_spcService"
><soap:address
 location="http://gccu-stg.trendmicro.com/eai_enu/start.swe?SWEExtSource=WebService&amp;SWEExtCmd=Execute"
></soap:address
></port
></service
></definitions
>