G2_SFDCAPI/WSDL/Provider/GCC_U_CORP_ACCOUNT_WS_GCC_U_CORP_ACCOUNT_WS.WSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 targetNamespace="GCC_U_CORP_ACCOUNT_WS"
 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:tns="GCC_U_CORP_ACCOUNT_WS"
><types
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 targetNamespace="GCC_U_CORP_ACCOUNT_WS"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:element
 name="GCC_spcAccount_spcScripts_Upsert_AccountActivity_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="EndDate"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="URL"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PrivateFlg"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Status"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AnnouncementId"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Title"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AccountName"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ActivityId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Type"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ContactLN"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AccountId"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="NeuronId"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ContactFN"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ContactId"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AccountActivationCode"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="RelatedSR"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Description"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="StartDate"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ContactEmail"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AccountRegistrationKey"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="GCC_spcAccount_spcScripts_Upsert_AccountActivity_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="ActivityId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Result"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ResultMsg"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="GCC_spcAccount_spcScripts_Delete_AcctProductProfile_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="ProductProfileId"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="GCC_spcAccount_spcScripts_Delete_AcctProductProfile_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="Result"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ResultMsg"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="GCC_spcAccount_spcScripts_Upsert_AccProductProfile_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="SmartScanServerFlag"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="EmailRep_SpamFilterFlag"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Notes"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="OfficeScanServerGUID"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PortalGUID"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ProductProfileId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ProductLicense"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="VirusPatternType"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="WebReputationFlag"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ToolboxCollection"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ProductId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ProductVersion"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Type"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ProductLanguage"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ProductOSLanguage"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AccountId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ScanEngineVersion"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Location"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Name"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ProductOS"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Region"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="GCC_spcAccount_spcScripts_Upsert_AccProductProfile_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="ProductProfileId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Result"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ResultMsg"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
></xsd:schema
></types
><message
 name="GCC_spcAccount_spcScripts_Upsert_AccountActivity_Input"
><part
 name="GCC_spcAccount_spcScripts_Upsert_AccountActivity_Input"
 element="tns:GCC_spcAccount_spcScripts_Upsert_AccountActivity_Input"
></part
></message
><message
 name="GCC_spcAccount_spcScripts_Upsert_AccountActivity_Output"
><part
 name="GCC_spcAccount_spcScripts_Upsert_AccountActivity_Output"
 element="tns:GCC_spcAccount_spcScripts_Upsert_AccountActivity_Output"
></part
></message
><message
 name="GCC_spcAccount_spcScripts_Delete_AcctProductProfile_Input"
><part
 name="GCC_spcAccount_spcScripts_Delete_AcctProductProfile_Input"
 element="tns:GCC_spcAccount_spcScripts_Delete_AcctProductProfile_Input"
></part
></message
><message
 name="GCC_spcAccount_spcScripts_Delete_AcctProductProfile_Output"
><part
 name="GCC_spcAccount_spcScripts_Delete_AcctProductProfile_Output"
 element="tns:GCC_spcAccount_spcScripts_Delete_AcctProductProfile_Output"
></part
></message
><message
 name="GCC_spcAccount_spcScripts_Upsert_AccProductProfile_Input"
><part
 name="GCC_spcAccount_spcScripts_Upsert_AccProductProfile_Input"
 element="tns:GCC_spcAccount_spcScripts_Upsert_AccProductProfile_Input"
></part
></message
><message
 name="GCC_spcAccount_spcScripts_Upsert_AccProductProfile_Output"
><part
 name="GCC_spcAccount_spcScripts_Upsert_AccProductProfile_Output"
 element="tns:GCC_spcAccount_spcScripts_Upsert_AccProductProfile_Output"
></part
></message
><portType
 name="GCC_U_CORP_ACCOUNT_WS"
><operation
 name="Upsert_AccountActivity"
><input
 message="tns:GCC_spcAccount_spcScripts_Upsert_AccountActivity_Input"
></input
><output
 message="tns:GCC_spcAccount_spcScripts_Upsert_AccountActivity_Output"
></output
></operation
><operation
 name="Delete_AcctProductProfile"
><input
 message="tns:GCC_spcAccount_spcScripts_Delete_AcctProductProfile_Input"
></input
><output
 message="tns:GCC_spcAccount_spcScripts_Delete_AcctProductProfile_Output"
></output
></operation
><operation
 name="Upsert_AccProductProfile"
><input
 message="tns:GCC_spcAccount_spcScripts_Upsert_AccProductProfile_Input"
></input
><output
 message="tns:GCC_spcAccount_spcScripts_Upsert_AccProductProfile_Output"
></output
></operation
></portType
><binding
 name="GCC_U_CORP_ACCOUNT_WS"
 type="tns:GCC_U_CORP_ACCOUNT_WS"
><soap:binding
 transport="http://schemas.xmlsoap.org/soap/http"
 style="document"
></soap:binding
><operation
 name="Upsert_AccountActivity"
><soap:operation
 soapAction="document/GCC_U_CORP_ACCOUNT_WS:Upsert_AccountActivity"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
><operation
 name="Delete_AcctProductProfile"
><soap:operation
 soapAction="document/GCC_U_CORP_ACCOUNT_WS:Delete_AcctProductProfile"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
><operation
 name="Upsert_AccProductProfile"
><soap:operation
 soapAction="document/GCC_U_CORP_ACCOUNT_WS:Upsert_AccProductProfile"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
></binding
><service
 name="GCC_U_CORP_ACCOUNT_WS"
><port
 binding="tns:GCC_U_CORP_ACCOUNT_WS"
 name="GCC_U_CORP_ACCOUNT_WS"
><soap:address
 location="http://gccu-stg.trendmicro.com/eai_enu/start.swe?SWEExtSource=WebService&amp;SWEExtCmd=Execute"
></soap:address
></port
></service
></definitions
>