G2_SFDCAPI/WSDL/Provider/PanelCallBack.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://stgspnsupport.trendmicro.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://stgspnsupport.trendmicro.com/">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://stgspnsupport.trendmicro.com/">
            <s:element name="UpdateTaskIdByFileId">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="FileId" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="TaskId" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="UpdateTaskIdByFileIdResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="UpdateTaskIdByFileIdResult" type="s:boolean"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="UpdateCallbackInfo">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="strMessageKey" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="strInputXml" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="UpdateCallbackInfoResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="UpdateCallbackInfoResult" type="s:boolean"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="UpdateTaskIdByFileIdSoapIn">
        <wsdl:part name="parameters" element="tns:UpdateTaskIdByFileId"/>
    </wsdl:message>
    <wsdl:message name="UpdateTaskIdByFileIdSoapOut">
        <wsdl:part name="parameters" element="tns:UpdateTaskIdByFileIdResponse"/>
    </wsdl:message>
    <wsdl:message name="UpdateCallbackInfoSoapIn">
        <wsdl:part name="parameters" element="tns:UpdateCallbackInfo"/>
    </wsdl:message>
    <wsdl:message name="UpdateCallbackInfoSoapOut">
        <wsdl:part name="parameters" element="tns:UpdateCallbackInfoResponse"/>
    </wsdl:message>
    <wsdl:portType name="WebServiceSoap">
        <wsdl:operation name="UpdateTaskIdByFileId">
            <wsdl:input message="tns:UpdateTaskIdByFileIdSoapIn"/>
            <wsdl:output message="tns:UpdateTaskIdByFileIdSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateCallbackInfo">
            <wsdl:input message="tns:UpdateCallbackInfoSoapIn"/>
            <wsdl:output message="tns:UpdateCallbackInfoSoapOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="UpdateTaskIdByFileId">
            <soap:operation soapAction="http://stgspnsupport.trendmicro.com/UpdateTaskIdByFileId" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateCallbackInfo">
            <soap:operation soapAction="http://stgspnsupport.trendmicro.com/UpdateCallbackInfo" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="UpdateTaskIdByFileId">
            <soap12:operation soapAction="http://stgspnsupport.trendmicro.com/UpdateTaskIdByFileId" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateCallbackInfo">
            <soap12:operation soapAction="http://stgspnsupport.trendmicro.com/UpdateCallbackInfo" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WebService">
        <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
            <soap:address location="http://stgspnsupport.trendmicro.com/ResultPanel/OutPages/WebService.asmx"/>
        </wsdl:port>
        <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
            <soap12:address location="http://stgspnsupport.trendmicro.com/ResultPanel/OutPages/WebService.asmx"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>