G2_SFDCAPI/WSDL/Provider/PSCCaseWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
            <s:element name="UpdateCaseSRNumber">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="PortalSourceID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="SRNumber" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="ActivityRowID" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="SubmitResult" type="s:boolean"/>
                        <s:element minOccurs="0" maxOccurs="1" name="ErrorMsg" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="UpdateCaseSRNumberResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="UpdateCaseSRNumberResult" type="s:boolean"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="UpdateCaseSRNumberSoapIn">
        <wsdl:part name="parameters" element="tns:UpdateCaseSRNumber"/>
    </wsdl:message>
    <wsdl:message name="UpdateCaseSRNumberSoapOut">
        <wsdl:part name="parameters" element="tns:UpdateCaseSRNumberResponse"/>
    </wsdl:message>
    <wsdl:portType name="PSCCaseWSSoap">
        <wsdl:operation name="UpdateCaseSRNumber">
            <wsdl:input message="tns:UpdateCaseSRNumberSoapIn"/>
            <wsdl:output message="tns:UpdateCaseSRNumberSoapOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PSCCaseWSSoap" type="tns:PSCCaseWSSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="UpdateCaseSRNumber">
            <soap:operation soapAction="http://tempuri.org/UpdateCaseSRNumber" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="PSCCaseWSSoap12" type="tns:PSCCaseWSSoap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="UpdateCaseSRNumber">
            <soap12:operation soapAction="http://tempuri.org/UpdateCaseSRNumber" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PSCCaseWS">
        <wsdl:port name="PSCCaseWSSoap" binding="tns:PSCCaseWSSoap">
            <soap:address location="http://qapscadm.trendmicro.com:8080/PSCCaseWS.asmx"/>
        </wsdl:port>
        <wsdl:port name="PSCCaseWSSoap12" binding="tns:PSCCaseWSSoap12">
            <soap12:address location="http://qapscadm.trendmicro.com:8080/PSCCaseWS.asmx"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>