G2_SFDCAPI/WSDL/Provider/PSCCallbackWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
            <s:element name="UpdateCallbackInfo">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="strMessageKey" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="strInputXml" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="UpdateCallbackInfoResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="UpdateCallbackInfoResult" type="s:boolean"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="UpdateCallbackInfoSoapIn">
        <wsdl:part name="parameters" element="tns:UpdateCallbackInfo"/>
    </wsdl:message>
    <wsdl:message name="UpdateCallbackInfoSoapOut">
        <wsdl:part name="parameters" element="tns:UpdateCallbackInfoResponse"/>
    </wsdl:message>
    <wsdl:portType name="PSCCallbackWSSoap">
        <wsdl:operation name="UpdateCallbackInfo">
            <wsdl:input message="tns:UpdateCallbackInfoSoapIn"/>
            <wsdl:output message="tns:UpdateCallbackInfoSoapOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PSCCallbackWSSoap" type="tns:PSCCallbackWSSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="UpdateCallbackInfo">
            <soap:operation soapAction="http://tempuri.org/UpdateCallbackInfo" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="PSCCallbackWSSoap12" type="tns:PSCCallbackWSSoap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="UpdateCallbackInfo">
            <soap12:operation soapAction="http://tempuri.org/UpdateCallbackInfo" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PSCCallbackWS">
        <wsdl:port name="PSCCallbackWSSoap" binding="tns:PSCCallbackWSSoap">
            <soap:address location="http://localhost:33167/PSCCallbackWS.asmx"/>
        </wsdl:port>
        <wsdl:port name="PSCCallbackWSSoap12" binding="tns:PSCCallbackWSSoap12">
            <soap12:address location="http://localhost:33167/PSCCallbackWS.asmx"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>