G2_SFDCAPI/WSDL/Provider/ThreatService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns1="http://www.trendmicro.com/ESB/schemas/messageHeader" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.example.com/1402302032670" xmlns:ns0="http://www.tibco.com/schemas/GCCPortal/WSDL/Client/ThreatService/Schema.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Untitled" targetNamespace="http://xmlns.example.com/1402302032670">
    <wsdl:types>
        <xs:schema xmlns="http://www.tibco.com/schemas/GCCPortal/WSDL/Client/ThreatService/Schema.xsd" xmlns:ns0="http://www.trendmicro.com/ESB/schemas/messageHeader" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/GCCPortal/WSDL/Client/ThreatService/Schema.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:import namespace="http://www.trendmicro.com/ESB/schemas/messageHeader"/>
            <xs:element name="SampleSubmissionRq">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="RequestHeader" type="ns0:RequestHeader"/>
                        <xs:element name="RequestBody">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="submissionInput" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="SamplesubmissionRs">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ResponseHeader" type="ns0:RequestHeader"/>
                        <xs:element name="ResponseBody">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="SampleSubmissionResult" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xsd:schema xmlns="http://www.trendmicro.com/ESB/schemas/messageHeader" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.trendmicro.com/ESB/schemas/messageHeader" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xsd:complexType name="RequestHeader">
                <xsd:sequence>
                    <xsd:element name="MessageKey" type="xsd:string"/>
                    <xsd:element name="ServiceName" type="xsd:string"/>
                    <xsd:element name="ServiceVersion" type="xsd:string"/>
                    <xsd:element name="SourceID" type="xsd:string"/>
                    <xsd:element name="StatusCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RqTimestamp" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RsTimestamp" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="Message">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="RequestHeader" type="ns1:RequestHeader"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:service name="ThreatService">
        <wsdl:port name="PortTypeEndpoint1" binding="tns:PortTypeEndpoint1Binding">
            <soap:address location="http://localhost:50002/WSDL/Client/ThreatService/ThreatService.serviceagent/PortTypeEndpoint1"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="PortType">
        <wsdl:operation name="NeuronSampleSubmission">
            <wsdl:input message="tns:NeuronSampleSubmissionRq"/>
            <wsdl:output message="tns:NeuronSampleSubmissionRs"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PortTypeEndpoint1Binding" type="tns:PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="NeuronSampleSubmission">
            <soap:operation style="document" soapAction="/WSDL/Client/ThreatService/ThreatService.serviceagent/PortTypeEndpoint1/NeuronSampleSubmission"/>
            <wsdl:input>
                <soap:body use="literal" parts="Input"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Output"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="NeuronSampleSubmissionRq">
        <wsdl:part name="Input" element="ns0:SampleSubmissionRq"/>
    </wsdl:message>
    <wsdl:message name="NeuronSampleSubmissionRs">
        <wsdl:part name="Output" element="ns0:SamplesubmissionRs"/>
    </wsdl:message>
</wsdl:definitions>