G2_SFDCAPI/WSDL/Client/PSCXSD/AMSS_CreateInboundTaskRq.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.trendmicro.com/PSC/AMSS_CreateInboundTaskRq"
	 xmlns:ns0="http://www.trendmicro.com/ESB/schemas/messageHeader"
	 targetNamespace="http://www.trendmicro.com/PSC/AMSS_CreateInboundTaskRq"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.trendmicro.com/ESB/schemas/messageHeader" schemaLocation="../../../XSD/Common/messageheader.xsd"/>
	<xs:element name="AMSS_CreateInboundTaskRq">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RequestHeader" type="ns0:RequestHeader"/>
				<xs:element name="RequestBody">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="InboundTask">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="SHA1" type="xs:string" minOccurs="0"/>
										<xs:element name="SRNumber" type="xs:string" minOccurs="0"/>
										<xs:element name="FirstName" type="xs:string"/>
										<xs:element name="Segment" type="xs:string" minOccurs="0"/>
										<xs:element name="FTPLocation" type="xs:string" minOccurs="0"/>
										<xs:element name="HeadsUp" type="xs:string" minOccurs="0"/>
										<xs:element name="ParentTaskId" type="xs:string" minOccurs="0"/>
										<xs:element name="OriginalType" type="xs:string" minOccurs="0"/>
										<xs:element name="JPOwner" type="xs:string" minOccurs="0"/>
										<xs:element name="TaskLabel" type="xs:string" minOccurs="0"/>
										<xs:element name="SourceReferenceNumber" type="xs:string"/>
										<xs:element name="SourceId" type="xs:string" minOccurs="0"/>
										<xs:element name="SRType" type="xs:string" minOccurs="0"/>
										<xs:element name="PanelType" type="xs:string" minOccurs="0"/>
										<xs:element name="IsAMEX" type="xs:string" minOccurs="0"/>
										<xs:element name="PatternVersion" type="xs:string" minOccurs="0"/>
										<xs:element name="ServiceLevel" type="xs:string" minOccurs="0"/>
										<xs:element name="Title" type="xs:string"/>
										<xs:element name="PatternBranch" type="xs:string" minOccurs="0"/>
										<xs:element name="MessageKey" type="xs:string" minOccurs="0"/>
										<xs:element name="JPPanel" type="xs:string" minOccurs="0"/>
										<xs:element name="Type" type="xs:string"/>
										<xs:element name="Country" type="xs:string" minOccurs="0"/>
										<xs:element name="FileName" type="xs:string" minOccurs="0"/>
										<xs:element name="LastName" type="xs:string"/>
										<xs:element name="OS" type="xs:string" minOccurs="0"/>
										<xs:element name="Entitlement" type="xs:string" minOccurs="0"/>
										<xs:element name="TAMEmail" type="xs:string" minOccurs="0"/>
										<xs:element name="Priority" type="xs:string"/>
										<xs:element name="Source" type="xs:string"/>
										<xs:element name="SubmitDate" type="xs:string"/>
										<xs:element name="Product" type="xs:string" minOccurs="0"/>
										<xs:element name="FileSize" type="xs:string" minOccurs="0"/>
										<xs:element name="ParentThreatServiceId" type="xs:string" minOccurs="0"/>
										<xs:element name="Email" type="xs:string" minOccurs="0"/>
										<xs:element name="Description" type="xs:string"/>
										<xs:element name="Region" type="xs:string" minOccurs="0"/>
										<xs:element name="MD5" type="xs:string" minOccurs="0"/>
										<xs:element name="PatternFlag" type="xs:string" minOccurs="0"/>
										<xs:element name="EscalateByLoginName" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ResendCount" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>