G2_SFDCAPI/WSDL/Client/PSCXSD/AMSS_CreateAMSSInboundFeedbackRs.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.trendmicro.com/PSC/AMSS_CreateAMSSInboundFeedbackRs"
	 xmlns:ns0="http://www.trendmicro.com/ESB/schemas/messageHeader"
	 xmlns:ns1="http://www.tibco.com/schemas/GCCPortal/XSD/PSC/AMSS_CreateInboundFeedbackRs.xsd"
	 targetNamespace="http://www.trendmicro.com/PSC/AMSS_CreateAMSSInboundFeedbackRs"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.trendmicro.com/ESB/schemas/messageHeader" schemaLocation="../../../XSD/Common/messageheader.xsd"/>
	<xs:import namespace="http://www.tibco.com/schemas/GCCPortal/XSD/PSC/AMSS_CreateInboundFeedbackRs.xsd" schemaLocation="../../../XSD/PSC/AMSS_CreateInboundFeedbackRs.xsd"/>
	<xs:element name="AMSS_CreateAMSSInboundFeedbackRs">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ResponseHeader" type="ns0:RequestHeader"/>
				<xs:element name="ResponseBody" type="ns1:AMSS_CreateInboundFeedbackRs"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>