G2_SFDCAPI/WSDL/Client/PSCXSD/PSC_GetSRDetailsRq.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.trendmicro.com/PSC/PSC_GetSRDetailsRq"
	 xmlns:ns0="http://www.trendmicro.com/ESB/schemas/messageHeader"
	 xmlns:ns1="http://www.tibco.com/schemas/GCCPortal/XSD/PSC/AMSS_CreateInboundFeedbackRq.xsd"
	 targetNamespace="http://www.trendmicro.com/PSC/PSC_GetSRDetailsRq"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.trendmicro.com/ESB/schemas/messageHeader" schemaLocation="../../../XSD/Common/messageheader.xsd"/>
	<xs:import namespace="http://www.tibco.com/schemas/GCCPortal/XSD/PSC/AMSS_CreateInboundFeedbackRq.xsd" schemaLocation="../../../XSD/PSC/AMSS_CreateInboundFeedbackRq.xsd"/>
	<xs:element name="PSC_GetSRDetailsRq">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RequestHeader" type="ns0:RequestHeader"/>
				<xs:element name="RequestBody">
					<xs:complexType>
						<xs:choice>
							<xs:element name="SRNumber" type="xs:string" minOccurs="0"/>
							<xs:element name="AccountID" type="xs:string" minOccurs="0"/>
						</xs:choice>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>