G2_SFDCAPI/WSDL/Client/PSCXSD/PSC_GetSRDetailsRs.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.trendmicro.com/PSC/PSC_GetSRDetailsRs"
	 xmlns:ns0="http://www.trendmicro.com/ESB/schemas/messageHeader"
	 xmlns:ns1="http://www.tibco.com/schemas/GCCPortal/XSD/PSC/GCCGetSRDetailsResults.xsd"
	 targetNamespace="http://www.trendmicro.com/PSC/PSC_GetSRDetailsRs"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.trendmicro.com/ESB/schemas/messageHeader" schemaLocation="../../../XSD/Common/messageheader.xsd"/>
	<xs:import namespace="http://www.tibco.com/schemas/GCCPortal/XSD/PSC/GCCGetSRDetailsResults.xsd" schemaLocation="../../../XSD/PSC/GetSRDetailsResults.xsd"/>
	<xs:element name="PSC_GetSRDetailsRs">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ResponseHeader" type="ns0:RequestHeader"/>
				<xs:element name="ResponseBody">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Result" type="ns1:Resultsets"/>
							<xs:element name="Error" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Message" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>