G2_SFDCAPI/WSDL/Client/PSCXSD/PSC_ErrorRs.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.trendmicro.com/PSC/PSC_ErrorRs"
	 xmlns:ns0="http://www.trendmicro.com/ESB/schemas/errorReport"
	 xmlns:ns1="http://www.trendmicro.com/ESB/schemas/messageHeader"
	 xmlns:ns2="http://www.tibco.com/schemas/GCCPortal/XSD/PSC/Schema.xsd"
	 targetNamespace="http://www.trendmicro.com/PSC/PSC_ErrorRs"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.trendmicro.com/ESB/schemas/messageHeader" schemaLocation="../../../XSD/Common/messageheader.xsd"/>
	<xs:import namespace="http://www.tibco.com/schemas/GCCPortal/XSD/PSC/Schema.xsd" schemaLocation="../../../XSD/PSC/Error.xsd"/>
	<xs:element name="PSC_ErrorRs">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ResponseHeader" type="ns1:RequestHeader"/>
				<xs:element name="ResponseBody" type="ns2:ErrorType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>