G2_SFDCAPI/WSDL/Client/PSCXSD/PSC_DeleteProductProfileRq.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.trendmicro.com/PSC/PSC_DeleteProductProfileRq"
	 xmlns:ns0="http://www.trendmicro.com/ESB/schemas/messageHeader"
	 xmlns:ns1="http://www.tibco.com/schemas/GCCPortal/XSD/PSC/ProductProfile.xsd"
	 targetNamespace="http://www.trendmicro.com/PSC/PSC_DeleteProductProfileRq"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.trendmicro.com/ESB/schemas/messageHeader" schemaLocation="../../../XSD/Common/messageheader.xsd"/>
	<xs:import namespace="http://www.tibco.com/schemas/GCCPortal/XSD/PSC/ProductProfile.xsd" schemaLocation="../../../XSD/PSC/ProductProfile.xsd"/>
	<xs:element name="PSC_DeleteProductProfileRq">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RequestHeader" type="ns0:RequestHeader"/>
				<xs:element name="RequestBody">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ProductProfileId" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>