G2_SFDCAPI/XSD/G2/GetCaseListResults.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/GCCPortal/XSD/G2/GetCaseListResults.xsd"
	 xmlns:ns0="http://www.tibco.com/schemas/GCCPortal/XSD/G2/GetCaseResult.xsd"
	 targetNamespace="http://www.tibco.com/schemas/GCCPortal/XSD/GetCaseListResults.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.tibco.com/schemas/GCCPortal/XSD/G2/GetCaseResult.xsd" schemaLocation="GetCaseResult.xsd"/>
	<xs:complexType name="Resultsets">
		<xs:sequence>
			<xs:element name="TotalRowCount" type="xs:string"/>
			<xs:element name="ResultSet1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Record1" type="ns0:CaseType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>