G2_SFDCAPI/XSD/G2/SFDC_SRCaseResult.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/GCCPortal/XSD/G2/SFDCSRCaseResult.xsd"
	 xmlns:ns0="http://www.tibco.com/schemas/GCCPortal/XSD/G2/SFDC_Common_Type.xsd"
	 targetNamespace="http://www.tibco.com/schemas/GCCPortal/XSD/G2/SFDCSRCaseResult.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.tibco.com/schemas/GCCPortal/XSD/G2/SFDC_Common_Type.xsd" schemaLocation="SFDC_Common_Type.xsd"/>
	<xs:complexType name="SFDCSRCaseResultType">
		<xs:sequence>
			<xs:element name="Result">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SRID" type="xs:string" minOccurs="0"/>
						<xs:element name="ActivityID" type="xs:string" minOccurs="0"/>
						<xs:element name="ContactID" type="xs:string" minOccurs="0"/>
						<xs:element name="Attachments" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="id" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Status" type="xs:string" minOccurs="0"/>
						<xs:element name="Message" type="xs:string" minOccurs="0"/>
						<xs:element name="ActIDBusImpactUpdate" type="xs:string" minOccurs="0"/>
						<xs:element name="ActIDExtRefNumUpdate" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Error" type="ns0:ErrorType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>