G2_SFDCAPI/XSD/G2/SubmittingInput.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:complexType name="NEURONSRFType">
		<xs:sequence>
			<xs:element name="DEFAULT_INFO">
				<xs:complexType>
					<xs:all>
						<xs:element name="SERVICE_CONSUMER" type="xs:string"/>
						<xs:element name="UPLOAD_METHOD">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="INF">
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="xs:string">
													<xs:attribute name="name" type="xs:string"/>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="type" type="xs:string"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="AM_CASE_AUTO_SUBMIT" default="false">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:boolean">
										<xs:attribute name="value" type="xs:string"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="FILE_EXTRACT_TYPE">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="ChildWithPW" type="xs:string"/>
										<xs:attribute name="MultiFolder" type="xs:string"/>
										<xs:attribute name="Quarantined" type="xs:string"/>
										<xs:attribute name="LocId" type="xs:string"/>
										<xs:attribute name="MaxTotalFilesIncluded" type="xs:string"/>
										<xs:attribute name="MaxExtractLevel" type="xs:string"/>
										<xs:attribute name="BypassExtraction" type="xs:string"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="UPLOAD_ARCHIVE_TO_AM" type="xs:string"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="ADDITIONAL_INFO">
				<xs:complexType>
					<xs:all>
						<xs:element name="SRF_SOURCEID">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="NeedReturn" type="xs:string"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="SRF_SRTYPE" type="xs:string"/>
						<xs:element name="SRF_SRNO">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="NeedReturn" type="xs:string"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="SRF_ORIGINAL_File_Name" type="xs:string"/>
						<xs:element name="SRF_REGION" type="xs:string"/>
						<xs:element name="SRF_FORM_VALUES">
							<xs:complexType>
								<xs:all>
									<xs:element name="PortalSourceID" type="xs:string" minOccurs="0"/>
									<xs:element name="ProductName" type="xs:string" minOccurs="0"/>
									<xs:element name="ProductVersion" type="xs:string" minOccurs="0"/>
									<xs:element name="ProductLanguage" type="xs:string" minOccurs="0"/>
									<xs:element name="OperatingSystem" type="xs:string" minOccurs="0"/>
									<xs:element name="SerialNumber" type="xs:string" minOccurs="0"/>
									<xs:element name="ActivationCode" type="xs:string" minOccurs="0"/>
									<xs:element name="PatternFileNumber" type="xs:string" minOccurs="0"/>
									<xs:element name="ScanEngineVersion" type="xs:string" minOccurs="0"/>
									<xs:element name="NumberofSeat" type="xs:string" minOccurs="0"/>
									<xs:element name="UserType" type="xs:string" minOccurs="0"/>
									<xs:element name="ProblemCategory" type="xs:string" minOccurs="0"/>
									<xs:element name="SubCategory" type="xs:string" minOccurs="0"/>
									<xs:element name="Priority" type="xs:string" minOccurs="0"/>
									<xs:element name="Description" type="xs:string" minOccurs="0"/>
									<xs:element name="InitialTroubleshootingPerformed" type="xs:string" minOccurs="0"/>
									<xs:element name="InternetConnections" type="xs:string" minOccurs="0"/>
									<xs:element name="Attachment" type="xs:string" minOccurs="0"/>
									<xs:element name="EmailAddress" type="xs:string" minOccurs="0"/>
									<xs:element name="Salutation" type="xs:string" minOccurs="0"/>
									<xs:element name="FirstName" type="xs:string" minOccurs="0"/>
									<xs:element name="LastName" type="xs:string" minOccurs="0"/>
									<xs:element name="PhoneNumber" type="xs:string" minOccurs="0"/>
									<xs:element name="Country" type="xs:string" minOccurs="0"/>
									<xs:element name="CompanyName" type="xs:string" minOccurs="0"/>
									<xs:element name="AccountID" type="xs:string" minOccurs="0"/>
									<xs:element name="AccountName" type="xs:string" minOccurs="0"/>
									<xs:element name="Areyouusingproxy" type="xs:string" minOccurs="0"/>
									<xs:element name="Areyouusingfirewall" type="xs:string" minOccurs="0"/>
									<xs:element name="PreferredLanguage" type="xs:string" minOccurs="0"/>
									<xs:element name="Wouldyouparticipateinasurvey" type="xs:string" minOccurs="0"/>
									<xs:element name="CDToutput" type="xs:string" minOccurs="0"/>
									<xs:element name="Title" type="xs:string" minOccurs="0"/>
									<xs:element name="BuildNumber" type="xs:string" minOccurs="0"/>
									<xs:element name="BetaProjectId" type="xs:string" minOccurs="0"/>
									<xs:element name="ProductGIC" type="xs:string" minOccurs="0"/>
									<xs:element name="SRType" type="xs:string" minOccurs="0"/>
									<xs:element name="QueryType" type="xs:string" minOccurs="0"/>
									<xs:element name="SolutionID" type="xs:string" minOccurs="0"/>
									<xs:element name="DidSearchDB" type="xs:string" minOccurs="0"/>
									<xs:element name="SubSystem" type="xs:string" minOccurs="0"/>
									<xs:element name="PortalSRTarget" type="xs:string" minOccurs="0"/>
									<xs:element name="CustExperience" type="xs:string" minOccurs="0"/>
									<xs:element name="UseProxyAuth" type="xs:string" minOccurs="0"/>
									<xs:element name="FirewallServer" type="xs:string" minOccurs="0"/>
									<xs:element name="UseFirewallAuth" type="xs:string" minOccurs="0"/>
									<xs:element name="FTPLocation" type="xs:string" minOccurs="0"/>
									<xs:element name="FTPUserNamePassword" type="xs:string" minOccurs="0"/>
									<xs:element name="UserType1" type="xs:string" minOccurs="0"/>
									<xs:element name="FirewallAuthenticationType" type="xs:string" minOccurs="0"/>
									<xs:element name="EntitlementID" type="xs:string" minOccurs="0"/>
									<xs:element name="SRSource" type="xs:string" minOccurs="0"/>
									<xs:element name="TSProdId" type="xs:string" minOccurs="0"/>
									<xs:element name="ToNeuron" type="xs:string" minOccurs="0"/>
									<xs:element name="EntitlementName" type="xs:string" minOccurs="0"/>
									<xs:element name="Classification" type="xs:string" minOccurs="0"/>
									<xs:element name="PatternType" type="xs:string" minOccurs="0"/>
									<xs:element name="SPNPortalID" type="xs:string" minOccurs="0"/>
									<xs:element name="RequestType" type="xs:string" minOccurs="0"/>
									<xs:element name="ServiceLevel" type="xs:string" minOccurs="0"/>
									<xs:element name="RegistrationKey" type="xs:string" minOccurs="0"/>
								</xs:all>
							</xs:complexType>
						</xs:element>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="PACKAGES">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PACKAGE">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="id" type="xs:string"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NEURONATSSType">
		<xs:sequence>
			<xs:element name="DEFAULT_INFO">
				<xs:complexType>
					<xs:all>
						<xs:element name="SERVICE_CONSUMER" type="xs:string"/>
						<xs:element name="UPLOAD_METHOD">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="INF">
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="xs:string">
													<xs:attribute name="name" type="xs:string"/>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="type" type="xs:string"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="AM_CASE_AUTO_SUBMIT">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="value" type="xs:string"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="FILE_EXTRACT_TYPE">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="ChildWithPW" type="xs:string"/>
										<xs:attribute name="MultiFolder" type="xs:string"/>
										<xs:attribute name="Quarantined" type="xs:string"/>
										<xs:attribute name="LocId" type="xs:string"/>
										<xs:attribute name="MaxTotalFilesIncluded" type="xs:string"/>
										<xs:attribute name="MaxExtractLevel" type="xs:string"/>
										<xs:attribute name="BypassExtraction" type="xs:string"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="UPLOAD_ARCHIVE_TO_AM" type="xs:string"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="ADDITIONAL_INFO">
				<xs:complexType>
					<xs:all>
						<xs:element name="ATSS_ID" type="xs:string"/>
						<xs:element name="ATSS_SUBSYSTEM" type="xs:string"/>
						<xs:element name="ArchiveName" type="xs:string"/>
						<xs:element name="FirstName" type="xs:string"/>
						<xs:element name="LastName" type="xs:string"/>
						<xs:element name="EmailAddress" type="xs:string"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="PACKAGES">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PACKAGE">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="id" type="xs:string"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NEURONRTLWType">
		<xs:sequence>
			<xs:element name="DEFAULT_INFO">
				<xs:complexType>
					<xs:all>
						<xs:element name="SERVICE_CONSUMER" type="xs:string"/>
						<xs:element name="UPLOAD_METHOD">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="INF">
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="xs:string">
													<xs:attribute name="name" type="xs:string"/>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="type" type="xs:string"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="AM_CASE_AUTO_SUBMIT">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="value" type="xs:string"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="FILE_EXTRACT_TYPE">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="ChildWithPW" type="xs:string"/>
										<xs:attribute name="MultiFolder" type="xs:string"/>
										<xs:attribute name="Quarantined" type="xs:string"/>
										<xs:attribute name="LocId" type="xs:string"/>
										<xs:attribute name="MaxTotalFilesIncluded" type="xs:string"/>
										<xs:attribute name="MaxExtractLevel" type="xs:string"/>
										<xs:attribute name="BypassExtraction" type="xs:string"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="UPLOAD_ARCHIVE_TO_AM" type="xs:string"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="ADDITIONAL_INFO">
				<xs:complexType>
					<xs:all>
						<xs:element name="RtlwCaseId" type="xs:string"/>
						<xs:element name="ArchiveName" type="xs:string"/>
						<xs:element name="FirstName" type="xs:string"/>
						<xs:element name="LastName" type="xs:string"/>
						<xs:element name="EmailAddress" type="xs:string"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="PACKAGES">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PACKAGE">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="id" type="xs:string"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>