SSO/XSD/SCOAPI/Accounts.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="accounts" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
  <xs:element name="accounts">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="account_id" type="xs:string" minOccurs="0" />
        <xs:element name="magic_link" type="xs:string" minOccurs="0" />
        <xs:element name="activation_code" type="xs:string" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>