G2PortalEventSerivce/WSDL/Client/JP Common WS_WS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsdLocal2="http://www.siebel.com/xml/JP-TS%20Query%20Service%20Request" xmlns:tns="JP Common WS" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal1="http://www.siebel.com/xml/GCC%20IO%20Action%20Attachment" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="JP Common WS">
    <types>
        <xsd:schema xmlns:xsdLocal2="http://www.siebel.com/xml/JP-TS%20Query%20Service%20Request" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://www.siebel.com/xml/JP-TS%20Query%20Service%20Request">
            <xsd:annotation>
                <xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation>
            </xsd:annotation>
            <xsd:element name="ListOfJp-TsQueryServiceRequest" type="xsdLocal2:ListOfJp-TsQueryServiceRequest"/>
            <xsd:complexType name="ListOfJp-TsQueryServiceRequestTopElmt">
                <xsd:sequence>
                    <xsd:element name="ListOfJp-TsQueryServiceRequest" maxOccurs="1" minOccurs="1" type="xsdLocal2:ListOfJp-TsQueryServiceRequest"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListOfJp-TsQueryServiceRequest">
                <xsd:sequence>
                    <xsd:element name="ServiceRequest" maxOccurs="unbounded" minOccurs="0" type="xsdLocal2:ServiceRequest"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ServiceRequest">
                <xsd:sequence>
                    <xsd:element name="Id" maxOccurs="1" minOccurs="0" type="xsdLocal2:string30"/>
                    <xsd:element name="SRNumber" maxOccurs="1" minOccurs="0" type="xsdLocal2:string64"/>
                    <xsd:element name="Status" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="SubStatus" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="Team" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="L1Login" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="L1LastName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="L1FirstName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="L15Login" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="L15LastName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="L15FirstName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="L2Login" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="L2LastName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="L2FirstName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="Category1" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="Category2" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="Category3" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="SupportType" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="ServiceType" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="Product" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="ProblemCode" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="LastActivityDate" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="ProductName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="DoNotCharge" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="SRCreated" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="string64">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="64"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string30">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal1="http://www.siebel.com/xml/GCC%20IO%20Action%20Attachment" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://www.siebel.com/xml/GCC%20IO%20Action%20Attachment">
            <xsd:annotation>
                <xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation>
            </xsd:annotation>
            <xsd:element name="ListOfGccIoActionAttachment" type="xsdLocal1:ListOfGccIoActionAttachment"/>
            <xsd:complexType name="ListOfGccIoActionAttachmentTopElmt">
                <xsd:sequence>
                    <xsd:element name="ListOfGccIoActionAttachment" maxOccurs="1" minOccurs="1" type="xsdLocal1:ListOfGccIoActionAttachment"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListOfGccIoActionAttachment">
                <xsd:sequence>
                    <xsd:element name="Action" maxOccurs="unbounded" minOccurs="0" type="xsdLocal1:Action"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Action">
                <xsd:sequence>
                    <xsd:element name="Id" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="ActivityId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="ActivityUID" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="EmailAttachmentFlag" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="ListOfActionAttachment" maxOccurs="1" minOccurs="0" type="xsdLocal1:ListOfActionAttachment"/>
                </xsd:sequence>
                <xsd:attribute name="operation" type="xsd:string"/>
                <xsd:attribute name="searchspec" type="xsd:string"/>
            </xsd:complexType>
            <xsd:complexType name="ListOfActionAttachment">
                <xsd:sequence>
                    <xsd:element name="ActionAttachment" maxOccurs="unbounded" minOccurs="0" type="xsdLocal1:ActionAttachment"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ActionAttachment">
                <xsd:sequence>
                    <xsd:element name="Id" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="ActivityId" maxOccurs="1" minOccurs="1" type="xsd:string"/>
                    <xsd:element name="ActivityFileExt" maxOccurs="1" minOccurs="0" type="xsdLocal1:string10"/>
                    <xsd:element name="ActivityFileName" maxOccurs="1" minOccurs="1" type="xsdLocal1:string200"/>
                    <xsd:element name="ActivityFileSrcPath" maxOccurs="1" minOccurs="0" type="xsdLocal1:string220"/>
                    <xsd:element name="ActivityFileSrcType" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="Comment2" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="MailAttachmentType" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="ActivityFileBuffer" maxOccurs="1" minOccurs="0" type="xsd:base64Binary"/>
                </xsd:sequence>
                <xsd:attribute name="operation" type="xsd:string"/>
                <xsd:attribute name="searchspec" type="xsd:string"/>
            </xsd:complexType>
            <xsd:simpleType name="string10">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="10"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string30">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string200">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="200"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string220">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="220"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="JP Common WS">
            <xsd:import namespace="http://www.siebel.com/xml/JP-TS%20Query%20Service%20Request"/>
            <xsd:import namespace="http://www.siebel.com/xml/GCC%20IO%20Action%20Attachment"/>
            <xsd:element name="JP-TS_spcComm_spcWS_JP_CreateConsumerCase_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="psSourceID" type="xsd:string"/>
                        <xsd:element name="psMalwareName" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psSerialNo" type="xsd:string"/>
                        <xsd:element name="psCenterType" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psSourceSystem" type="xsd:string"/>
                        <xsd:element name="psVersion" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psSource" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psCustomerTelNo" type="xsd:string"/>
                        <xsd:element name="psInternalSubmitterNTAccount" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psPattern" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psCustomerEmail" type="xsd:string"/>
                        <xsd:element name="psEmployeeTeam" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psActivityBody" type="xsd:string"/>
                        <xsd:element name="psOS" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psPortalType" type="xsd:string"/>
                        <xsd:element name="psSourceTime" type="xsd:string"/>
                        <xsd:element name="psTitle" type="xsd:string"/>
                        <xsd:element name="psDescription" type="xsd:string"/>
                        <xsd:element name="psScanEngine" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psSupportType" type="xsd:string"/>
                        <xsd:element name="psUrgency" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psCustomerFullName" type="xsd:string"/>
                        <xsd:element name="psProductGIC" type="xsd:string"/>
                        <xsd:element name="psSRType" minOccurs="0" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="JP-TS_spcComm_spcWS_JP_CreateConsumerCase_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="psActId" type="xsd:string"/>
                        <xsd:element name="psError" type="xsd:string"/>
                        <xsd:element name="psSRNumber" type="xsd:string"/>
                        <xsd:element name="psStatus" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="JP-TS_spcComm_spcWS_JP_GenericEmailInbound_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="CC" type="xsd:string"/>
                        <xsd:element name="FromName" type="xsd:string"/>
                        <xsd:element name="Segment" type="xsd:string"/>
                        <xsd:element name="Subject" type="xsd:string"/>
                        <xsd:element name="psSourceId" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="DateReceived" type="xsd:string"/>
                        <xsd:element name="DateSent" type="xsd:string"/>
                        <xsd:element name="SR" type="xsd:string"/>
                        <xsd:element name="Attachment" type="xsd:string"/>
                        <xsd:element name="Type" type="xsd:string"/>
                        <xsd:element name="EmailFormat" type="xsd:string"/>
                        <xsd:element name="To" type="xsd:string"/>
                        <xsd:element name="FromEmail" type="xsd:string"/>
                        <xsd:element name="BCC" type="xsd:string"/>
                        <xsd:element name="Body" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="JP-TS_spcComm_spcWS_JP_GenericEmailInbound_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="psActId" type="xsd:string"/>
                        <xsd:element name="psError" type="xsd:string"/>
                        <xsd:element name="psSRType" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psStatus" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="JP-TS_spcComm_spcWS_JP_CreateConsumerChatCaseMU_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="psSourceID" type="xsd:string"/>
                        <xsd:element name="psMalwareName" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psSerialNo" type="xsd:string"/>
                        <xsd:element name="psCenterType" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psSourceSystem" type="xsd:string"/>
                        <xsd:element name="psVersion" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psProblemCode" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psCustomerTelNo" type="xsd:string"/>
                        <xsd:element name="psInternalSubmitterNTAccount" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psPattern" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psSubStatus" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psContractType" type="xsd:string"/>
                        <xsd:element name="psActyOwner" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psCustomerEmail" type="xsd:string"/>
                        <xsd:element name="psDoNoCharge" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psActivityBody" type="xsd:string"/>
                        <xsd:element name="psL1Owner" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psNoCreateActy" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psOS" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psPortalType" type="xsd:string"/>
                        <xsd:element name="psSourceTime" type="xsd:string"/>
                        <xsd:element name="psTitle" type="xsd:string"/>
                        <xsd:element name="psDescription" type="xsd:string"/>
                        <xsd:element name="psScanEngine" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psSupportType" type="xsd:string"/>
                        <xsd:element name="psUrgency" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psMacAddress" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psCustomerFullName" type="xsd:string"/>
                        <xsd:element name="psProductGIC" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="JP-TS_spcComm_spcWS_JP_CreateConsumerChatCaseMU_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="psActId" type="xsd:string"/>
                        <xsd:element name="psError" type="xsd:string"/>
                        <xsd:element name="psSRNumber" type="xsd:string"/>
                        <xsd:element name="psStatus" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="JP-TS_spcComm_spcWS_JP_QueryConsumerCaseRTL_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="psSourceId" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="JP-TS_spcComm_spcWS_JP_QueryConsumerCaseRTL_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="psCountry" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psEmail" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psError" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psFirstName" type="xsd:string"/>
                        <xsd:element name="psJPOwner" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psLastName" type="xsd:string"/>
                        <xsd:element name="psOS" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psProduct" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psRegion" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psSource" type="xsd:string"/>
                        <xsd:element name="psSourceReferenceNumber" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psStatus" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="JP-TS_spcComm_spcWS_JP_CreateCorporateCaseActivity_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="psSourceId" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psActivityType" type="xsd:string"/>
                        <xsd:element name="psSRStatus" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psUpdateSR" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psProblemCode" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psActyOwner" type="xsd:string"/>
                        <xsd:element name="psFAQID" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psActivityBody" type="xsd:string"/>
                        <xsd:element name="psSRNumber" type="xsd:string"/>
                        <xsd:element name="psSROwner" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psUrgency" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psSRType" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psServiceType" minOccurs="0" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="JP-TS_spcComm_spcWS_JP_CreateCorporateCaseActivity_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="psActId" type="xsd:string"/>
                        <xsd:element name="psError" type="xsd:string"/>
                        <xsd:element name="psSRNumber" type="xsd:string"/>
                        <xsd:element name="psStatus" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="JP-TS_spcComm_spcWS_JP_CreateCorporateChatCase_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="psActyEmailTO" type="xsd:string"/>
                        <xsd:element name="psSRContactDept" type="xsd:string"/>
                        <xsd:element name="psSourceID" type="xsd:string"/>
                        <xsd:element name="psSRContactEmail" type="xsd:string"/>
                        <xsd:element name="psSRSource" type="xsd:string"/>
                        <xsd:element name="psActyEmailCC" type="xsd:string"/>
                        <xsd:element name="psActySenderName" type="xsd:string"/>
                        <xsd:element name="psContactPronunciation" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psSRProductGIC" type="xsd:string"/>
                        <xsd:element name="psSRACRK" type="xsd:string"/>
                        <xsd:element name="psActyPNEmailBody" type="xsd:string"/>
                        <xsd:element name="psSourceSystem" type="xsd:string"/>
                        <xsd:element name="psActyEmailBody" type="xsd:string"/>
                        <xsd:element name="psSRDesc" type="xsd:string"/>
                        <xsd:element name="psActyEmailFormat" type="xsd:string"/>
                        <xsd:element name="psSRAPhoneCall" type="xsd:string"/>
                        <xsd:element name="psActyType" type="xsd:string"/>
                        <xsd:element name="psSRMalware" type="xsd:string"/>
                        <xsd:element name="psSRPattern" type="xsd:string"/>
                        <xsd:element name="psSubStatus" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psActyOwner" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psPartnerAccountId" type="xsd:string"/>
                        <xsd:element name="psSRContactWPhone" type="xsd:string"/>
                        <xsd:element name="psFAQID" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psSRContactName" type="xsd:string"/>
                        <xsd:element name="psSourceTime" type="xsd:string"/>
                        <xsd:element name="psL1Owner" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psNoCreateActy" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psActyEmailAttachFlg" type="xsd:string"/>
                        <xsd:element name="psSRPortalAccName" type="xsd:string"/>
                        <xsd:element name="psSRScanEngine" type="xsd:string"/>
                        <xsd:element name="psSRTitle" type="xsd:string"/>
                        <xsd:element name="psUrgency" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psSRType" type="xsd:string"/>
                        <xsd:element name="psActySenderAdd" type="xsd:string"/>
                        <xsd:element name="psSRProblemCat1" type="xsd:string"/>
                        <xsd:element name="psServiceType" minOccurs="0" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="JP-TS_spcComm_spcWS_JP_CreateCorporateChatCase_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="psActId" type="xsd:string"/>
                        <xsd:element name="psError" type="xsd:string"/>
                        <xsd:element name="psSRNumber" type="xsd:string"/>
                        <xsd:element name="psStatus" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="JP-TS_spcComm_spcWS_JP_QuerySR_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="psSendMode" type="xsd:string"/>
                        <xsd:element name="psKeyId" type="xsd:string"/>
                        <xsd:element name="psSRType" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="JP-TS_spcComm_spcWS_JP_QuerySR_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="psError" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psSRStatus" type="xsd:string"/>
                        <xsd:element name="psStatus" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="JP-TS_spcComm_spcWS_JP_UpdateConsumerCase_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="psActyEmailTO" type="xsd:string"/>
                        <xsd:element name="psActyEmailCC" type="xsd:string"/>
                        <xsd:element name="psActySenderName" type="xsd:string"/>
                        <xsd:element name="psSourceId" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psActyDesc" type="xsd:string"/>
                        <xsd:element name="psActyEmailBody" type="xsd:string"/>
                        <xsd:element name="psActyEmailFormat" type="xsd:string"/>
                        <xsd:element name="psActyEmailTo" type="xsd:string"/>
                        <xsd:element name="psActyType" type="xsd:string"/>
                        <xsd:element name="psActyEmailAttachFlg" type="xsd:string"/>
                        <xsd:element name="psSRNumber" type="xsd:string"/>
                        <xsd:element name="psSRSubStatus" type="xsd:string"/>
                        <xsd:element name="psSRType" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psActySenderAdd" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="JP-TS_spcComm_spcWS_JP_UpdateConsumerCase_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="psActId" type="xsd:string"/>
                        <xsd:element name="psError" type="xsd:string"/>
                        <xsd:element name="psStatus" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="JP-TS_spcComm_spcWS_JP_RunWorkflow_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="CloseSubStatus" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="SRSubStatus" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="Object_spcId" type="xsd:string"/>
                        <xsd:element name="Type" type="xsd:string"/>
                        <xsd:element name="ProcessName" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="JP-TS_spcComm_spcWS_JP_RunWorkflow_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="CloseSubStatus" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="Error_spcCode" type="xsd:string"/>
                        <xsd:element name="Error_spcMessage" type="xsd:string"/>
                        <xsd:element name="Object_spcId" type="xsd:string"/>
                        <xsd:element name="ProcessName" type="xsd:string"/>
                        <xsd:element name="SRSubStatus" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="Type" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="JP-TS_spcComm_spcWS_JP_CreateAttachment_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="xsdLocal1:ListOfGccIoActionAttachment"/>
                        <xsd:element name="psSRType" minOccurs="0" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="JP-TS_spcComm_spcWS_JP_CreateAttachment_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="psStatus" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="JP-TS_spcComm_spcWS_JP_CreateConsumerCaseActivity_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="psSourceId" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psActivityType" type="xsd:string"/>
                        <xsd:element name="psSRStatus" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psUpdateSR" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psDoNotCharge" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psProblemCode" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psActyOwner" type="xsd:string"/>
                        <xsd:element name="psActivityBody" type="xsd:string"/>
                        <xsd:element name="psSRNumber" type="xsd:string"/>
                        <xsd:element name="psSROwner" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psSupportType" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psUrgency" minOccurs="0" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="JP-TS_spcComm_spcWS_JP_CreateConsumerCaseActivity_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="psActId" type="xsd:string"/>
                        <xsd:element name="psError" type="xsd:string"/>
                        <xsd:element name="psSRNumber" type="xsd:string"/>
                        <xsd:element name="psStatus" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="JP-TS_spcComm_spcWS_JP_QueryCaseRTL_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="psSourceId" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="JP-TS_spcComm_spcWS_JP_QueryCaseRTL_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="psCountry" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psEmail" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psError" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psFirstName" type="xsd:string"/>
                        <xsd:element name="psJPOwner" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psLastName" type="xsd:string"/>
                        <xsd:element name="psOS" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psProduct" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psRegion" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psSource" type="xsd:string"/>
                        <xsd:element name="psSourceReferenceNumber" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psStatus" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="JP-TS_spcComm_spcWS_JP_UpdateConsumerRTL_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="psServiceId" type="xsd:string"/>
                        <xsd:element name="psFileNumber" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psSourceId" type="xsd:string"/>
                        <xsd:element name="psFileName" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psSendMode" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psProcessStatus" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psMessage" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psSRType" minOccurs="0" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="JP-TS_spcComm_spcWS_JP_UpdateConsumerRTL_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="psError" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psStatus" minOccurs="0" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="JP-TS_spcComm_spcWS_JP_CreateConsumerChatCase_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="psSourceID" type="xsd:string"/>
                        <xsd:element name="psMalwareName" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psSerialNo" type="xsd:string"/>
                        <xsd:element name="psCenterType" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psSourceSystem" type="xsd:string"/>
                        <xsd:element name="psVersion" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psProblemCode" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psCustomerTelNo" type="xsd:string"/>
                        <xsd:element name="psInternalSubmitterNTAccount" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psPattern" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psSubStatus" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psCustomerEmail" type="xsd:string"/>
                        <xsd:element name="psActyOwner" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psDoNoCharge" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psActivityBody" type="xsd:string"/>
                        <xsd:element name="psOS" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psPortalType" type="xsd:string"/>
                        <xsd:element name="psSourceTime" type="xsd:string"/>
                        <xsd:element name="psTitle" type="xsd:string"/>
                        <xsd:element name="psL1Owner" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psNoCreateActy" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psDescription" type="xsd:string"/>
                        <xsd:element name="psScanEngine" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psSupportType" type="xsd:string"/>
                        <xsd:element name="psUrgency" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psCustomerFullName" type="xsd:string"/>
                        <xsd:element name="psProductGIC" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="JP-TS_spcComm_spcWS_JP_CreateConsumerChatCase_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="psActId" type="xsd:string"/>
                        <xsd:element name="psError" type="xsd:string"/>
                        <xsd:element name="psSRNumber" type="xsd:string"/>
                        <xsd:element name="psStatus" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="JP-TS_spcComm_spcWS_JP_CreateCorporateCase_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="psActyEmailTO" type="xsd:string"/>
                        <xsd:element name="psSRContactDept" type="xsd:string"/>
                        <xsd:element name="psSourceID" type="xsd:string"/>
                        <xsd:element name="psSRContactEmail" type="xsd:string"/>
                        <xsd:element name="psSRSource" type="xsd:string"/>
                        <xsd:element name="psActyEmailCC" type="xsd:string"/>
                        <xsd:element name="psActySenderName" type="xsd:string"/>
                        <xsd:element name="psContactPronunciation" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psSRProductGIC" type="xsd:string"/>
                        <xsd:element name="psSRACRK" type="xsd:string"/>
                        <xsd:element name="psSRProblemCat2" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psActyPNEmailBody" type="xsd:string"/>
                        <xsd:element name="psSourceSystem" type="xsd:string"/>
                        <xsd:element name="psActyEmailBody" type="xsd:string"/>
                        <xsd:element name="psSRDesc" type="xsd:string"/>
                        <xsd:element name="psProductOS" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psActyEmailFormat" type="xsd:string"/>
                        <xsd:element name="psSRAPhoneCall" type="xsd:string"/>
                        <xsd:element name="psActyType" type="xsd:string"/>
                        <xsd:element name="psThreatServiceActyId" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psSRMalware" type="xsd:string"/>
                        <xsd:element name="psSRPattern" type="xsd:string"/>
                        <xsd:element name="psPartnerAccountId" type="xsd:string"/>
                        <xsd:element name="psSRContactWPhone" type="xsd:string"/>
                        <xsd:element name="psSRContactName" type="xsd:string"/>
                        <xsd:element name="psSourceTime" type="xsd:string"/>
                        <xsd:element name="psActyEmailAttachFlg" type="xsd:string"/>
                        <xsd:element name="psSRPortalAccName" type="xsd:string"/>
                        <xsd:element name="psSRScanEngine" type="xsd:string"/>
                        <xsd:element name="psSRTitle" type="xsd:string"/>
                        <xsd:element name="psSRContactMPhone" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psSRType" type="xsd:string"/>
                        <xsd:element name="psActySenderAdd" type="xsd:string"/>
                        <xsd:element name="psSRProblemCat1" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="JP-TS_spcComm_spcWS_JP_CreateCorporateCase_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="psActId" type="xsd:string"/>
                        <xsd:element name="psError" type="xsd:string"/>
                        <xsd:element name="psSRNumber" type="xsd:string"/>
                        <xsd:element name="psStatus" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="JP-TS_spcComm_spcWS_JP_QueryCase_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="psSN" type="xsd:string"/>
                        <xsd:element name="psSR_Num" type="xsd:string"/>
                        <xsd:element name="psEmail" type="xsd:string"/>
                        <xsd:element name="psConditionalOperator" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psServiceType" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="JP-TS_spcComm_spcWS_JP_QueryCase_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="xsdLocal2:ListOfJp-TsQueryServiceRequest" minOccurs="0"/>
                        <xsd:element name="psDoNoCharge" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psError" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psSRCreatedDate" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psStatus" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="JP-TS_spcComm_spcWS_QueryCorporateCaseRTL_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="psSourceId" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="JP-TS_spcComm_spcWS_QueryCorporateCaseRTL_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="psCountry" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psEmail" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psError" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psFirstName" type="xsd:string"/>
                        <xsd:element name="psJPOwner" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psLastName" type="xsd:string"/>
                        <xsd:element name="psOS" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psProduct" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psRegion" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psSource" type="xsd:string"/>
                        <xsd:element name="psSourceReferenceNumber" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psStatus" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="JP-TS_spcComm_spcWS_JP_UpdateCorporateCase_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="psActyEmailTO" type="xsd:string"/>
                        <xsd:element name="psActyEmailCC" type="xsd:string"/>
                        <xsd:element name="psActySenderName" type="xsd:string"/>
                        <xsd:element name="psSourceId" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psActyDesc" type="xsd:string"/>
                        <xsd:element name="psActyEmailBody" type="xsd:string"/>
                        <xsd:element name="psActyEmailFormat" type="xsd:string"/>
                        <xsd:element name="psActyEmailTo" type="xsd:string"/>
                        <xsd:element name="psActyType" type="xsd:string"/>
                        <xsd:element name="psActyEmailAttachFlg" type="xsd:string"/>
                        <xsd:element name="psSRNumber" type="xsd:string"/>
                        <xsd:element name="psSRSubStatus" type="xsd:string"/>
                        <xsd:element name="psSRType" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psActySenderAdd" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="JP-TS_spcComm_spcWS_JP_UpdateCorporateCase_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="psActId" type="xsd:string"/>
                        <xsd:element name="psError" type="xsd:string"/>
                        <xsd:element name="psStatus" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="JP-TS_spcComm_spcWS_JP_CreateConsumerCaseMU_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="psSourceID" type="xsd:string"/>
                        <xsd:element name="psMalwareName" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psSerialNo" type="xsd:string"/>
                        <xsd:element name="psCenterType" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psSourceSystem" type="xsd:string"/>
                        <xsd:element name="psVersion" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psCustomerTelNo" type="xsd:string"/>
                        <xsd:element name="psInternalSubmitterNTAccount" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psPattern" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psContractType" type="xsd:string"/>
                        <xsd:element name="psCustomerEmail" type="xsd:string"/>
                        <xsd:element name="psActivityBody" type="xsd:string"/>
                        <xsd:element name="psOS" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psPortalType" type="xsd:string"/>
                        <xsd:element name="psSourceTime" type="xsd:string"/>
                        <xsd:element name="psTitle" type="xsd:string"/>
                        <xsd:element name="psDescription" type="xsd:string"/>
                        <xsd:element name="psScanEngine" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psSupportType" type="xsd:string"/>
                        <xsd:element name="psUrgency" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psMacAddress" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psCustomerFullName" type="xsd:string"/>
                        <xsd:element name="psProductGIC" type="xsd:string"/>
                        <xsd:element name="psSRType" minOccurs="0" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="JP-TS_spcComm_spcWS_JP_CreateConsumerCaseMU_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="psActId" type="xsd:string"/>
                        <xsd:element name="psError" type="xsd:string"/>
                        <xsd:element name="psSRNumber" type="xsd:string"/>
                        <xsd:element name="psStatus" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="JP-TS_spcComm_spcWS_JP_CloseCorporateCase_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="psSRNumber" type="xsd:string"/>
                        <xsd:element name="psSRSubStatus" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="JP-TS_spcComm_spcWS_JP_CloseCorporateCase_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="NumOutputObjects" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psError" type="xsd:string"/>
                        <xsd:element name="psStatus" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="JP-TS_spcComm_spcWS_JP_UpdateCorporateRTL_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="psServiceId" type="xsd:string"/>
                        <xsd:element name="psFileNumber" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psSourceId" type="xsd:string"/>
                        <xsd:element name="psFileName" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psSendMode" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psProcessStatus" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psMessage" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psSRType" minOccurs="0" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="JP-TS_spcComm_spcWS_JP_UpdateCorporateRTL_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="psError" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="psStatus" minOccurs="0" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="JP-TS_spcComm_spcWS_JP_CreateConsumerCase_Input">
        <part name="JP-TS_spcComm_spcWS_JP_CreateConsumerCase_Input" element="tns:JP-TS_spcComm_spcWS_JP_CreateConsumerCase_Input"/>
    </message>
    <message name="JP-TS_spcComm_spcWS_JP_CreateConsumerCase_Output">
        <part name="JP-TS_spcComm_spcWS_JP_CreateConsumerCase_Output" element="tns:JP-TS_spcComm_spcWS_JP_CreateConsumerCase_Output"/>
    </message>
    <message name="JP-TS_spcComm_spcWS_JP_GenericEmailInbound_Input">
        <part name="JP-TS_spcComm_spcWS_JP_GenericEmailInbound_Input" element="tns:JP-TS_spcComm_spcWS_JP_GenericEmailInbound_Input"/>
    </message>
    <message name="JP-TS_spcComm_spcWS_JP_GenericEmailInbound_Output">
        <part name="JP-TS_spcComm_spcWS_JP_GenericEmailInbound_Output" element="tns:JP-TS_spcComm_spcWS_JP_GenericEmailInbound_Output"/>
    </message>
    <message name="JP-TS_spcComm_spcWS_JP_CreateConsumerChatCaseMU_Input">
        <part name="JP-TS_spcComm_spcWS_JP_CreateConsumerChatCaseMU_Input" element="tns:JP-TS_spcComm_spcWS_JP_CreateConsumerChatCaseMU_Input"/>
    </message>
    <message name="JP-TS_spcComm_spcWS_JP_CreateConsumerChatCaseMU_Output">
        <part name="JP-TS_spcComm_spcWS_JP_CreateConsumerChatCaseMU_Output" element="tns:JP-TS_spcComm_spcWS_JP_CreateConsumerChatCaseMU_Output"/>
    </message>
    <message name="JP-TS_spcComm_spcWS_JP_QueryConsumerCaseRTL_Input">
        <part name="JP-TS_spcComm_spcWS_JP_QueryConsumerCaseRTL_Input" element="tns:JP-TS_spcComm_spcWS_JP_QueryConsumerCaseRTL_Input"/>
    </message>
    <message name="JP-TS_spcComm_spcWS_JP_QueryConsumerCaseRTL_Output">
        <part name="JP-TS_spcComm_spcWS_JP_QueryConsumerCaseRTL_Output" element="tns:JP-TS_spcComm_spcWS_JP_QueryConsumerCaseRTL_Output"/>
    </message>
    <message name="JP-TS_spcComm_spcWS_JP_CreateCorporateCaseActivity_Input">
        <part name="JP-TS_spcComm_spcWS_JP_CreateCorporateCaseActivity_Input" element="tns:JP-TS_spcComm_spcWS_JP_CreateCorporateCaseActivity_Input"/>
    </message>
    <message name="JP-TS_spcComm_spcWS_JP_CreateCorporateCaseActivity_Output">
        <part name="JP-TS_spcComm_spcWS_JP_CreateCorporateCaseActivity_Output" element="tns:JP-TS_spcComm_spcWS_JP_CreateCorporateCaseActivity_Output"/>
    </message>
    <message name="JP-TS_spcComm_spcWS_JP_CreateCorporateChatCase_Input">
        <part name="JP-TS_spcComm_spcWS_JP_CreateCorporateChatCase_Input" element="tns:JP-TS_spcComm_spcWS_JP_CreateCorporateChatCase_Input"/>
    </message>
    <message name="JP-TS_spcComm_spcWS_JP_CreateCorporateChatCase_Output">
        <part name="JP-TS_spcComm_spcWS_JP_CreateCorporateChatCase_Output" element="tns:JP-TS_spcComm_spcWS_JP_CreateCorporateChatCase_Output"/>
    </message>
    <message name="JP-TS_spcComm_spcWS_JP_QuerySR_Input">
        <part name="JP-TS_spcComm_spcWS_JP_QuerySR_Input" element="tns:JP-TS_spcComm_spcWS_JP_QuerySR_Input"/>
    </message>
    <message name="JP-TS_spcComm_spcWS_JP_QuerySR_Output">
        <part name="JP-TS_spcComm_spcWS_JP_QuerySR_Output" element="tns:JP-TS_spcComm_spcWS_JP_QuerySR_Output"/>
    </message>
    <message name="JP-TS_spcComm_spcWS_JP_UpdateConsumerCase_Input">
        <part name="JP-TS_spcComm_spcWS_JP_UpdateConsumerCase_Input" element="tns:JP-TS_spcComm_spcWS_JP_UpdateConsumerCase_Input"/>
    </message>
    <message name="JP-TS_spcComm_spcWS_JP_UpdateConsumerCase_Output">
        <part name="JP-TS_spcComm_spcWS_JP_UpdateConsumerCase_Output" element="tns:JP-TS_spcComm_spcWS_JP_UpdateConsumerCase_Output"/>
    </message>
    <message name="JP-TS_spcComm_spcWS_JP_RunWorkflow_Input">
        <part name="JP-TS_spcComm_spcWS_JP_RunWorkflow_Input" element="tns:JP-TS_spcComm_spcWS_JP_RunWorkflow_Input"/>
    </message>
    <message name="JP-TS_spcComm_spcWS_JP_RunWorkflow_Output">
        <part name="JP-TS_spcComm_spcWS_JP_RunWorkflow_Output" element="tns:JP-TS_spcComm_spcWS_JP_RunWorkflow_Output"/>
    </message>
    <message name="JP-TS_spcComm_spcWS_JP_CreateAttachment_Input">
        <part name="JP-TS_spcComm_spcWS_JP_CreateAttachment_Input" element="tns:JP-TS_spcComm_spcWS_JP_CreateAttachment_Input"/>
    </message>
    <message name="JP-TS_spcComm_spcWS_JP_CreateAttachment_Output">
        <part name="JP-TS_spcComm_spcWS_JP_CreateAttachment_Output" element="tns:JP-TS_spcComm_spcWS_JP_CreateAttachment_Output"/>
    </message>
    <message name="JP-TS_spcComm_spcWS_JP_CreateConsumerCaseActivity_Input">
        <part name="JP-TS_spcComm_spcWS_JP_CreateConsumerCaseActivity_Input" element="tns:JP-TS_spcComm_spcWS_JP_CreateConsumerCaseActivity_Input"/>
    </message>
    <message name="JP-TS_spcComm_spcWS_JP_CreateConsumerCaseActivity_Output">
        <part name="JP-TS_spcComm_spcWS_JP_CreateConsumerCaseActivity_Output" element="tns:JP-TS_spcComm_spcWS_JP_CreateConsumerCaseActivity_Output"/>
    </message>
    <message name="JP-TS_spcComm_spcWS_JP_QueryCaseRTL_Input">
        <part name="JP-TS_spcComm_spcWS_JP_QueryCaseRTL_Input" element="tns:JP-TS_spcComm_spcWS_JP_QueryCaseRTL_Input"/>
    </message>
    <message name="JP-TS_spcComm_spcWS_JP_QueryCaseRTL_Output">
        <part name="JP-TS_spcComm_spcWS_JP_QueryCaseRTL_Output" element="tns:JP-TS_spcComm_spcWS_JP_QueryCaseRTL_Output"/>
    </message>
    <message name="JP-TS_spcComm_spcWS_JP_UpdateConsumerRTL_Input">
        <part name="JP-TS_spcComm_spcWS_JP_UpdateConsumerRTL_Input" element="tns:JP-TS_spcComm_spcWS_JP_UpdateConsumerRTL_Input"/>
    </message>
    <message name="JP-TS_spcComm_spcWS_JP_UpdateConsumerRTL_Output">
        <part name="JP-TS_spcComm_spcWS_JP_UpdateConsumerRTL_Output" element="tns:JP-TS_spcComm_spcWS_JP_UpdateConsumerRTL_Output"/>
    </message>
    <message name="JP-TS_spcComm_spcWS_JP_CreateConsumerChatCase_Input">
        <part name="JP-TS_spcComm_spcWS_JP_CreateConsumerChatCase_Input" element="tns:JP-TS_spcComm_spcWS_JP_CreateConsumerChatCase_Input"/>
    </message>
    <message name="JP-TS_spcComm_spcWS_JP_CreateConsumerChatCase_Output">
        <part name="JP-TS_spcComm_spcWS_JP_CreateConsumerChatCase_Output" element="tns:JP-TS_spcComm_spcWS_JP_CreateConsumerChatCase_Output"/>
    </message>
    <message name="JP-TS_spcComm_spcWS_JP_CreateCorporateCase_Input">
        <part name="JP-TS_spcComm_spcWS_JP_CreateCorporateCase_Input" element="tns:JP-TS_spcComm_spcWS_JP_CreateCorporateCase_Input"/>
    </message>
    <message name="JP-TS_spcComm_spcWS_JP_CreateCorporateCase_Output">
        <part name="JP-TS_spcComm_spcWS_JP_CreateCorporateCase_Output" element="tns:JP-TS_spcComm_spcWS_JP_CreateCorporateCase_Output"/>
    </message>
    <message name="JP-TS_spcComm_spcWS_JP_QueryCase_Input">
        <part name="JP-TS_spcComm_spcWS_JP_QueryCase_Input" element="tns:JP-TS_spcComm_spcWS_JP_QueryCase_Input"/>
    </message>
    <message name="JP-TS_spcComm_spcWS_JP_QueryCase_Output">
        <part name="JP-TS_spcComm_spcWS_JP_QueryCase_Output" element="tns:JP-TS_spcComm_spcWS_JP_QueryCase_Output"/>
    </message>
    <message name="JP-TS_spcComm_spcWS_QueryCorporateCaseRTL_Input">
        <part name="JP-TS_spcComm_spcWS_QueryCorporateCaseRTL_Input" element="tns:JP-TS_spcComm_spcWS_QueryCorporateCaseRTL_Input"/>
    </message>
    <message name="JP-TS_spcComm_spcWS_QueryCorporateCaseRTL_Output">
        <part name="JP-TS_spcComm_spcWS_QueryCorporateCaseRTL_Output" element="tns:JP-TS_spcComm_spcWS_QueryCorporateCaseRTL_Output"/>
    </message>
    <message name="JP-TS_spcComm_spcWS_JP_UpdateCorporateCase_Input">
        <part name="JP-TS_spcComm_spcWS_JP_UpdateCorporateCase_Input" element="tns:JP-TS_spcComm_spcWS_JP_UpdateCorporateCase_Input"/>
    </message>
    <message name="JP-TS_spcComm_spcWS_JP_UpdateCorporateCase_Output">
        <part name="JP-TS_spcComm_spcWS_JP_UpdateCorporateCase_Output" element="tns:JP-TS_spcComm_spcWS_JP_UpdateCorporateCase_Output"/>
    </message>
    <message name="JP-TS_spcComm_spcWS_JP_CreateConsumerCaseMU_Input">
        <part name="JP-TS_spcComm_spcWS_JP_CreateConsumerCaseMU_Input" element="tns:JP-TS_spcComm_spcWS_JP_CreateConsumerCaseMU_Input"/>
    </message>
    <message name="JP-TS_spcComm_spcWS_JP_CreateConsumerCaseMU_Output">
        <part name="JP-TS_spcComm_spcWS_JP_CreateConsumerCaseMU_Output" element="tns:JP-TS_spcComm_spcWS_JP_CreateConsumerCaseMU_Output"/>
    </message>
    <message name="JP-TS_spcComm_spcWS_JP_CloseCorporateCase_Input">
        <part name="JP-TS_spcComm_spcWS_JP_CloseCorporateCase_Input" element="tns:JP-TS_spcComm_spcWS_JP_CloseCorporateCase_Input"/>
    </message>
    <message name="JP-TS_spcComm_spcWS_JP_CloseCorporateCase_Output">
        <part name="JP-TS_spcComm_spcWS_JP_CloseCorporateCase_Output" element="tns:JP-TS_spcComm_spcWS_JP_CloseCorporateCase_Output"/>
    </message>
    <message name="JP-TS_spcComm_spcWS_JP_UpdateCorporateRTL_Input">
        <part name="JP-TS_spcComm_spcWS_JP_UpdateCorporateRTL_Input" element="tns:JP-TS_spcComm_spcWS_JP_UpdateCorporateRTL_Input"/>
    </message>
    <message name="JP-TS_spcComm_spcWS_JP_UpdateCorporateRTL_Output">
        <part name="JP-TS_spcComm_spcWS_JP_UpdateCorporateRTL_Output" element="tns:JP-TS_spcComm_spcWS_JP_UpdateCorporateRTL_Output"/>
    </message>
    <portType name="JP-Comm_spcWS">
        <operation name="JP_CreateConsumerCase">
            <input message="tns:JP-TS_spcComm_spcWS_JP_CreateConsumerCase_Input"/>
            <output message="tns:JP-TS_spcComm_spcWS_JP_CreateConsumerCase_Output"/>
        </operation>
        <operation name="JP_GenericEmailInbound">
            <input message="tns:JP-TS_spcComm_spcWS_JP_GenericEmailInbound_Input"/>
            <output message="tns:JP-TS_spcComm_spcWS_JP_GenericEmailInbound_Output"/>
        </operation>
        <operation name="JP_CreateConsumerChatCaseMU">
            <input message="tns:JP-TS_spcComm_spcWS_JP_CreateConsumerChatCaseMU_Input"/>
            <output message="tns:JP-TS_spcComm_spcWS_JP_CreateConsumerChatCaseMU_Output"/>
        </operation>
        <operation name="JP_QueryConsumerCaseRTL">
            <input message="tns:JP-TS_spcComm_spcWS_JP_QueryConsumerCaseRTL_Input"/>
            <output message="tns:JP-TS_spcComm_spcWS_JP_QueryConsumerCaseRTL_Output"/>
        </operation>
        <operation name="JP_CreateCorporateCaseActivity">
            <input message="tns:JP-TS_spcComm_spcWS_JP_CreateCorporateCaseActivity_Input"/>
            <output message="tns:JP-TS_spcComm_spcWS_JP_CreateCorporateCaseActivity_Output"/>
        </operation>
        <operation name="JP_CreateCorporateChatCase">
            <input message="tns:JP-TS_spcComm_spcWS_JP_CreateCorporateChatCase_Input"/>
            <output message="tns:JP-TS_spcComm_spcWS_JP_CreateCorporateChatCase_Output"/>
        </operation>
        <operation name="JP_QuerySR">
            <input message="tns:JP-TS_spcComm_spcWS_JP_QuerySR_Input"/>
            <output message="tns:JP-TS_spcComm_spcWS_JP_QuerySR_Output"/>
        </operation>
        <operation name="JP_UpdateConsumerCase">
            <input message="tns:JP-TS_spcComm_spcWS_JP_UpdateConsumerCase_Input"/>
            <output message="tns:JP-TS_spcComm_spcWS_JP_UpdateConsumerCase_Output"/>
        </operation>
        <operation name="JP_RunWorkflow">
            <input message="tns:JP-TS_spcComm_spcWS_JP_RunWorkflow_Input"/>
            <output message="tns:JP-TS_spcComm_spcWS_JP_RunWorkflow_Output"/>
        </operation>
        <operation name="JP_CreateAttachment">
            <input message="tns:JP-TS_spcComm_spcWS_JP_CreateAttachment_Input"/>
            <output message="tns:JP-TS_spcComm_spcWS_JP_CreateAttachment_Output"/>
        </operation>
        <operation name="JP_CreateConsumerCaseActivity">
            <input message="tns:JP-TS_spcComm_spcWS_JP_CreateConsumerCaseActivity_Input"/>
            <output message="tns:JP-TS_spcComm_spcWS_JP_CreateConsumerCaseActivity_Output"/>
        </operation>
        <operation name="JP_QueryCaseRTL">
            <input message="tns:JP-TS_spcComm_spcWS_JP_QueryCaseRTL_Input"/>
            <output message="tns:JP-TS_spcComm_spcWS_JP_QueryCaseRTL_Output"/>
        </operation>
        <operation name="JP_UpdateConsumerRTL">
            <input message="tns:JP-TS_spcComm_spcWS_JP_UpdateConsumerRTL_Input"/>
            <output message="tns:JP-TS_spcComm_spcWS_JP_UpdateConsumerRTL_Output"/>
        </operation>
        <operation name="JP_CreateConsumerChatCase">
            <input message="tns:JP-TS_spcComm_spcWS_JP_CreateConsumerChatCase_Input"/>
            <output message="tns:JP-TS_spcComm_spcWS_JP_CreateConsumerChatCase_Output"/>
        </operation>
        <operation name="JP_CreateCorporateCase">
            <input message="tns:JP-TS_spcComm_spcWS_JP_CreateCorporateCase_Input"/>
            <output message="tns:JP-TS_spcComm_spcWS_JP_CreateCorporateCase_Output"/>
        </operation>
        <operation name="JP_QueryCase">
            <input message="tns:JP-TS_spcComm_spcWS_JP_QueryCase_Input"/>
            <output message="tns:JP-TS_spcComm_spcWS_JP_QueryCase_Output"/>
        </operation>
        <operation name="QueryCorporateCaseRTL">
            <input message="tns:JP-TS_spcComm_spcWS_QueryCorporateCaseRTL_Input"/>
            <output message="tns:JP-TS_spcComm_spcWS_QueryCorporateCaseRTL_Output"/>
        </operation>
        <operation name="JP_UpdateCorporateCase">
            <input message="tns:JP-TS_spcComm_spcWS_JP_UpdateCorporateCase_Input"/>
            <output message="tns:JP-TS_spcComm_spcWS_JP_UpdateCorporateCase_Output"/>
        </operation>
        <operation name="JP_CreateConsumerCaseMU">
            <input message="tns:JP-TS_spcComm_spcWS_JP_CreateConsumerCaseMU_Input"/>
            <output message="tns:JP-TS_spcComm_spcWS_JP_CreateConsumerCaseMU_Output"/>
        </operation>
        <operation name="JP_CloseCorporateCase">
            <input message="tns:JP-TS_spcComm_spcWS_JP_CloseCorporateCase_Input"/>
            <output message="tns:JP-TS_spcComm_spcWS_JP_CloseCorporateCase_Output"/>
        </operation>
        <operation name="JP_UpdateCorporateRTL">
            <input message="tns:JP-TS_spcComm_spcWS_JP_UpdateCorporateRTL_Input"/>
            <output message="tns:JP-TS_spcComm_spcWS_JP_UpdateCorporateRTL_Output"/>
        </operation>
    </portType>
    <binding name="JP-Comm_spcWS" type="tns:JP-Comm_spcWS">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="JP_CreateConsumerCase">
            <soap:operation soapAction="document/JP Common WS:JP_CreateConsumerCase"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="JP_GenericEmailInbound">
            <soap:operation soapAction="document/JP Common WS:JP_GenericEmailInbound"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="JP_CreateConsumerChatCaseMU">
            <soap:operation soapAction="document/JP Common WS:JP_CreateConsumerChatCaseMU"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="JP_QueryConsumerCaseRTL">
            <soap:operation soapAction="document/JP Common WS:JP_QueryConsumerCaseRTL"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="JP_CreateCorporateCaseActivity">
            <soap:operation soapAction="document/JP Common WS:JP_CreateCorporateCaseActivity"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="JP_CreateCorporateChatCase">
            <soap:operation soapAction="document/JP Common WS:JP_CreateCorporateChatCase"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="JP_QuerySR">
            <soap:operation soapAction="document/JP Common WS:JP_QuerySR"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="JP_UpdateConsumerCase">
            <soap:operation soapAction="document/JP Common WS:JP_UpdateConsumerCase"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="JP_RunWorkflow">
            <soap:operation soapAction="document/JP Common WS:JP_RunWorkflow"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="JP_CreateAttachment">
            <soap:operation soapAction="document/JP Common WS:JP_CreateAttachment"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="JP_CreateConsumerCaseActivity">
            <soap:operation soapAction="document/JP Common WS:JP_CreateConsumerCaseActivity"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="JP_QueryCaseRTL">
            <soap:operation soapAction="document/JP Common WS:JP_QueryCaseRTL"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="JP_UpdateConsumerRTL">
            <soap:operation soapAction="document/JP Common WS:JP_UpdateConsumerRTL"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="JP_CreateConsumerChatCase">
            <soap:operation soapAction="document/JP Common WS:JP_CreateConsumerChatCase"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="JP_CreateCorporateCase">
            <soap:operation soapAction="document/JP Common WS:JP_CreateCorporateCase"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="JP_QueryCase">
            <soap:operation soapAction="document/JP Common WS:JP_QueryCase"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="QueryCorporateCaseRTL">
            <soap:operation soapAction="document/JP Common WS:QueryCorporateCaseRTL"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="JP_UpdateCorporateCase">
            <soap:operation soapAction="document/JP Common WS:JP_UpdateCorporateCase"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="JP_CreateConsumerCaseMU">
            <soap:operation soapAction="document/JP Common WS:JP_CreateConsumerCaseMU"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="JP_CloseCorporateCase">
            <soap:operation soapAction="document/JP Common WS:JP_CloseCorporateCase"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="JP_UpdateCorporateRTL">
            <soap:operation soapAction="document/JP Common WS:JP_UpdateCorporateRTL"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="JP_spcCommon_spcWS">
        <port binding="tns:JP-Comm_spcWS" name="JP-Comm_spcWS">
            <soap:address location="http://gccmain-stg.trendmicro.com/eai_enu/start.swe?SWEExtSource=WebService&amp;SWEExtCmd=Execute"/>
        </port>
    </service>
</definitions>