G2PortalEventSerivce/WSDL/Provider/AMSS Task Common WS_AMSS Task Common WS.WSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="AMSS Task Common WS" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal1="http://www.siebel.com/xml/AMSS%20Task%20Attachment%20IO" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="AMSS Task Common WS">
    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal1="http://www.siebel.com/xml/AMSS%20Task%20Attachment%20IO" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://www.siebel.com/xml/AMSS%20Task%20Attachment%20IO">
            <xsd:annotation>
                <xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation>
            </xsd:annotation>
            <xsd:element name="ListOfAmssTaskAttachmentIo" type="xsdLocal1:ListOfAmssTaskAttachmentIo"/>
            <xsd:complexType name="ListOfAmssTaskAttachmentIoTopElmt">
                <xsd:sequence>
                    <xsd:element name="ListOfAmssTaskAttachmentIo" maxOccurs="1" minOccurs="1" type="xsdLocal1:ListOfAmssTaskAttachmentIo"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListOfAmssTaskAttachmentIo">
                <xsd:sequence>
                    <xsd:element name="AmssTask-Lite" maxOccurs="unbounded" minOccurs="0" type="xsdLocal1:AmssTask-Lite"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AmssTask-Lite">
                <xsd:sequence>
                    <xsd:element name="Id" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="Searchspec" maxOccurs="1" minOccurs="0" type="xsdLocal1:string250"/>
                    <xsd:element name="ActivityId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="ActivityUID" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="ListOfActionAttachment" maxOccurs="1" minOccurs="0" type="xsdLocal1:ListOfActionAttachment"/>
                </xsd:sequence>
                <xsd:attribute name="operation" type="xsd:string"/>
            </xsd:complexType>
            <xsd:complexType name="ListOfActionAttachment">
                <xsd:sequence>
                    <xsd:element name="ActionAttachment" maxOccurs="unbounded" minOccurs="0" type="xsdLocal1:ActionAttachment"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ActionAttachment">
                <xsd:sequence>
                    <xsd:element name="Id" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="Searchspec" maxOccurs="1" minOccurs="0" type="xsdLocal1:string250"/>
                    <xsd:element name="ActivityId" maxOccurs="1" minOccurs="1" type="xsd:string"/>
                    <xsd:element name="ActivityFileExt" maxOccurs="1" minOccurs="0" type="xsdLocal1:string10"/>
                    <xsd:element name="ActivityFileName" maxOccurs="1" minOccurs="1" type="xsdLocal1:string200"/>
                    <xsd:element name="ActivityFileSrcPath" maxOccurs="1" minOccurs="0" type="xsdLocal1:string220"/>
                    <xsd:element name="ActivityFileSrcType" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="Comment" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="MailAttachmentType" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="ActivityFileBuffer" maxOccurs="1" minOccurs="0" type="xsd:base64Binary"/>
                </xsd:sequence>
                <xsd:attribute name="operation" type="xsd:string"/>
            </xsd:complexType>
            <xsd:simpleType name="string250">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="250"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string10">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="10"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string30">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string200">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="200"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string220">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="220"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="AMSS Task Common WS">
            <xsd:import namespace="http://www.siebel.com/xml/AMSS%20Task%20Attachment%20IO"/>
            <xsd:element name="AMSS_spcTask_spcCommon_spcWS_CreateTaskAttachment_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="xsdLocal1:ListOfAmssTaskAttachmentIo"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="AMSS_spcTask_spcCommon_spcWS_CreateTaskAttachment_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Error" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="Status" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="AMSS_spcTask_spcCommon_spcWS_InboundFeedback_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="SHA1" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="FTPLocation" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="FirstName" type="xsd:string"/>
                        <xsd:element name="Segment" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="ParentTaskId" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="SourceReferenceNumber" type="xsd:string"/>
                        <xsd:element name="PatternVersion" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="PatternBranch" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="Title" type="xsd:string"/>
                        <xsd:element name="Country" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="FileName" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="Entitlement" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="LastName" type="xsd:string"/>
                        <xsd:element name="OS" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="Product" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="Source" type="xsd:string"/>
                        <xsd:element name="SubmitDate" type="xsd:string"/>
                        <xsd:element name="FileSize" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="Description" type="xsd:string"/>
                        <xsd:element name="Email" type="xsd:string"/>
                        <xsd:element name="MD5" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="Region" minOccurs="0" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="AMSS_spcTask_spcCommon_spcWS_InboundFeedback_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Error" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="ReceivedDate" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="Status" type="xsd:string"/>
                        <xsd:element name="TaskId" minOccurs="0" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="AMSS_spcTask_spcCommon_spcWS_InboundTask_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="SHA1" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="SRNumber" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="FirstName" type="xsd:string"/>
                        <xsd:element name="Segment" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="FTPLocation" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="HeadsUp" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="ParentTaskId" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="OriginalType" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="JPOwner" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="TaskLabel" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="SourceReferenceNumber" type="xsd:string"/>
                        <xsd:element name="SourceId" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="SRType" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="PanelType" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="IsAMEX" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="PatternVersion" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="ServiceLevel" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="Title" type="xsd:string"/>
                        <xsd:element name="PatternBranch" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="MessageKey" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="EscalatedByLoginName" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="JPPanel" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="Type" type="xsd:string"/>
                        <xsd:element name="Country" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="FileName" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="LastName" type="xsd:string"/>
                        <xsd:element name="OS" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="Entitlement" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="PatternFlag" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="TAMEmail" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="Priority" type="xsd:string"/>
                        <xsd:element name="Source" type="xsd:string"/>
                        <xsd:element name="SubmitDate" type="xsd:string"/>
                        <xsd:element name="Product" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="FileSize" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="ParentThreatServiceId" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="Email" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="Description" type="xsd:string"/>
                        <xsd:element name="Region" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="MD5" minOccurs="0" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="AMSS_spcTask_spcCommon_spcWS_InboundTask_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Error" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="ReceivedDate" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="Status" type="xsd:string"/>
                        <xsd:element name="TaskId" minOccurs="0" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="AMSS_spcTask_spcCommon_spcWS_ProcessFailedTransaction_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="QueueId" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="AMSS_spcTask_spcCommon_spcWS_ProcessFailedTransaction_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Error" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="Status" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="AMSS_spcTask_spcCommon_spcWS_InboundQAResult_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="DeliverableRejectReason" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="DeliverableStatus" type="xsd:string"/>
                        <xsd:element name="TaskId" type="xsd:string"/>
                        <xsd:element name="UpdatedBy" minOccurs="0" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="AMSS_spcTask_spcCommon_spcWS_InboundQAResult_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Error" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="Status" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="AMSS_spcTask_spcCommon_spcWS_InboundVESResult_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="DetectionName" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="TaskId" type="xsd:string"/>
                        <xsd:element name="AnalysisResult" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="AMSS_spcTask_spcCommon_spcWS_InboundVESResult_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Error" minOccurs="0" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="AMSS_spcTask_spcCommon_spcWS_InboundTaskUpdate_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Notes" type="xsd:string"/>
                        <xsd:element name="TaskId" type="xsd:string"/>
                        <xsd:element name="UpdatedBy" type="xsd:string"/>
                        <xsd:element name="Visibility" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="Source" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="AMSS_spcTask_spcCommon_spcWS_InboundTaskUpdate_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Error" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="ReceivedDate" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="Status" type="xsd:string"/>
                        <xsd:element name="TaskId" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="AMSS_spcTask_spcCommon_spcWS_AutoCloseTask_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="TaskId" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="AMSS_spcTask_spcCommon_spcWS_AutoCloseTask_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Error" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="Status" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="AMSS_spcTask_spcCommon_spcWS_InboundTaskFieldUpdate_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="SHA1" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="Notes" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="FTPLocation" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="DeliverableFTPLocation" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="DeliverableStatus" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="MalwareName" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="Owner" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="DeliverableType" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="TaskId" type="xsd:string"/>
                        <xsd:element name="Priority" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="MD5" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="SampleCount" minOccurs="0" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="AMSS_spcTask_spcCommon_spcWS_InboundTaskFieldUpdate_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Error" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="Status" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="AMSS_spcTask_spcCommon_spcWS_CreateTaskAttachment_Input">
        <part name="AMSS_spcTask_spcCommon_spcWS_CreateTaskAttachment_Input" element="tns:AMSS_spcTask_spcCommon_spcWS_CreateTaskAttachment_Input"/>
    </message>
    <message name="AMSS_spcTask_spcCommon_spcWS_CreateTaskAttachment_Output">
        <part name="AMSS_spcTask_spcCommon_spcWS_CreateTaskAttachment_Output" element="tns:AMSS_spcTask_spcCommon_spcWS_CreateTaskAttachment_Output"/>
    </message>
    <message name="AMSS_spcTask_spcCommon_spcWS_InboundFeedback_Input">
        <part name="AMSS_spcTask_spcCommon_spcWS_InboundFeedback_Input" element="tns:AMSS_spcTask_spcCommon_spcWS_InboundFeedback_Input"/>
    </message>
    <message name="AMSS_spcTask_spcCommon_spcWS_InboundFeedback_Output">
        <part name="AMSS_spcTask_spcCommon_spcWS_InboundFeedback_Output" element="tns:AMSS_spcTask_spcCommon_spcWS_InboundFeedback_Output"/>
    </message>
    <message name="AMSS_spcTask_spcCommon_spcWS_InboundTask_Input">
        <part name="AMSS_spcTask_spcCommon_spcWS_InboundTask_Input" element="tns:AMSS_spcTask_spcCommon_spcWS_InboundTask_Input"/>
    </message>
    <message name="AMSS_spcTask_spcCommon_spcWS_InboundTask_Output">
        <part name="AMSS_spcTask_spcCommon_spcWS_InboundTask_Output" element="tns:AMSS_spcTask_spcCommon_spcWS_InboundTask_Output"/>
    </message>
    <message name="AMSS_spcTask_spcCommon_spcWS_ProcessFailedTransaction_Input">
        <part name="AMSS_spcTask_spcCommon_spcWS_ProcessFailedTransaction_Input" element="tns:AMSS_spcTask_spcCommon_spcWS_ProcessFailedTransaction_Input"/>
    </message>
    <message name="AMSS_spcTask_spcCommon_spcWS_ProcessFailedTransaction_Output">
        <part name="AMSS_spcTask_spcCommon_spcWS_ProcessFailedTransaction_Output" element="tns:AMSS_spcTask_spcCommon_spcWS_ProcessFailedTransaction_Output"/>
    </message>
    <message name="AMSS_spcTask_spcCommon_spcWS_InboundQAResult_Input">
        <part name="AMSS_spcTask_spcCommon_spcWS_InboundQAResult_Input" element="tns:AMSS_spcTask_spcCommon_spcWS_InboundQAResult_Input"/>
    </message>
    <message name="AMSS_spcTask_spcCommon_spcWS_InboundQAResult_Output">
        <part name="AMSS_spcTask_spcCommon_spcWS_InboundQAResult_Output" element="tns:AMSS_spcTask_spcCommon_spcWS_InboundQAResult_Output"/>
    </message>
    <message name="AMSS_spcTask_spcCommon_spcWS_InboundVESResult_Input">
        <part name="AMSS_spcTask_spcCommon_spcWS_InboundVESResult_Input" element="tns:AMSS_spcTask_spcCommon_spcWS_InboundVESResult_Input"/>
    </message>
    <message name="AMSS_spcTask_spcCommon_spcWS_InboundVESResult_Output">
        <part name="AMSS_spcTask_spcCommon_spcWS_InboundVESResult_Output" element="tns:AMSS_spcTask_spcCommon_spcWS_InboundVESResult_Output"/>
    </message>
    <message name="AMSS_spcTask_spcCommon_spcWS_InboundTaskUpdate_Input">
        <part name="AMSS_spcTask_spcCommon_spcWS_InboundTaskUpdate_Input" element="tns:AMSS_spcTask_spcCommon_spcWS_InboundTaskUpdate_Input"/>
    </message>
    <message name="AMSS_spcTask_spcCommon_spcWS_InboundTaskUpdate_Output">
        <part name="AMSS_spcTask_spcCommon_spcWS_InboundTaskUpdate_Output" element="tns:AMSS_spcTask_spcCommon_spcWS_InboundTaskUpdate_Output"/>
    </message>
    <message name="AMSS_spcTask_spcCommon_spcWS_AutoCloseTask_Input">
        <part name="AMSS_spcTask_spcCommon_spcWS_AutoCloseTask_Input" element="tns:AMSS_spcTask_spcCommon_spcWS_AutoCloseTask_Input"/>
    </message>
    <message name="AMSS_spcTask_spcCommon_spcWS_AutoCloseTask_Output">
        <part name="AMSS_spcTask_spcCommon_spcWS_AutoCloseTask_Output" element="tns:AMSS_spcTask_spcCommon_spcWS_AutoCloseTask_Output"/>
    </message>
    <message name="AMSS_spcTask_spcCommon_spcWS_InboundTaskFieldUpdate_Input">
        <part name="AMSS_spcTask_spcCommon_spcWS_InboundTaskFieldUpdate_Input" element="tns:AMSS_spcTask_spcCommon_spcWS_InboundTaskFieldUpdate_Input"/>
    </message>
    <message name="AMSS_spcTask_spcCommon_spcWS_InboundTaskFieldUpdate_Output">
        <part name="AMSS_spcTask_spcCommon_spcWS_InboundTaskFieldUpdate_Output" element="tns:AMSS_spcTask_spcCommon_spcWS_InboundTaskFieldUpdate_Output"/>
    </message>
    <portType name="AMSS_spcTask_spcCommon_spcWS">
        <operation name="CreateTaskAttachment">
            <input message="tns:AMSS_spcTask_spcCommon_spcWS_CreateTaskAttachment_Input"/>
            <output message="tns:AMSS_spcTask_spcCommon_spcWS_CreateTaskAttachment_Output"/>
        </operation>
        <operation name="InboundFeedback">
            <input message="tns:AMSS_spcTask_spcCommon_spcWS_InboundFeedback_Input"/>
            <output message="tns:AMSS_spcTask_spcCommon_spcWS_InboundFeedback_Output"/>
        </operation>
        <operation name="InboundTask">
            <input message="tns:AMSS_spcTask_spcCommon_spcWS_InboundTask_Input"/>
            <output message="tns:AMSS_spcTask_spcCommon_spcWS_InboundTask_Output"/>
        </operation>
        <operation name="ProcessFailedTransaction">
            <input message="tns:AMSS_spcTask_spcCommon_spcWS_ProcessFailedTransaction_Input"/>
            <output message="tns:AMSS_spcTask_spcCommon_spcWS_ProcessFailedTransaction_Output"/>
        </operation>
        <operation name="InboundQAResult">
            <input message="tns:AMSS_spcTask_spcCommon_spcWS_InboundQAResult_Input"/>
            <output message="tns:AMSS_spcTask_spcCommon_spcWS_InboundQAResult_Output"/>
        </operation>
        <operation name="InboundVESResult">
            <input message="tns:AMSS_spcTask_spcCommon_spcWS_InboundVESResult_Input"/>
            <output message="tns:AMSS_spcTask_spcCommon_spcWS_InboundVESResult_Output"/>
        </operation>
        <operation name="InboundTaskUpdate">
            <input message="tns:AMSS_spcTask_spcCommon_spcWS_InboundTaskUpdate_Input"/>
            <output message="tns:AMSS_spcTask_spcCommon_spcWS_InboundTaskUpdate_Output"/>
        </operation>
        <operation name="AutoCloseTask">
            <input message="tns:AMSS_spcTask_spcCommon_spcWS_AutoCloseTask_Input"/>
            <output message="tns:AMSS_spcTask_spcCommon_spcWS_AutoCloseTask_Output"/>
        </operation>
        <operation name="InboundTaskFieldUpdate">
            <input message="tns:AMSS_spcTask_spcCommon_spcWS_InboundTaskFieldUpdate_Input"/>
            <output message="tns:AMSS_spcTask_spcCommon_spcWS_InboundTaskFieldUpdate_Output"/>
        </operation>
    </portType>
    <binding name="AMSS_spcTask_spcCommon_spcWS" type="tns:AMSS_spcTask_spcCommon_spcWS">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="CreateTaskAttachment">
            <soap:operation soapAction="document/AMSS Task Common WS:CreateTaskAttachment"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="InboundFeedback">
            <soap:operation soapAction="document/AMSS Task Common WS:InboundFeedback"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="InboundTask">
            <soap:operation soapAction="document/AMSS Task Common WS:InboundTask"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ProcessFailedTransaction">
            <soap:operation soapAction="document/AMSS Task Common WS:ProcessFailedTransaction"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="InboundQAResult">
            <soap:operation soapAction="document/AMSS Task Common WS:InboundQAResult"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="InboundVESResult">
            <soap:operation soapAction="document/AMSS Task Common WS:InboundVESResult"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="InboundTaskUpdate">
            <soap:operation soapAction="document/AMSS Task Common WS:InboundTaskUpdate"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="AutoCloseTask">
            <soap:operation soapAction="document/AMSS Task Common WS:AutoCloseTask"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="InboundTaskFieldUpdate">
            <soap:operation soapAction="document/AMSS Task Common WS:InboundTaskFieldUpdate"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="AMSS_spcTask_spcCommon_spcWS">
        <port binding="tns:AMSS_spcTask_spcCommon_spcWS" name="AMSS_spcTask_spcCommon_spcWS">
            <soap:address location="http://gccmain-stg.trendmicro.com/eai_enu/start.swe?SWEExtSource=WebService&amp;SWEExtCmd=Execute"/>
        </port>
    </service>
</definitions>