G2PortalEventSerivce/WSDL/Provider/FTPService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns1="http://www.trendmicro.com/ESB/schemas/messageHeader" xmlns:tns="http://xmlns.example.com/1426746867063" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://www.tibco.com/schemas/ESBService/XSD/Client/Schema.xsd" xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:jndi="http://www.tibco.com/namespaces/ws/2004/soap/apis/jndi" name="Untitled" targetNamespace="http://xmlns.example.com/1426746867063">
    <wsdl:types>
        <xs:schema xmlns="http://www.tibco.com/schemas/ESBService/XSD/Client/Schema.xsd" xmlns:ns0="http://www.trendmicro.com/ESB/schemas/messageHeader" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/ESBService/XSD/Client/Schema.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:import namespace="http://www.trendmicro.com/ESB/schemas/messageHeader"/>
            <xs:complexType name="BinaryToFile">
                <xs:sequence>
                    <xs:element name="binarydata" type="xs:base64Binary"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DataToFileType">
                <xs:sequence>
                    <xs:element name="data" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="FTPInfoType">
                <xs:sequence>
                    <xs:element name="transfertype">
                        <xs:complexType>
                            <xs:choice>
                                <xs:element name="binarytofile" type="BinaryToFile"/>
                                <xs:element name="datatofile" type="DataToFileType"/>
                                <xs:element name="filetofile" type="FileToFileType"/>
                            </xs:choice>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="readydir" type="xs:string"/>
                    <xs:element name="savefilename" type="xs:string"/>
                    <xs:element name="host" type="xs:string" minOccurs="0"/>
                    <xs:element name="port" type="xs:string" minOccurs="0"/>
                    <xs:element name="username" type="xs:string" minOccurs="0"/>
                    <xs:element name="password" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="FileToFileType">
                <xs:sequence>
                    <xs:element name="localfile" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Message">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="RequestHeader" type="ns0:RequestHeader"/>
                        <xs:element name="MessageBody" type="FTPInfoType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xsd:schema xmlns="http://www.trendmicro.com/ESB/schemas/messageHeader" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.trendmicro.com/ESB/schemas/messageHeader" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xsd:complexType name="RequestHeader">
                <xsd:sequence>
                    <xsd:element name="MessageKey" type="xsd:string"/>
                    <xsd:element name="ServiceName" type="xsd:string"/>
                    <xsd:element name="ServiceVersion" type="xsd:string"/>
                    <xsd:element name="SourceID" type="xsd:string"/>
                    <xsd:element name="StatusCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RqTimestamp" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RsTimestamp" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="Message">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="RequestHeader" type="ns1:RequestHeader"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:service name="FTPService">
        <wsdl:port name="PortTypeEndpoint1" binding="tns:PortTypeEndpoint1Binding">
            <soap:address location=""/>
            <jms:connectionFactory>QueueConnectionFactory</jms:connectionFactory>
            <jms:targetAddress destination="queue">trend.esb.EIPlatform.FTPTransfer.V1.0</jms:targetAddress>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="PortType">
        <wsdl:operation name="FTPTransfer">
            <wsdl:input message="tns:FTPRequest"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PortTypeEndpoint1Binding" type="tns:PortType">
        <soap:binding style="document" transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS"/>
        <jms:binding messageFormat="Text"/>
        <wsdl:operation name="FTPTransfer">
            <soap:operation style="document" soapAction="/XSD/Client/FTPService.serviceagent/PortTypeEndpoint1/FTPTransfer"/>
            <wsdl:input>
                <soap:body use="literal" parts="Input"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="FTPRequest">
        <wsdl:part name="Input" element="ns0:Message"/>
    </wsdl:message>
</wsdl:definitions>