G2PortalEventSerivce/WSDL/Provider/GCCJP_Service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns9="http://www.tibco.com/schemas/GCCPortal/XSD/GCCJP/Schema.xsd2" xmlns:ns12="http://www.trendmicro.com/ESB/schemas/messageHeader" xmlns:ns5="http://www.tibco.com/schemas/GCCPortal/WSDL/Client/GCCJPXSD/GCCJP_CreateCorpSRCase.xsd" xmlns:ns6="http://www.tibco.com/schemas/GCCPortal/XSD/GCCJP/GCCJPSRCase.xsd" xmlns:ns10="http://www.tibco.com/schemas/GCCPortal/XSD/GCCJP/GCCJPCreateSRAct.xsd" xmlns:ns7="http://www.tibco.com/schemas/GCCPortal/XSD/GCCJP/Schema.xsd" xmlns:ns11="http://www.tibco.com/schemas/GCCPortal/XSD/GCCJP/GCCJPConsSRCase.xsd" xmlns:ns8="http://www.tibco.com/schemas/GCCPortal/XSD/GCCJP/Schema.xsd3" xmlns:ns2="http://www.tibco.com/schemas/GCCPortal/WSDL/Client/GCCJPXSD/Schema.xsd4" xmlns:ns1="http://www.tibco.com/schemas/GCCPortal/WSDL/Client/GCCJPXSD/Schema.xsd" xmlns:ns4="http://www.tibco.com/schemas/GCCPortal/WSDL/Client/GCCJPXSD/Schema.xsd3" xmlns:ns3="http://www.tibco.com/schemas/GCCPortal/WSDL/Client/GCCJPXSD/GCCJP_CreateSRActAndAtt.xsd" xmlns:tns="http://xmlns.example.com/1429586505852" xmlns:ns0="http://www.tibco.com/schemas/GCCPortal/WSDL/Client/GCCJPXSD/Schema.xsd2" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Untitled" targetNamespace="http://xmlns.example.com/1429586505852">
    <wsdl:types>
        <xs:schema xmlns="http://www.tibco.com/schemas/GCCPortal/XSD/GCCJP/GCCJPSRCase.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/GCCPortal/XSD/GCCJP/GCCJPSRCase.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="SRCaseResultType">
                <xs:sequence>
                    <xs:element name="SRID" type="xs:string" minOccurs="0"/>
                    <xs:element name="ActivityID" type="xs:string" minOccurs="0"/>
                    <xs:element name="Status" type="xs:string"/>
                    <xs:element name="Message" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SRCaseRqType">
                <xs:sequence>
                    <xs:element name="SRCase">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="ThreatServiceID" type="xs:string" minOccurs="0"/>
                                <xs:element name="SourceID" type="xs:string" minOccurs="0"/>
                                <xs:element name="Title" type="xs:string" minOccurs="0"/>
                                <xs:element name="SRType" type="xs:string"/>
                                <xs:element name="SourceSystem" type="xs:string"/>
                                <xs:element name="PartnerAccountId" type="xs:string" minOccurs="0"/>
                                <xs:element name="PortalAccName" type="xs:string" minOccurs="0"/>
                                <xs:element name="SourceTime" type="xs:string" minOccurs="0"/>
                                <xs:element name="SRSource" type="xs:string"/>
                                <xs:element name="ProductGIC" type="xs:string" minOccurs="0"/>
                                <xs:element name="ActivationCode" type="xs:string" minOccurs="0"/>
                                <xs:element name="Description" type="xs:string" minOccurs="0"/>
                                <xs:element name="MalwareName" type="xs:string" minOccurs="0"/>
                                <xs:element name="PatternFileNumber" type="xs:string" minOccurs="0"/>
                                <xs:element name="ScanEngineVersion" type="xs:string" minOccurs="0"/>
                                <xs:element name="ProblemCat" type="xs:string" minOccurs="0"/>
                                <xs:element name="APhoneCall" type="xs:string" minOccurs="0"/>
                                <xs:element name="ContactPronunciation" type="xs:string" minOccurs="0"/>
                                <xs:element name="ContactDept" type="xs:string" minOccurs="0"/>
                                <xs:element name="ContactEmail" type="xs:string" minOccurs="0"/>
                                <xs:element name="ContactWorkPhone" type="xs:string" minOccurs="0"/>
                                <xs:element name="ContactName" type="xs:string" minOccurs="0"/>
                                <xs:element name="ActyEmailTO" type="xs:string" minOccurs="0"/>
                                <xs:element name="ActyEmailCC" type="xs:string" minOccurs="0"/>
                                <xs:element name="ActySenderName" type="xs:string" minOccurs="0"/>
                                <xs:element name="ActyPNEmailBody" type="xs:string" minOccurs="0"/>
                                <xs:element name="ActyEmailBody" type="xs:string" minOccurs="0"/>
                                <xs:element name="ActyEmailFormat" type="xs:string" minOccurs="0"/>
                                <xs:element name="ActyType" type="xs:string" minOccurs="0"/>
                                <xs:element name="Segment" type="xs:string" minOccurs="0"/>
                                <xs:element name="SRACRK" type="xs:string" minOccurs="0"/>
                                <xs:element name="SRPattern" type="xs:string" minOccurs="0"/>
                                <xs:element name="ActyEmailAttachFlg" type="xs:string" minOccurs="0"/>
                                <xs:element name="ActySenderAdd" type="xs:string" minOccurs="0"/>
                                <xs:element name="ProductOS" type="xs:string" minOccurs="0"/>
                                <xs:element name="ThreatServiceActyId" type="xs:string" minOccurs="0"/>
                                <xs:element name="Resndflag" type="xs:boolean" minOccurs="0"/>
                                <xs:element name="SRProblemCat2" type="xs:string" minOccurs="0"/>
                                <xs:element name="SRContactMPhone" type="xs:string" minOccurs="0"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns="http://www.tibco.com/schemas/GCCPortal/XSD/GCCJP/Schema.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/GCCPortal/XSD/GCCJP/Schema.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="GCCJPUpdateSRCaseRqType">
                <xs:sequence>
                    <xs:element name="ActyEmailTO" type="xs:string"/>
                    <xs:element name="ActyEmailCC" type="xs:string"/>
                    <xs:element name="ActySenderName" type="xs:string"/>
                    <xs:element name="SourceId" type="xs:string"/>
                    <xs:element name="ActyDesc" type="xs:string"/>
                    <xs:element name="ActyEmailBody" type="xs:string"/>
                    <xs:element name="ActyEmailFormat" type="xs:string"/>
                    <xs:element name="ActyEmailTo" type="xs:string"/>
                    <xs:element name="ActyType" type="xs:string"/>
                    <xs:element name="ActyEmailAttachFlg" type="xs:string"/>
                    <xs:element name="SRNumber" type="xs:string"/>
                    <xs:element name="SRSubStatus" type="xs:string"/>
                    <xs:element name="SRType" type="xs:string"/>
                    <xs:element name="ActySenderAdd" type="xs:string"/>
                    <xs:element name="Source" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GCCJPUpdateSRCaseRsType">
                <xs:sequence>
                    <xs:element name="ActId" type="xs:string"/>
                    <xs:element name="Error" type="xs:string"/>
                    <xs:element name="Status" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns="http://www.tibco.com/schemas/GCCPortal/XSD/GCCJP/Schema.xsd3" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/GCCPortal/XSD/GCCJP/Schema.xsd3" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="GCCJPCreateAccountActivityRqType">
                <xs:sequence>
                    <xs:element name="EndDate" type="xs:string" minOccurs="0"/>
                    <xs:element name="URL" type="xs:string" minOccurs="0"/>
                    <xs:element name="Status" type="xs:string" minOccurs="0"/>
                    <xs:element name="ContactFullName" type="xs:string" minOccurs="0"/>
                    <xs:element name="PortalAccountName" type="xs:string" minOccurs="0"/>
                    <xs:element name="Title" type="xs:string" minOccurs="0"/>
                    <xs:element name="ActivityId" type="xs:string" minOccurs="0"/>
                    <xs:element name="Type" type="xs:string"/>
                    <xs:element name="RelatedSRId" type="xs:string" minOccurs="0"/>
                    <xs:element name="OriginalArchiveName" type="xs:string" minOccurs="0"/>
                    <xs:element name="NeuronId" type="xs:string" minOccurs="0"/>
                    <xs:element name="ArchiveName" type="xs:string" minOccurs="0"/>
                    <xs:element name="Source" type="xs:string"/>
                    <xs:element name="AccountIntegrationId" type="xs:string" minOccurs="0"/>
                    <xs:element name="ActivationCode" type="xs:string" minOccurs="0"/>
                    <xs:element name="Description" type="xs:string" minOccurs="0"/>
                    <xs:element name="StartDate" type="xs:string" minOccurs="0"/>
                    <xs:element name="Email" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GCCJPCreateAccountActivityRsType">
                <xs:sequence>
                    <xs:element name="ActivityId" type="xs:string" minOccurs="0"/>
                    <xs:element name="Result" type="xs:string"/>
                    <xs:element name="ResultMsg" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns="http://www.tibco.com/schemas/GCCPortal/XSD/GCCJP/Schema.xsd2" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/GCCPortal/XSD/GCCJP/Schema.xsd2" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="GCCJPCreateAttachmentRqType">
                <xs:sequence>
                    <xs:element name="ListOfGccIoActionAttachment">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="Action" minOccurs="0" maxOccurs="unbounded">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="Id" type="xs:string" minOccurs="0"/>
                                            <xs:element name="ActivityId" type="xs:string" minOccurs="0"/>
                                            <xs:element name="ActivityUID" type="xs:string" minOccurs="0"/>
                                            <xs:element name="EmailAttachmentFlag" type="xs:string" minOccurs="0"/>
                                            <xs:element name="ListOfActionAttachment" minOccurs="0">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element name="ActionAttachment" minOccurs="0" maxOccurs="unbounded">
                                                            <xs:complexType>
                                                                <xs:sequence>
                                                                    <xs:element name="Id" type="xs:string" minOccurs="0"/>
                                                                    <xs:element name="ActivityId" type="xs:string"/>
                                                                    <xs:element name="ActivityFileExt" type="xs:string" minOccurs="0"/>
                                                                    <xs:element name="ActivityFileName" type="xs:string" minOccurs="0"/>
                                                                    <xs:element name="ActivityFileSrcPath" type="xs:string" minOccurs="0"/>
                                                                    <xs:element name="ActivityFileSrcType" type="xs:string" minOccurs="0"/>
                                                                    <xs:element name="Comment2" type="xs:string" minOccurs="0"/>
                                                                    <xs:element name="MailAttachmentType" type="xs:string" minOccurs="0"/>
                                                                    <xs:element name="ActivityFileBuffer" type="xs:base64Binary" minOccurs="0"/>
                                                                </xs:sequence>
                                                                <xs:attribute name="operation" type="xs:string"/>
                                                                <xs:attribute name="searchspec" type="xs:string"/>
                                                            </xs:complexType>
                                                        </xs:element>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                        <xs:attribute name="operation" type="xs:string"/>
                                        <xs:attribute name="searchspec" type="xs:string"/>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="Souce_ID" type="xs:string"/>
                    <xs:element name="SRNumber" type="xs:string" minOccurs="0"/>
                    <xs:element name="isOpenAttachment" default="true" type="xs:boolean" minOccurs="0"/>
                    <xs:element name="SRType" type="xs:string" minOccurs="0"/>
                    <xs:element name="AMSS_SRType" type="xs:string" minOccurs="0"/>
                    <xs:element name="Malware_Task" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="Priority" type="xs:string"/>
                                <xs:element name="FirstName" type="xs:string"/>
                                <xs:element name="LastName" type="xs:string"/>
                                <xs:element name="EntitlementName" type="xs:string"/>
                                <xs:element name="Email" type="xs:string" minOccurs="0"/>
                                <xs:element name="ProductName" type="xs:string" minOccurs="0"/>
                                <xs:element name="OS" type="xs:string" minOccurs="0"/>
                                <xs:element name="PatternType" type="xs:string" minOccurs="0"/>
                                <xs:element name="PatternVersion" type="xs:string" minOccurs="0"/>
                                <xs:element name="PatternBranch" type="xs:string" minOccurs="0"/>
                                <xs:element name="NeuronId" type="xs:string" minOccurs="0"/>
                                <xs:element name="Country" type="xs:string" minOccurs="0"/>
                                <xs:element name="Region" type="xs:string" minOccurs="0"/>
                                <xs:element name="OpenAMSSFlag" type="xs:string" minOccurs="0"/>
                                <xs:element name="OrgArchFileName" type="xs:string" minOccurs="0"/>
                                <xs:element name="ArchFileSHA1" type="xs:string" minOccurs="0"/>
                                <xs:element name="ArchFileLocaiton" type="xs:string" minOccurs="0"/>
                                <xs:element name="File" minOccurs="0" maxOccurs="unbounded">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="FileID" type="xs:string"/>
                                            <xs:element name="SHA1" type="xs:string"/>
                                            <xs:element name="FileName" type="xs:string"/>
                                            <xs:element name="FileSize" type="xs:string"/>
                                            <xs:element name="FTPLocation" type="xs:string"/>
                                            <xs:element name="AMSSTaskType" type="xs:string"/>
                                            <xs:element name="MD5" type="xs:string" minOccurs="0"/>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="TAMEmail" type="xs:string" minOccurs="0"/>
                                <xs:element name="IsAMEX" type="xs:string" minOccurs="0"/>
                                <xs:element name="OriginalType" type="xs:string" minOccurs="0"/>
                                <xs:element name="TaskLabel" type="xs:string" minOccurs="0"/>
                                <xs:element name="ServiceLevel" type="xs:string" minOccurs="0"/>
                                <xs:element name="SubmitTime" type="xs:string" minOccurs="0"/>
                                <xs:element name="PatternFlag" type="xs:string" minOccurs="0"/>
                                <xs:element name="SRNumber" type="xs:string" minOccurs="0"/>
                                <xs:element name="Descriptionn" type="xs:string" minOccurs="0"/>
                                <xs:element name="AMSSTaskTitle" type="xs:string" minOccurs="0"/>
                                <xs:element name="Source" type="xs:string"/>
                                <xs:element name="JPOwner" type="xs:string" minOccurs="0"/>
                                <xs:element name="SourceID" type="xs:string"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GCCJPCreateAttachmentRsType">
                <xs:sequence>
                    <xs:element name="Status" type="xs:string"/>
                    <xs:element name="ERROR" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns="http://www.tibco.com/schemas/GCCPortal/XSD/GCCJP/GCCJPCreateSRAct.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/GCCPortal/XSD/GCCJP/GCCJPCreateSRAct.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="GCCJPCreateSRActRqType">
                <xs:sequence>
                    <xs:element name="SourceId" type="xs:string"/>
                    <xs:element name="ActivityType" type="xs:string"/>
                    <xs:element name="SRStatus" type="xs:string"/>
                    <xs:element name="UpdateSR" type="xs:string"/>
                    <xs:element name="DoNotCharge" type="xs:string"/>
                    <xs:element name="ProblemCode" type="xs:string"/>
                    <xs:element name="ActyOwner" type="xs:string"/>
                    <xs:element name="ActivityBody" type="xs:string"/>
                    <xs:element name="SRNumber" type="xs:string"/>
                    <xs:element name="SROwner" type="xs:string"/>
                    <xs:element name="SupportType" type="xs:string"/>
                    <xs:element name="Urgency" type="xs:string"/>
                    <xs:element name="Source" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GCCJPCreateSRActRsType">
                <xs:sequence>
                    <xs:element name="ActivityID" type="xs:string" minOccurs="0"/>
                    <xs:element name="Attachments" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="ids" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="Status" type="xs:string"/>
                    <xs:element name="Message" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns="http://www.tibco.com/schemas/GCCPortal/WSDL/Client/GCCJPXSD/Schema.xsd" xmlns:ns1="http://www.tibco.com/schemas/GCCPortal/XSD/GCCJP/Schema.xsd" xmlns:ns0="http://www.trendmicro.com/ESB/schemas/messageHeader" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/GCCPortal/WSDL/Client/GCCJPXSD/Schema.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:import namespace="http://www.trendmicro.com/ESB/schemas/messageHeader"/>
            <xs:import namespace="http://www.tibco.com/schemas/GCCPortal/XSD/GCCJP/Schema.xsd"/>
            <xs:element name="GCCJP_UpdateSRCaseRq">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="RequestHeader" type="ns0:RequestHeader"/>
                        <xs:element name="RequestBody" type="ns1:GCCJPUpdateSRCaseRqType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GCCJP_UpdateSRCaseRs">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ResponseHeader" type="ns0:RequestHeader"/>
                        <xs:element name="ResponseBody" type="ns1:GCCJPUpdateSRCaseRsType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:ns2="http://www.tibco.com/schemas/GCCPortal/XSD/GCCJP/GCCJPConsSRCase.xsd" xmlns="http://www.tibco.com/schemas/GCCPortal/WSDL/Client/GCCJPXSD/Schema.xsd2" xmlns:ns1="http://www.tibco.com/schemas/GCCPortal/XSD/GCCJP/GCCJPSRCase.xsd" xmlns:ns0="http://www.trendmicro.com/ESB/schemas/messageHeader" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/GCCPortal/WSDL/Client/GCCJPXSD/Schema.xsd2" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:import namespace="http://www.trendmicro.com/ESB/schemas/messageHeader"/>
            <xs:import namespace="http://www.tibco.com/schemas/GCCPortal/XSD/GCCJP/GCCJPSRCase.xsd"/>
            <xs:import namespace="http://www.tibco.com/schemas/GCCPortal/XSD/GCCJP/GCCJPConsSRCase.xsd"/>
            <xs:element name="GCCJP_CreateConsSRCaseRq">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="RequestHeader" type="ns0:RequestHeader"/>
                        <xs:element name="RequestBody" type="ns2:GCCJPConsSRCaseRqType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GCCJP_CreateConsSRCaseRs">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ResponseHeader" type="ns0:RequestHeader"/>
                        <xs:element name="ResponseBody" type="ns1:SRCaseResultType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.tibco.com/schemas/GCCPortal/WSDL/Client/GCCJPXSD/Schema.xsd4" xmlns:ns1="http://www.tibco.com/schemas/GCCPortal/XSD/GCCJP/Schema.xsd3" xmlns:ns0="http://www.trendmicro.com/ESB/schemas/messageHeader" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/GCCPortal/WSDL/Client/GCCJPXSD/Schema.xsd4" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:import namespace="http://www.trendmicro.com/ESB/schemas/messageHeader"/>
            <xs:import namespace="http://www.tibco.com/schemas/GCCPortal/XSD/GCCJP/Schema.xsd3"/>
            <xs:element name="GCCJP_CreateAccountActivityRq">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="RequestHeader" type="ns0:RequestHeader"/>
                        <xs:element name="RequestBody" type="ns1:GCCJPCreateAccountActivityRqType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GCCJP_CreateAccountActivityRs">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ResponseHeader" type="ns0:RequestHeader"/>
                        <xs:element name="ResponseBody" type="ns1:GCCJPCreateAccountActivityRsType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.tibco.com/schemas/GCCPortal/WSDL/Client/GCCJPXSD/Schema.xsd3" xmlns:ns1="http://www.tibco.com/schemas/GCCPortal/XSD/GCCJP/Schema.xsd2" xmlns:ns0="http://www.trendmicro.com/ESB/schemas/messageHeader" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/GCCPortal/WSDL/Client/GCCJPXSD/Schema.xsd3" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:import namespace="http://www.trendmicro.com/ESB/schemas/messageHeader"/>
            <xs:import namespace="http://www.tibco.com/schemas/GCCPortal/XSD/GCCJP/Schema.xsd2"/>
            <xs:element name="GCCJP_CreateAttachmentRq">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="RequestHeader" type="ns0:RequestHeader"/>
                        <xs:element name="RequestBody" type="ns1:GCCJPCreateAttachmentRqType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GCCJP_CreateAttachmentRs">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ResponseHeader" type="ns0:RequestHeader"/>
                        <xs:element name="ResponseBody" type="ns1:GCCJPCreateAttachmentRsType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.tibco.com/schemas/GCCPortal/WSDL/Client/GCCJPXSD/GCCJP_CreateSRActAndAtt.xsd" xmlns:ns1="http://www.tibco.com/schemas/GCCPortal/XSD/GCCJP/GCCJPCreateSRAct.xsd" xmlns:ns0="http://www.trendmicro.com/ESB/schemas/messageHeader" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/GCCPortal/WSDL/Client/GCCJPXSD/GCCJP_CreateSRActAndAtt.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:import namespace="http://www.trendmicro.com/ESB/schemas/messageHeader"/>
            <xs:import namespace="http://www.tibco.com/schemas/GCCPortal/XSD/GCCJP/GCCJPCreateSRAct.xsd"/>
            <xs:element name="GCCJP_CreateSRActAndAttRq">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="RequestHeader" type="ns0:RequestHeader"/>
                        <xs:element name="RequestBody" type="ns1:GCCJPCreateSRActRqType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GCCJP_CreateSRActAndAttRs">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ResponseHeader" type="ns0:RequestHeader"/>
                        <xs:element name="ResponseBody" type="ns1:GCCJPCreateSRActRsType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.tibco.com/schemas/GCCPortal/XSD/GCCJP/GCCJPConsSRCase.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/GCCPortal/XSD/GCCJP/GCCJPConsSRCase.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="GCCJPConsSRCaseRqType">
                <xs:sequence>
                    <xs:element name="CreateSR">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="ThreatServiceID" type="xs:string" minOccurs="0"/>
                                <xs:element name="SourceID" type="xs:string" minOccurs="0"/>
                                <xs:element name="MalwareName" type="xs:string" minOccurs="0"/>
                                <xs:element name="SerialNo" type="xs:string" minOccurs="0"/>
                                <xs:element name="CenterType" type="xs:string" minOccurs="0"/>
                                <xs:element name="SourceSystem" type="xs:string" minOccurs="0"/>
                                <xs:element name="Version" type="xs:string" minOccurs="0"/>
                                <xs:element name="CustomerTelNo" type="xs:string" minOccurs="0"/>
                                <xs:element name="InternalSubmitterNTAccount" type="xs:string" minOccurs="0"/>
                                <xs:element name="Pattern" type="xs:string" minOccurs="0"/>
                                <xs:element name="CustomerEmail" type="xs:string" minOccurs="0"/>
                                <xs:element name="ActivityBody" type="xs:string" minOccurs="0"/>
                                <xs:element name="OS" type="xs:string" minOccurs="0"/>
                                <xs:element name="PortalType" type="xs:string" minOccurs="0"/>
                                <xs:element name="SourceTime" type="xs:string" minOccurs="0"/>
                                <xs:element name="Title" type="xs:string" minOccurs="0"/>
                                <xs:element name="Description" type="xs:string" minOccurs="0"/>
                                <xs:element name="ScanEngine" type="xs:string" minOccurs="0"/>
                                <xs:element name="SupportType" type="xs:string" minOccurs="0"/>
                                <xs:element name="Urgency" type="xs:string" minOccurs="0"/>
                                <xs:element name="CustomerFullName" type="xs:string" minOccurs="0"/>
                                <xs:element name="ProductGIC" type="xs:string" minOccurs="0"/>
                                <xs:element name="SRType" type="xs:string" minOccurs="0"/>
                                <xs:element name="Source" type="xs:string"/>
                                <xs:element name="ContractType" type="xs:string"/>
                                <xs:element name="MacAddress" type="xs:string"/>
                                <xs:element name="Segment" type="xs:string" minOccurs="0"/>
                                <xs:element name="Resendflag" type="xs:boolean" minOccurs="0"/>
                                <xs:element name="EmployeeTeam" type="xs:string" minOccurs="0"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Attachments">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Att" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="ActivityFileName" type="xs:string"/>
                                    <xs:element name="ActivityFileSrcPath" type="xs:string"/>
                                    <xs:element name="ExtensionName" type="xs:string"/>
                                    <xs:element name="ActivityFileExt" type="xs:string"/>
                                    <xs:element name="Comment2" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xsd:schema xmlns="http://www.trendmicro.com/ESB/schemas/messageHeader" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.trendmicro.com/ESB/schemas/messageHeader" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xsd:complexType name="RequestHeader">
                <xsd:sequence>
                    <xsd:element name="MessageKey" type="xsd:string"/>
                    <xsd:element name="ServiceName" type="xsd:string"/>
                    <xsd:element name="ServiceVersion" type="xsd:string"/>
                    <xsd:element name="SourceID" type="xsd:string"/>
                    <xsd:element name="StatusCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RqTimestamp" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RsTimestamp" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="Message">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="RequestHeader" type="ns12:RequestHeader"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
        <xs:schema xmlns="http://www.tibco.com/schemas/GCCPortal/WSDL/Client/GCCJPXSD/GCCJP_CreateCorpSRCase.xsd" xmlns:ns1="http://www.tibco.com/schemas/GCCPortal/XSD/GCCJP/GCCJPSRCase.xsd" xmlns:ns0="http://www.trendmicro.com/ESB/schemas/messageHeader" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/GCCPortal/WSDL/Client/GCCJPXSD/GCCJP_CreateCorpSRCase.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:import namespace="http://www.trendmicro.com/ESB/schemas/messageHeader"/>
            <xs:import namespace="http://www.tibco.com/schemas/GCCPortal/XSD/GCCJP/GCCJPSRCase.xsd"/>
            <xs:element name="GCCJP_CreateCorpSRCaseRq">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="RequestHeader" type="ns0:RequestHeader"/>
                        <xs:element name="RequestBody" type="ns1:SRCaseRqType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GCCJP_CreateCorpSRCaseRs">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ResponseHeader" type="ns0:RequestHeader"/>
                        <xs:element name="ResponseBody" type="ns1:SRCaseResultType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="GCCJP_Service">
        <wsdl:port name="PortTypeEndpoint1" binding="tns:PortTypeEndpoint1Binding">
            <soap:address location="http://localhost:50002/WSDL/Client/GCCJP_Service.serviceagent/PortTypeEndpoint1"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="PortType">
        <wsdl:operation name="GCCJP_CreateConsSRCase">
            <wsdl:input message="tns:GCCJP_CreateConsSRCaseRq"/>
            <wsdl:output message="tns:GCCJP_CreateConsSRCaseRs"/>
        </wsdl:operation>
        <wsdl:operation name="GCCJP_UpdateSRCase">
            <wsdl:input message="tns:GCCJP_UpdateSRCaseRq"/>
            <wsdl:output message="tns:GCCJP_UpdateSRCaseRs"/>
        </wsdl:operation>
        <wsdl:operation name="GCCJP_CreateAccountActivity">
            <wsdl:input message="tns:GCCJP_CreateAccountActivityRq"/>
            <wsdl:output message="tns:GCCJP_CreateAccountActivityRs"/>
        </wsdl:operation>
        <wsdl:operation name="GCCJP_CreateSRActAndAtt">
            <wsdl:input message="tns:GCCJP_CreateSRActAndAttRq"/>
            <wsdl:output message="tns:GCCJP_CreateSRActAndAttRs"/>
        </wsdl:operation>
        <wsdl:operation name="GCCJP_CreateAttachment">
            <wsdl:input message="tns:GCCJP_CreateAttachmentRq"/>
            <wsdl:output message="tns:GCCJP_CreateAttachmentRs"/>
        </wsdl:operation>
        <wsdl:operation name="GCCJP_CreateCorpSRCase">
            <wsdl:input message="tns:GCCJP_CreateCorpSRCaseRq"/>
            <wsdl:output message="tns:GCCJP_CreateCorpSRCaseRs"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PortTypeEndpoint1Binding" type="tns:PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GCCJP_CreateConsSRCase">
            <soap:operation style="document" soapAction="/WSDL/Client/GCCJP_Service.serviceagent/PortTypeEndpoint1/GCCJP_CreateConsSRCase"/>
            <wsdl:input>
                <soap:body use="literal" parts="Input"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Output"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GCCJP_UpdateSRCase">
            <soap:operation style="document" soapAction="/WSDL/Client/GCCJP_Service.serviceagent/PortTypeEndpoint1/GCCJP_UpdateSRCase"/>
            <wsdl:input>
                <soap:body use="literal" parts="Input"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Output"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GCCJP_CreateAccountActivity">
            <soap:operation style="document" soapAction="/WSDL/Client/GCCJP_Service.serviceagent/PortTypeEndpoint1/GCCJP_CreateAccountActivity"/>
            <wsdl:input>
                <soap:body use="literal" parts="Input"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Output"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GCCJP_CreateSRActAndAtt">
            <soap:operation style="document" soapAction="/WSDL/Client/GCCJP_Service.serviceagent/PortTypeEndpoint1/GCCJP_CreateSRActAndAtt"/>
            <wsdl:input>
                <soap:body use="literal" parts="Input"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Output"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GCCJP_CreateAttachment">
            <soap:operation style="document" soapAction="/WSDL/Client/GCCJP_Service.serviceagent/PortTypeEndpoint1/GCCJP_CreateAttachment"/>
            <wsdl:input>
                <soap:body use="literal" parts="Input"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Output"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GCCJP_CreateCorpSRCase">
            <soap:operation style="document" soapAction="/WSDL/Client/GCCJP_Service.serviceagent/PortTypeEndpoint1/GCCJP_CreateCorpSRCase"/>
            <wsdl:input>
                <soap:body use="literal" parts="Input"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Output"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="GCCJP_CreateConsSRCaseRq">
        <wsdl:part name="Input" element="ns0:GCCJP_CreateConsSRCaseRq"/>
    </wsdl:message>
    <wsdl:message name="GCCJP_CreateConsSRCaseRs">
        <wsdl:part name="Output" element="ns0:GCCJP_CreateConsSRCaseRs"/>
    </wsdl:message>
    <wsdl:message name="GCCJP_UpdateSRCaseRq">
        <wsdl:part name="Input" element="ns1:GCCJP_UpdateSRCaseRq"/>
    </wsdl:message>
    <wsdl:message name="GCCJP_UpdateSRCaseRs">
        <wsdl:part name="Output" element="ns1:GCCJP_UpdateSRCaseRs"/>
    </wsdl:message>
    <wsdl:message name="GCCJP_CreateAccountActivityRq">
        <wsdl:part name="Input" element="ns2:GCCJP_CreateAccountActivityRq"/>
    </wsdl:message>
    <wsdl:message name="GCCJP_CreateAccountActivityRs">
        <wsdl:part name="Output" element="ns2:GCCJP_CreateAccountActivityRs"/>
    </wsdl:message>
    <wsdl:message name="GCCJP_CreateSRActAndAttRq">
        <wsdl:part name="Input" element="ns3:GCCJP_CreateSRActAndAttRq"/>
    </wsdl:message>
    <wsdl:message name="GCCJP_CreateSRActAndAttRs">
        <wsdl:part name="Output" element="ns3:GCCJP_CreateSRActAndAttRs"/>
    </wsdl:message>
    <wsdl:message name="GCCJP_CreateAttachmentRq">
        <wsdl:part name="Input" element="ns4:GCCJP_CreateAttachmentRq"/>
    </wsdl:message>
    <wsdl:message name="GCCJP_CreateAttachmentRs">
        <wsdl:part name="Output" element="ns4:GCCJP_CreateAttachmentRs"/>
    </wsdl:message>
    <wsdl:message name="GCCJP_CreateCorpSRCaseRq">
        <wsdl:part name="Input" element="ns5:GCCJP_CreateCorpSRCaseRq"/>
    </wsdl:message>
    <wsdl:message name="GCCJP_CreateCorpSRCaseRs">
        <wsdl:part name="Output" element="ns5:GCCJP_CreateCorpSRCaseRs"/>
    </wsdl:message>
</wsdl:definitions>