G2PortalEventSerivce/WSDL/Provider/GetSFDCSRByClosecallback.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns1="http://www.trendmicro.com/ESB/schemas/messageHeader" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.example.com/1427951864507" xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:ns0="http://www.tibco.com/schemas/GCCPortal_For_G2_V1.0/WSDL/Client/AMSS Solution Provided XSD/Schema.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:jndi="http://www.tibco.com/namespaces/ws/2004/soap/apis/jndi" name="Untitled" targetNamespace="http://xmlns.example.com/1427951864507">
    <wsdl:types>
        <xs:schema xmlns="http://www.tibco.com/schemas/GCCPortal_For_G2_V1.0/WSDL/Client/AMSS Solution Provided XSD/Schema.xsd" xmlns:ns0="http://www.trendmicro.com/ESB/schemas/messageHeader" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/GCCPortal_For_G2_V1.0/WSDL/Client/AMSS Solution Provided XSD/Schema.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:import namespace="http://www.trendmicro.com/ESB/schemas/messageHeader"/>
            <xs:complexType name="GetSRInfoByClosecallbackRsType">
                <xs:sequence>
                    <xs:element name="Id" type="xs:string" minOccurs="0"/>
                    <xs:element name="CC_Receipts" type="xs:string" minOccurs="0"/>
                    <xs:element name="Receipts" type="xs:string" minOccurs="0"/>
                    <xs:element name="ContactFirstName" type="xs:string" minOccurs="0"/>
                    <xs:element name="ContactLastName" type="xs:string" minOccurs="0"/>
                    <xs:element name="SRType" type="xs:string" minOccurs="0"/>
                    <xs:element name="SRTitle" type="xs:string" minOccurs="0"/>
                    <xs:element name="IsThreatService" type="xs:boolean"/>
                    <xs:element name="TS_Case_Thread_Id" type="xs:string" minOccurs="0"/>
                    <xs:element name="CaseOwner" type="xs:string" minOccurs="0"/>
                    <xs:element name="Status" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="SRNumber">
                <xs:restriction base="xs:string"/>
            </xs:simpleType>
            <xs:element name="GetSRInfoByClosecallbackRq">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="RequestHeader" type="ns0:RequestHeader"/>
                        <xs:element name="RequestBody">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="SRNumber" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetSRInfoByClosecallbackRs">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="RequestHeader" type="ns0:RequestHeader"/>
                        <xs:element name="RequestBody" type="GetSRInfoByClosecallbackRsType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xsd:schema xmlns="http://www.trendmicro.com/ESB/schemas/messageHeader" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.trendmicro.com/ESB/schemas/messageHeader" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xsd:complexType name="RequestHeader">
                <xsd:sequence>
                    <xsd:element name="MessageKey" type="xsd:string"/>
                    <xsd:element name="ServiceName" type="xsd:string"/>
                    <xsd:element name="ServiceVersion" type="xsd:string"/>
                    <xsd:element name="SourceID" type="xsd:string"/>
                    <xsd:element name="StatusCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RqTimestamp" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RsTimestamp" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="Message">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="RequestHeader" type="ns1:RequestHeader"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:service name="GetSRInfoByClosecallback">
        <wsdl:port name="PortTypeEndpoint1" binding="tns:PortTypeEndpoint1Binding">
            <soap:address location=""/>
            <jms:connectionFactory>QueueConnectionFactory</jms:connectionFactory>
            <jms:targetAddress destination="queue">queue.sample</jms:targetAddress>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="PortType">
        <wsdl:operation name="GetSRInfoByClosecallback">
            <wsdl:input message="tns:GetSRInfoByClosecallbackRq"/>
            <wsdl:output message="tns:GetSRInfoByClosecallbackRs"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PortTypeEndpoint1Binding" type="tns:PortType">
        <soap:binding style="document" transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS"/>
        <jms:binding messageFormat="bytes"/>
        <wsdl:operation name="GetSRInfoByClosecallback">
            <soap:operation style="document" soapAction="/XSD/G2/AMSS%2520Solution%2520Provided/Service.serviceagent/PortTypeEndpoint1/GetSRInfoByClosecallback"/>
            <wsdl:input>
                <soap:body use="literal" parts="part1"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part1"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="GetSRInfoByClosecallbackRq">
        <wsdl:part name="part1" element="ns0:GetSRInfoByClosecallbackRq"/>
    </wsdl:message>
    <wsdl:message name="GetSRInfoByClosecallbackRs">
        <wsdl:part name="part1" element="ns0:GetSRInfoByClosecallbackRs"/>
    </wsdl:message>
</wsdl:definitions>