SSO/XSD/PartnerAPI/IsValidRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.trendmicro.com/PLS/PartnerAPI/Schemas"
	 targetNamespace="http://www.trendmicro.com/PLS/PartnerAPI/Schemas"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="IsValidRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="UserLoginID" type="xs:string"/>
				<xs:element name="Password" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>