SSO/XSD/PartnerAPI/UpdateBindingRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.trendmicro.com/PLS/PartnerAPI/Schemas"
	 targetNamespace="http://www.trendmicro.com/PLS/PartnerAPI/Schemas"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="UpdateBindingRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SeatCount" type="xs:int" minOccurs="0"/>
				<xs:element name="Status" type="xs:byte" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>