G2_SFDCAPI/WSDL/Client/PortalXSD/EI_CreatePortalCaseRq.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.trendmicro.com/ESB/Services/Portal/EI_CreatePortalCaseRq"
	 xmlns:ns0="http://www.tibco.com/schemas/GCCPortal/Portal/XSD/PortalSRCase.xsd"
	 xmlns:ns1="http://www.trendmicro.com/ESB/schemas/messageHeader"
	 targetNamespace="http://www.trendmicro.com/ESB/Services/Portal/EI_CreatePortalCaseRq"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.tibco.com/schemas/GCCPortal/Portal/XSD/PortalSRCase.xsd" schemaLocation="../../../XSD/Portal/PortalSRCase.xsd"/>
	<xs:import namespace="http://www.trendmicro.com/ESB/schemas/messageHeader" schemaLocation="../../../XSD/Common/messageheader.xsd"/>
	<xs:element name="CreatePortalCaseMsgRq">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RequestHeader" type="ns1:RequestHeader"/>
				<xs:element name="RequestBody" type="ns0:PortalSRCaseType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>