G2_SFDCAPI/WSDL/Client/PortalXSD/EI_CreatePortalCaseRs.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.trendmicro.com/ESB/Services/Portal/EI_CreatePortalCaseRs"
	 xmlns:ns0="http://www.trendmicro.com/ESB/schemas/messageHeader"
	 xmlns:ns1="http://www.tibco.com/schemas/GCCPortal/Portal/XSD/PortalSRCaseResult.xsd"
	 targetNamespace="http://www.trendmicro.com/ESB/Services/Portal/EI_CreatePortalCaseRs"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.trendmicro.com/ESB/schemas/messageHeader" schemaLocation="../../../XSD/Common/messageheader.xsd"/>
	<xs:import namespace="http://www.tibco.com/schemas/GCCPortal/Portal/XSD/PortalSRCaseResult.xsd" schemaLocation="../../../XSD/Portal/PortalSRCaseResult.xsd"/>
	<xs:element name="CreatePortalCaseMsgRs">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ResponseHeader" type="ns0:RequestHeader"/>
				<xs:element name="ResponseBody" type="ns1:PortalSRCaseType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>