AKAMAI/WSDL/Client/PartnerWSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns1="http://www.trendmicro.com/Partner/XSD/ResponseMessage.xsd" xmlns:ns="http://www.trendmicro.com/ESB/ACS/schemas/SMF" xmlns:tns="http://xmlns.example.com/1331025767248" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://www.trendmicro.com/Partner/XSD/RequestMessage.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Untitled" targetNamespace="http://xmlns.example.com/1331025767248">
    <wsdl:import namespace="http://www.trendmicro.com/ESB/ACS/schemas/SMF" location="../../XSD/Provider/RequestMessage.xsd"/>
    <wsdl:import namespace="http://www.trendmicro.com/Partner/XSD/ResponseMessage.xsd" location="../../XSD/Provider/ResponseMessage.xsd"/>
    <wsdl:types>
        <xs:schema xmlns="http://www.trendmicro.com/Partner/XSD/ResponseMessage.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.trendmicro.com/Partner/XSD/ResponseMessage.xsd">
            <xs:element name="RsMessage">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="MessageKey" type="xs:string"/>
                        <xs:element name="ServiceName" type="xs:string"/>
                        <xs:element name="Status" type="xs:string"/>
                        <xs:element name="Message" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xsd:schema xmlns="http://www.trendmicro.com/Partner/XSD/RequestMessage.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.trendmicro.com/Partner/XSD/RequestMessage.xsd">
            <xsd:complexType name="RequestBodyType">
                <xsd:sequence>
                    <xsd:element name="RqStartdate" type="xsd:string"/>
                    <xsd:element name="RqEnddate" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="RequestHeader">
                <xsd:sequence>
                    <xsd:element name="MessageKey" type="xsd:string"/>
                    <xsd:element name="ServiceName" type="xsd:string"/>
                    <xsd:element name="ServiceVersion" type="xsd:string"/>
                    <xsd:element name="SourceID" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="SourceIP" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="RqTimestamp" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="RsTimestamp" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="RqMessage">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="RequestHeader" type="ns0:RequestHeader"/>
                        <xsd:element name="RequestBody" type="ns0:RequestBodyType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:service name="Service">
        <wsdl:port binding="tns:WebServicePortTypeEndpoint1Binding" name="WebServicePortTypeEndpoint1">
            <soap:address location="http://tw-ei-bw-dev:50002/WSDL/Service.serviceagent/WebServicePortTypeEndpoint1"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="WebServicePortType">
        <wsdl:operation name="Operation">
            <wsdl:input message="tns:RequestMessage"/>
            <wsdl:output message="tns:ResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WebServicePortTypeEndpoint1Binding" type="tns:WebServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Operation">
            <soap:operation soapAction="/WSDL/Service.serviceagent/WebServicePortTypeEndpoint1/Operation" style="document"/>
            <wsdl:input>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="part1" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="RequestMessage">
        <wsdl:part name="parameters" element="ns:RequestMessage"/>
    </wsdl:message>
    <wsdl:message name="ResponseMessage">
        <wsdl:part name="part1" element="ns1:ResponseMessage"/>
    </wsdl:message>
</wsdl:definitions>