G2_SFDCAPI/WSDL/Client/AMSS Solution Provided XSD/CreateOneAMSSEscRecRq.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/GCCPortal/WSDL/Client/AMSS Solution Provided/CreateOneAMSSEscRecRq.xsd"
	 xmlns:ns0="http://www.trendmicro.com/ESB/schemas/messageHeader"
	 xmlns:ns1="http://www.tibco.com/schemas/GCCPortal/XSD/G2/AMSS Solution Provided/CreateOneAMSSEscRec.xsd"
	 targetNamespace="http://www.tibco.com/schemas/GCCPortal/WSDL/Client/AMSS Solution Provided/CreateOneAMSSEscRecRq.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.trendmicro.com/ESB/schemas/messageHeader" schemaLocation="../../../XSD/Common/messageheader.xsd"/>
	<xs:import namespace="http://www.tibco.com/schemas/GCCPortal/XSD/G2/AMSS Solution Provided/CreateOneAMSSEscRec.xsd" schemaLocation="../../../XSD/G2/AMSS%20Solution%20Provided/CreateOneAMSSEscRec.xsd"/>
	<xs:element name="CreateOneAMSSEscRecRq">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RequestHeader" type="ns0:RequestHeader"/>
				<xs:element name="RequestBody" type="ns1:CreateOneAMSSEscRecRqType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>