SSO/XSD/LMPI Proxy/V2.2/Schema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/PLSService/XSD/LMPI Proxy/V2.2/Schema.xsd"
	 targetNamespace="http://www.tibco.com/schemas/PLSService/XSD/LMPI Proxy/V2.2/Schema.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="a" type="xs:string"/>
				<xs:element name="b" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>