MDM/MDMService/WSDL/Provider/MDMService/ExactlyMatchingWSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns2="http://www.tibco.com/schemas/MDMService/WSDL/Provider/MDMService/Schema.xsd" xmlns:ns="http://www.tibco.com/schemas/MDMService/WSDL/Provider/SFDC/RetrieveCustomer_Input" xmlns:ns4="http://www.tibco.com/schemas/MDMService/WSDL/Provider/MDMService/Schema.xsd2" xmlns:ns3="http://www.tibco.com/schemas/MDMService/WSDL/Provider/MDMService/RetrieveContact_Input" xmlns:tns="http://www.trendmicro.com/ESB/MDM/schemas/ExactlyMatchService" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.trendmicro.com/ESB/MDM/schemas/ExactlyMatchService">
    <import namespace="http://www.tibco.com/schemas/MDMService/WSDL/Provider/SFDC/RetrieveCustomer_Input" location="RetrieveCustomer_Input.xsd"/>
    <import namespace="http://www.tibco.com/schemas/MDMService/WSDL/Provider/MDMService/Schema.xsd" location="RetrieveCustomerOutput.xsd"/>
    <import namespace="http://www.tibco.com/schemas/MDMService/WSDL/Provider/MDMService/RetrieveContact_Input" location="RetrieveContact_Input.xsd"/>
    <import namespace="http://www.tibco.com/schemas/MDMService/WSDL/Provider/MDMService/Schema.xsd2" location="RetrieveContactOutput.xsd"/>
    <message name="RetrieveCustomerInput">
        <part name="Input" element="ns:SMF"/>
    </message>
    <message name="RetrieveCustomerOutput">
        <part name="Output" element="ns2:SMF"/>
    </message>
    <message name="RetrieveContactInput">
        <part name="Input" element="ns3:SMF"/>
    </message>
    <message name="RetrieveContactOutput">
        <part name="Output" element="ns4:SMF"/>
    </message>
    <portType name="PortType">
        <operation name="RetrieveCustomer">
            <input message="tns:RetrieveCustomerInput"/>
            <output message="tns:RetrieveCustomerOutput"/>
        </operation>
        <operation name="RetrivevContact">
            <input message="tns:RetrieveContactInput"/>
            <output message="tns:RetrieveContactOutput"/>
        </operation>
    </portType>
</definitions>