MDM/MDMService/WSDL/Provider/MDMService/RetrieveContactOutput.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/MDMService/WSDL/Provider/MDMService/Schema.xsd2"
	 xmlns:ns0="http://www.trendmicro.com/ESB/schemas/Common"
	 targetNamespace="http://www.tibco.com/schemas/MDMService/WSDL/Provider/MDMService/Schema.xsd2"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.trendmicro.com/ESB/schemas/Common" schemaLocation="../../../XSD/Common/common.xsd"/>
	<xs:element name="SMF">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SMFHeader" type="ns0:TrendESBCommonHeader"/>
				<xs:element name="SMFBody" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="row" type="MachContactType" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="MachContactType">
		<xs:sequence>
			<xs:element name="contact_id" type="xs:string" minOccurs="0"/>
			<xs:element name="first_name" type="xs:string" minOccurs="0"/>
			<xs:element name="middle_name" type="xs:string" minOccurs="0"/>
			<xs:element name="family_name" type="xs:string" minOccurs="0"/>
			<xs:element name="salutation" type="xs:string" minOccurs="0"/>
			<xs:element name="job_title" type="xs:string" minOccurs="0"/>
			<xs:element name="department" type="xs:string" minOccurs="0"/>
			<xs:element name="office_phone_no" type="xs:string" minOccurs="0"/>
			<xs:element name="extension_no" type="xs:string" minOccurs="0"/>
			<xs:element name="mobile_phone_no" type="xs:string" minOccurs="0"/>
			<xs:element name="fax_no" type="xs:string" minOccurs="0"/>
			<xs:element name="email" type="xs:string" minOccurs="0"/>
			<xs:element name="gold_id" type="xs:string" minOccurs="0"/>
			<xs:element name="datasource" type="xs:string" minOccurs="0"/>
			<xs:element name="id" type="xs:string" minOccurs="0"/>
			<xs:element name="company_name" type="xs:string" minOccurs="0"/>
			<xs:element name="company_country" type="xs:string" minOccurs="0"/>
			<xs:element name="Result" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>