MDM/MDMService/WSDL/Provider/MDMService/RetrieveContact_Input.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/MDMService/WSDL/Provider/MDMService/RetrieveContact_Input"
	 xmlns:ns0="http://www.trendmicro.com/ESB/schemas/Common"
	 targetNamespace="http://www.tibco.com/schemas/MDMService/WSDL/Provider/MDMService/RetrieveContact_Input"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.trendmicro.com/ESB/schemas/Common" schemaLocation="../../../XSD/Common/common.xsd"/>
	<xs:element name="SMF">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SMFHeader" type="ns0:TrendESBCommonHeader"/>
				<xs:element name="SMFBody" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="emailaddress" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>