MDM/MDMService/WSDL/Provider/MDMService/RetrieveCustomerOutput.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/MDMService/WSDL/Provider/MDMService/Schema.xsd"
	 xmlns:ns0="http://www.trendmicro.com/ESB/schemas/Common"
	 targetNamespace="http://www.tibco.com/schemas/MDMService/WSDL/Provider/MDMService/Schema.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.trendmicro.com/ESB/schemas/Common" schemaLocation="../../../XSD/Common/common.xsd"/>
	<xs:element name="SMF">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SMFHeader" type="ns0:TrendESBCommonHeader"/>
				<xs:element name="SMFBody" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="row" type="MachCustomerType" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="MachCustomerType">
		<xs:all>
			<xs:element name="Gold_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="Datasource" type="xs:string" minOccurs="0"/>
			<xs:element name="ID" type="xs:string" minOccurs="0"/>
			<xs:element name="Name" type="xs:string" minOccurs="0"/>
			<xs:element name="Address" type="xs:string" minOccurs="0"/>
			<xs:element name="City" type="xs:string" minOccurs="0"/>
			<xs:element name="Country" type="xs:string" minOccurs="0"/>
			<xs:element name="PostCode" type="xs:string" minOccurs="0"/>
			<xs:element name="Contact" type="xs:string" minOccurs="0"/>
			<xs:element name="E-Mail" type="xs:string" minOccurs="0"/>
			<xs:element name="WebSite" type="xs:string" minOccurs="0"/>
			<xs:element name="Phone_No" type="xs:string" minOccurs="0"/>
			<xs:element name="Reseller" type="xs:string" minOccurs="0"/>
			<xs:element name="End_Customer" type="xs:string" minOccurs="0"/>
			<xs:element name="Distributor" type="xs:string" minOccurs="0"/>
			<xs:element name="DUNS" type="xs:string" minOccurs="0"/>
			<xs:element name="SalesForceID" type="xs:string" minOccurs="0"/>
			<xs:element name="Segment" type="xs:string" minOccurs="0"/>
			<xs:element name="Status" type="xs:string" minOccurs="0"/>
			<xs:element name="DUNSName" type="xs:string" minOccurs="0"/>
			<xs:element name="ImmediateParentDuns" type="xs:string" minOccurs="0"/>
			<xs:element name="DUNSGlobalParent" type="xs:string" minOccurs="0"/>
			<xs:element name="Result" type="xs:string" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
</xs:schema>