G2_SFDCAPI/WSDL/Client/G2XSD/SFDC_GetSRInfoRq.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.trendmicro.com/SFDC/SFDC_GetSRInfoRq"
	 xmlns:ns0="http://www.trendmicro.com/ESB/schemas/messageHeader"
	 targetNamespace="http://www.trendmicro.com/SFDC/SFDC_GetSRInfoRq"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.trendmicro.com/ESB/schemas/messageHeader" schemaLocation="../../../XSD/Common/messageheader.xsd"/>
	<xs:element name="SFDC_GetSRInfoRq">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RequestHeader" type="ns0:RequestHeader"/>
				<xs:element name="RequestBody">
					<xs:complexType>
						<xs:all>
							<xs:element name="SRNumber" type="xs:string" minOccurs="0"/>
							<xs:element name="AccountID" type="xs:string" minOccurs="0"/>
							<xs:element name="CaseID" type="xs:string" minOccurs="0"/>
							<xs:element name="ThreatServiceName" type="xs:string" minOccurs="0"/>
						</xs:all>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>