G2_SFDCAPI/WSDL/Client/G2XSD/SFDC_UpdateContactInfoRq.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.trendmicro.com/G2/SFDC_UpdateContactInfoRq.xsd"
	 xmlns:ns0="http://www.trendmicro.com/ESB/schemas/messageHeader"
	 xmlns:ns1="http://www.tibco.com/schemas/GCCPortal/XSD/G2/Contact.xsd"
	 targetNamespace="http://www.trendmicro.com/G2/SFDC_UpdateContactInfoRq.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.trendmicro.com/ESB/schemas/messageHeader" schemaLocation="../../../XSD/Common/messageheader.xsd"/>
	<xs:import namespace="http://www.tibco.com/schemas/GCCPortal/XSD/G2/Contact.xsd" schemaLocation="../../../XSD/G2/SFDC_ContactType.xsd"/>
	<xs:element name="SFDC_UpdateContactInfoRq">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RequestHeader" type="ns0:RequestHeader"/>
				<xs:element name="RequestBody">
					<xs:complexType>
						<xs:choice>
							<xs:element name="ContactInfo" type="ns1:ContactType"/>
							<xs:element name="NotificationInfo" type="ns1:NotificationType"/>
						</xs:choice>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>