G2_SFDCAPI/WSDL/Client/G2XSD/SFDC_GetContactListRq.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.trendmicro.com/SFDC/SFDC_GetContactListRq"
	 xmlns:ns0="http://www.trendmicro.com/ESB/schemas/messageHeader"
	 targetNamespace="http://www.trendmicro.com/SFDC/SFDC_GetContactListRq"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.trendmicro.com/ESB/schemas/messageHeader" schemaLocation="../../../XSD/Common/messageheader.xsd"/>
	<xs:element name="SFDC_GetContactListRq">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RequestHeader" type="ns0:RequestHeader"/>
				<xs:element name="RequestBody">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="AccountID" type="xs:string"/>
							<xs:element name="ContactID" type="xs:string" minOccurs="0"/>
							<xs:element name="start" type="xs:int"/>
							<xs:element name="end" type="xs:int"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>