G2_SFDCAPI/WSDL/Client/G2XSD/SFDC_UpdateSRRq.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/GCCPortal/WSDL/Client/G2XSD/SFDC_UpdateSRRq.xsd"
	 xmlns:ns0="http://www.trendmicro.com/ESB/schemas/messageHeader"
	 xmlns:ns1="http://www.tibco.com/schemas/GCCPortal/XSD/G2/SFDC_UpdateSR.xsd"
	 targetNamespace="http://www.tibco.com/schemas/GCCPortal/WSDL/Client/G2XSD/SFDC_UpdateSRRq.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.trendmicro.com/ESB/schemas/messageHeader" schemaLocation="../../../XSD/Common/messageheader.xsd"/>
	<xs:import namespace="http://www.tibco.com/schemas/GCCPortal/XSD/G2/SFDC_UpdateSR.xsd" schemaLocation="../../../XSD/G2/SFDC_UpdateSR.xsd"/>
	<xs:element name="SFDC_UpdateSRRq">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ResponseHeader" type="ns0:RequestHeader"/>
				<xs:element name="ResponseBody" type="ns1:SFDC_UpdateSRType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>