G2_SFDCAPI/WSDL/Client/G2XSD/SFDC_UpsetAccountActivityRs.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.trendmicro.com/G2/SFDC_CreateAccountActivityRs.xsd"
	 xmlns:ns0="http://www.trendmicro.com/ESB/schemas/messageHeader"
	 xmlns:ns1="http://www.tibco.com/schemas/GCCPortal/XSD/G2/SFDCSRCaseResult.xsd"
	 targetNamespace="http://www.trendmicro.com/G2/SFDC_CreateAccountActivityRs.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.trendmicro.com/ESB/schemas/messageHeader" schemaLocation="../../../XSD/Common/messageheader.xsd"/>
	<xs:import namespace="http://www.tibco.com/schemas/GCCPortal/XSD/G2/SFDCSRCaseResult.xsd" schemaLocation="../../../XSD/G2/SFDC_SRCaseResult.xsd"/>
	<xs:element name="SFDC_UpsetAccountActivityRs">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ResponseHeader" type="ns0:RequestHeader"/>
				<xs:element name="ResponseBody" type="ns1:SFDCSRCaseResultType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>