G2_SFDCAPI/WSDL/Client/G2XSD/SFDC_GetThreatServiceInfoRs.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/GCCPortal_For_G2_v1.1/WSDL/Client/G2XSD/SFDC_GetThreatServiceInfoRs.xsd"
	 xmlns:ns0="http://www.trendmicro.com/ESB/schemas/messageHeader"
	 targetNamespace="http://www.tibco.com/schemas/GCCPortal_For_G2_v1.1/WSDL/Client/G2XSD/SFDC_GetThreatServiceInfoRs.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.trendmicro.com/ESB/schemas/messageHeader" schemaLocation="../../../XSD/Common/messageheader.xsd"/>
	<xs:element name="GetThreatServiceInfoRs">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ResponseHeader" type="ns0:RequestHeader"/>
				<xs:element name="ResponseBody">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Result">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ThreatServiceId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>