G2_SFDCAPI/WSDL/Client/G2XSD/SFDC_CreateAttScriptRq.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.trendmicro.com/G2/SFDC_CreateAttScriptRq"
	 xmlns:ns0="http://www.trendmicro.com/ESB/schemas/messageHeader"
	 xmlns:ns1="http://www.tibco.com/schemas/GCCPortal_For_G2_V1.0/XSD/G2/Schema.xsd"
	 targetNamespace="http://www.trendmicro.com/G2/SFDC_CreateAttScriptRq"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.trendmicro.com/ESB/schemas/messageHeader" schemaLocation="../../../XSD/Common/messageheader.xsd"/>
	<xs:import namespace="http://www.tibco.com/schemas/GCCPortal_For_G2_V1.0/XSD/G2/Schema.xsd" schemaLocation="../../../XSD/G2/SFDC_CreateAttachment.xsd"/>
	<xs:element name="SFDC_CreateAttScriptRq">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RequestHeader" type="ns0:RequestHeader"/>
				<xs:element name="RequestBody">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ns1:SFDC_CreateAttachment"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>