G2_SFDCAPI/WSDL/Client/G2XSD/SFDC_GetPrimaryContactByAccountID.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/GCCPortal_For_G2_V1.0/WSDL/Client/G2XSD/GetPrimaryContactByAccountID.xsd"
	 xmlns:ns0="http://www.trendmicro.com/ESB/schemas/messageHeader"
	 xmlns:ns1="http://www.tibco.com/schemas/GCCPortal/XSD/G2/GetContactResult.xsd"
	 xmlns:ns2="http://www.tibco.com/schemas/GCCPortal/XSD/G2/SFDC_Common_Type.xsd"
	 targetNamespace="http://www.tibco.com/schemas/GCCPortal_For_G2_V1.0/WSDL/Client/G2XSD/GetPrimaryContactByAccountID.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.trendmicro.com/ESB/schemas/messageHeader" schemaLocation="../../../XSD/Common/messageheader.xsd"/>
	<xs:import namespace="http://www.tibco.com/schemas/GCCPortal/XSD/G2/GetContactResult.xsd" schemaLocation="../../../XSD/G2/GetContactResult.xsd"/>
	<xs:import namespace="http://www.tibco.com/schemas/GCCPortal/XSD/G2/SFDC_Common_Type.xsd" schemaLocation="../../../XSD/G2/SFDC_Common_Type.xsd"/>
	<xs:element name="GetPrimaryContactByAccountIDRq">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RequestHeader" type="ns0:RequestHeader"/>
				<xs:element name="RequestBody">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="AccountID" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetPrimaryContactByAccountIDRs">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ResponseHeader" type="ns0:RequestHeader"/>
				<xs:element name="ResponseBody">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Result" type="ns1:GetContactResultType" minOccurs="0"/>
							<xs:element name="Error" type="ns2:ErrorType" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>