G2_SFDCAPI/WSDL/Client/G2XSD/SFDC_GetLoginInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/GCCPortal_For_G2_V1.0/WSDL/Client/G2XSD/GetLoginInfo.xsd"
	 xmlns:ns0="http://www.trendmicro.com/ESB/schemas/messageHeader"
	 xmlns:ns1="http://www.tibco.com/schemas/GCCPortal_For_G2_V1.0/XSD/G2/GetLoignResult.xsd"
	 targetNamespace="http://www.tibco.com/schemas/GCCPortal_For_G2_V1.0/WSDL/Client/G2XSD/GetLoginInfo.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.trendmicro.com/ESB/schemas/messageHeader" schemaLocation="../../../XSD/Common/messageheader.xsd"/>
	<xs:import namespace="http://www.tibco.com/schemas/GCCPortal_For_G2_V1.0/XSD/G2/GetLoignResult.xsd" schemaLocation="../../../XSD/G2/SFDC_GetLoignResult.xsd"/>
	<xs:element name="SFDC_GetLoginInfoRq">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RequestHeader" type="ns0:RequestHeader"/>
				<xs:element name="RequestBody">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Email" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SFDC_GetLoginInfoRs">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ResponseHeader" type="ns0:RequestHeader"/>
				<xs:element name="ResponseBody">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Result" type="ns1:SFDC_GetLoignResultType" minOccurs="0"/>
							<xs:element name="Error" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Status" type="xs:string"/>
										<xs:element name="Message" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>