G2_SFDCAPI/WSDL/Client/G2XSD/SFDC_GetSRListRq.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.trendmicro.com/SFDC/SFDC_GetSRListRq"
	 xmlns:ns0="http://www.trendmicro.com/ESB/schemas/messageHeader"
	 xmlns:ns1="http://www.tibco.com/schemas/GCCPortal/XSD/G2/CaseQuery.xsd"
	 targetNamespace="http://www.trendmicro.com/SFDC/SFDC_GetSRListRq"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.trendmicro.com/ESB/schemas/messageHeader" schemaLocation="../../../XSD/Common/messageheader.xsd"/>
	<xs:import namespace="http://www.tibco.com/schemas/GCCPortal/XSD/G2/CaseQuery.xsd" schemaLocation="../../../XSD/G2/CaseQuery.xsd"/>
	<xs:element name="SFDC_GetSRListRq">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RequestHeader" type="ns0:RequestHeader"/>
				<xs:element name="RequestBody" type="ns1:CaseQueryType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>