G2_SFDCAPI/WSDL/Client/G2XSD/SFDC_GetAssetList.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/GCCPortal_For_G2_V1.0/WSDL/Client/G2XSD/SFDC_GetAssetList.xsd"
	 xmlns:ns0="http://www.trendmicro.com/ESB/schemas/messageHeader"
	 xmlns:ns1="http://www.tibco.com/schemas/GCCPortal/XSD/G2/SFDC_Common_Type.xsd"
	 targetNamespace="http://www.tibco.com/schemas/GCCPortal_For_G2_V1.0/WSDL/Client/G2XSD/SFDC_GetAssetList.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.trendmicro.com/ESB/schemas/messageHeader" schemaLocation="../../../XSD/Common/messageheader.xsd"/>
	<xs:import namespace="http://www.tibco.com/schemas/GCCPortal/XSD/G2/SFDC_Common_Type.xsd" schemaLocation="../../../XSD/G2/SFDC_Common_Type.xsd"/>
	<xs:element name="SFDC_GetAssetListRq">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RequestHeader" type="ns0:RequestHeader"/>
				<xs:element name="RequestBody" type="GetAssetListRqType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SFDC_GetAssetListRs">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ResponseHeader" type="ns0:RequestHeader"/>
				<xs:element name="ResponseBody">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TotalRowCount" type="xs:string"/>
							<xs:element name="Result">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="records" type="ResponseType" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Error" type="ns1:ErrorType" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="GetAssetListRqType">
		<xs:choice>
			<xs:element name="GetExpCustByAccountID">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AccountID" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetCutByFilter">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AccountID" type="xs:string"/>
						<xs:element name="IncludeActive" type="xs:boolean" default="true" minOccurs="0"/>
						<xs:element name="IncludeExpired" type="xs:boolean" default="true" minOccurs="0"/>
						<xs:element name="RowStart" type="xs:int"/>
						<xs:element name="RowEnd" type="xs:int"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ResponseType">
		<xs:sequence>
			<xs:element name="ID" type="xs:string"/>
			<xs:element name="ProductName" type="xs:string"/>
			<xs:element name="ProductDescription" type="xs:string"/>
			<xs:element name="Version" type="xs:string"/>
			<xs:element name="NumberOfSeats" type="xs:string"/>
			<xs:element name="Language" type="xs:string"/>
			<xs:element name="LicenseExpiryDate" type="xs:string"/>
			<xs:element name="ActivationCode" type="xs:string" minOccurs="0"/>
			<xs:element name="RegistrationCode" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>