G2PortalEventSerivce/XSD/Neuron/SampleSubmissionRsXml.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="NEURON">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SERVICEID" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Error" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Error">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ErrorCode" type="xs:string"/>
				<xs:element name="ErrorStatus" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>