G2PortalEventSerivce/XSD/Neuron/UpdateTaskCloseCallbackPSCProcess.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/ACSService2.1/XSD/Neuron/Schema.xsd3"
	 xmlns:ns0="http://www.trendmicro.com/ESB/ACS/schemas/SMF"
	 targetNamespace="http://www.tibco.com/schemas/ACSService2.1/XSD/Neuron/Schema.xsd3"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.trendmicro.com/ESB/ACS/schemas/SMF" schemaLocation="../Common/messageheader.xsd"/>
	<xs:element name="UpdateTaskCloseCallbackPSCProcessRq">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RequestHeader" type="ns0:TrendESBCommonHeader"/>
				<xs:element name="RequestBody">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="InputData" type="xs:string"/>
							<xs:element name="Tasks" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="TaskId" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="SRNumber" type="xs:string"/>
							<xs:element name="MessageKey" type="xs:string"/>
							<xs:element name="ServiceName" type="xs:string"/>
							<xs:element name="ServiceId" type="xs:string"/>
							<xs:element name="ArchiveName" type="xs:string"/>
							<xs:element name="SourceId" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>