G2PortalEventSerivce/XSD/Neuron/WCSWhiteList.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="query_result">
		<xs:complexType>
			<xs:all>
				<xs:element name="hit" type="xs:string"/>
				<xs:element name="rule" type="xs:string" minOccurs="0"/>
				<xs:element name="cascade" type="xs:string" minOccurs="0"/>
				<xs:element name="flag" type="xs:string" minOccurs="0"/>
				<xs:element name="parent_url" type="xs:string"/>
				<xs:element name="type" type="xs:string" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>