G2_SFDCAPI/XSD/Common/EvnetMsg/OnRescan.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.trendmicro.com/ESB/ACS/schemas/SMF"
	 targetNamespace="http://www.trendmicro.com/ESB/ACS/schemas/SMF"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="OnRescan">
		<xs:complexType>
			<xs:all>
				<xs:element name="serviceId" type="xs:string"/>
				<xs:element name="hashList" type="xs:string"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>