MDM/MDMService/WSDL/Client/EDCWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="MDM_COMPANY_EX_WEB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="gold_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MDM_COMPANY_EX_WEBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MDM_COMPANY_EX_WEBResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MDM_CONTACT_EX_WEB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="gold_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MDM_CONTACT_EX_WEBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MDM_CONTACT_EX_WEBResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MDM_COMPANY_FZ_AVO_H">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="isocode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="expect_score" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="weight" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MDM_COMPANY_FZ_AVO_HResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MDM_COMPANY_FZ_AVO_HResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MDM_CONTACT_FZ_AVO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="isocode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="expect_score" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MDM_CONTACT_FZ_AVOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MDM_CONTACT_FZ_AVOResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MDM_COMPANY_FZ_WEB_H">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="isocode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="expect_score" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="weight" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MDM_COMPANY_FZ_WEB_HResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MDM_COMPANY_FZ_WEB_HResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MDM_COMPANY_FZ_AVO_T_H">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="isocode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="expect_score" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="weight" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MDM_COMPANY_FZ_AVO_T_HResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MDM_COMPANY_FZ_AVO_T_HResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CallHoovers_AdvancedCompanySearch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CountryID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="batch_id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CallHoovers_AdvancedCompanySearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CallHoovers_AdvancedCompanySearchResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MDM_COMPANY_EX_WEBSoapIn">
    <wsdl:part name="parameters" element="tns:MDM_COMPANY_EX_WEB" />
  </wsdl:message>
  <wsdl:message name="MDM_COMPANY_EX_WEBSoapOut">
    <wsdl:part name="parameters" element="tns:MDM_COMPANY_EX_WEBResponse" />
  </wsdl:message>
  <wsdl:message name="MDM_CONTACT_EX_WEBSoapIn">
    <wsdl:part name="parameters" element="tns:MDM_CONTACT_EX_WEB" />
  </wsdl:message>
  <wsdl:message name="MDM_CONTACT_EX_WEBSoapOut">
    <wsdl:part name="parameters" element="tns:MDM_CONTACT_EX_WEBResponse" />
  </wsdl:message>
  <wsdl:message name="MDM_COMPANY_FZ_AVO_HSoapIn">
    <wsdl:part name="parameters" element="tns:MDM_COMPANY_FZ_AVO_H" />
  </wsdl:message>
  <wsdl:message name="MDM_COMPANY_FZ_AVO_HSoapOut">
    <wsdl:part name="parameters" element="tns:MDM_COMPANY_FZ_AVO_HResponse" />
  </wsdl:message>
  <wsdl:message name="MDM_CONTACT_FZ_AVOSoapIn">
    <wsdl:part name="parameters" element="tns:MDM_CONTACT_FZ_AVO" />
  </wsdl:message>
  <wsdl:message name="MDM_CONTACT_FZ_AVOSoapOut">
    <wsdl:part name="parameters" element="tns:MDM_CONTACT_FZ_AVOResponse" />
  </wsdl:message>
  <wsdl:message name="MDM_COMPANY_FZ_WEB_HSoapIn">
    <wsdl:part name="parameters" element="tns:MDM_COMPANY_FZ_WEB_H" />
  </wsdl:message>
  <wsdl:message name="MDM_COMPANY_FZ_WEB_HSoapOut">
    <wsdl:part name="parameters" element="tns:MDM_COMPANY_FZ_WEB_HResponse" />
  </wsdl:message>
  <wsdl:message name="MDM_COMPANY_FZ_AVO_T_HSoapIn">
    <wsdl:part name="parameters" element="tns:MDM_COMPANY_FZ_AVO_T_H" />
  </wsdl:message>
  <wsdl:message name="MDM_COMPANY_FZ_AVO_T_HSoapOut">
    <wsdl:part name="parameters" element="tns:MDM_COMPANY_FZ_AVO_T_HResponse" />
  </wsdl:message>
  <wsdl:message name="CallHoovers_AdvancedCompanySearchSoapIn">
    <wsdl:part name="parameters" element="tns:CallHoovers_AdvancedCompanySearch" />
  </wsdl:message>
  <wsdl:message name="CallHoovers_AdvancedCompanySearchSoapOut">
    <wsdl:part name="parameters" element="tns:CallHoovers_AdvancedCompanySearchResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="MDM_COMPANY_EX_WEB">
      <wsdl:input message="tns:MDM_COMPANY_EX_WEBSoapIn" />
      <wsdl:output message="tns:MDM_COMPANY_EX_WEBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MDM_CONTACT_EX_WEB">
      <wsdl:input message="tns:MDM_CONTACT_EX_WEBSoapIn" />
      <wsdl:output message="tns:MDM_CONTACT_EX_WEBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MDM_COMPANY_FZ_AVO_H">
      <wsdl:input message="tns:MDM_COMPANY_FZ_AVO_HSoapIn" />
      <wsdl:output message="tns:MDM_COMPANY_FZ_AVO_HSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MDM_CONTACT_FZ_AVO">
      <wsdl:input message="tns:MDM_CONTACT_FZ_AVOSoapIn" />
      <wsdl:output message="tns:MDM_CONTACT_FZ_AVOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MDM_COMPANY_FZ_WEB_H">
      <wsdl:input message="tns:MDM_COMPANY_FZ_WEB_HSoapIn" />
      <wsdl:output message="tns:MDM_COMPANY_FZ_WEB_HSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MDM_COMPANY_FZ_AVO_T_H">
      <wsdl:input message="tns:MDM_COMPANY_FZ_AVO_T_HSoapIn" />
      <wsdl:output message="tns:MDM_COMPANY_FZ_AVO_T_HSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CallHoovers_AdvancedCompanySearch">
      <wsdl:input message="tns:CallHoovers_AdvancedCompanySearchSoapIn" />
      <wsdl:output message="tns:CallHoovers_AdvancedCompanySearchSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MDM_COMPANY_EX_WEB">
      <soap:operation soapAction="http://tempuri.org/MDM_COMPANY_EX_WEB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MDM_CONTACT_EX_WEB">
      <soap:operation soapAction="http://tempuri.org/MDM_CONTACT_EX_WEB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MDM_COMPANY_FZ_AVO_H">
      <soap:operation soapAction="http://tempuri.org/MDM_COMPANY_FZ_AVO_H" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MDM_CONTACT_FZ_AVO">
      <soap:operation soapAction="http://tempuri.org/MDM_CONTACT_FZ_AVO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MDM_COMPANY_FZ_WEB_H">
      <soap:operation soapAction="http://tempuri.org/MDM_COMPANY_FZ_WEB_H" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MDM_COMPANY_FZ_AVO_T_H">
      <soap:operation soapAction="http://tempuri.org/MDM_COMPANY_FZ_AVO_T_H" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CallHoovers_AdvancedCompanySearch">
      <soap:operation soapAction="http://tempuri.org/CallHoovers_AdvancedCompanySearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MDM_COMPANY_EX_WEB">
      <soap12:operation soapAction="http://tempuri.org/MDM_COMPANY_EX_WEB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MDM_CONTACT_EX_WEB">
      <soap12:operation soapAction="http://tempuri.org/MDM_CONTACT_EX_WEB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MDM_COMPANY_FZ_AVO_H">
      <soap12:operation soapAction="http://tempuri.org/MDM_COMPANY_FZ_AVO_H" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MDM_CONTACT_FZ_AVO">
      <soap12:operation soapAction="http://tempuri.org/MDM_CONTACT_FZ_AVO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MDM_COMPANY_FZ_WEB_H">
      <soap12:operation soapAction="http://tempuri.org/MDM_COMPANY_FZ_WEB_H" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MDM_COMPANY_FZ_AVO_T_H">
      <soap12:operation soapAction="http://tempuri.org/MDM_COMPANY_FZ_AVO_T_H" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CallHoovers_AdvancedCompanySearch">
      <soap12:operation soapAction="http://tempuri.org/CallHoovers_AdvancedCompanySearch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://edc2vmmdmstg002.eu.trendnet.org/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://edc2vmmdmstg002.eu.trendnet.org/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>