MDM/MDMService/WSDL/Client/http___siebel.com_asi__RAEM_CRM_Partner_-_MDM.WSDL

<?xml version="1.0" encoding="UTF-8"?><definitions
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:xsdLocal1="http://www.siebel.com/xml/RAEM%20CRM%20CX%20Partner"
 targetNamespace="http://siebel.com/asi/"
 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:tns="http://siebel.com/asi/"
><types
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 xmlns:xsdLocal1="http://www.siebel.com/xml/RAEM%20CRM%20CX%20Partner"
 targetNamespace="http://www.siebel.com/xml/RAEM%20CRM%20CX%20Partner"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:annotation
><xsd:documentation
>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation
></xsd:annotation
><xsd:element
 name="ListOfRaemCrmCxPartner"
 type="xsdLocal1:ListOfRaemCrmCxPartner"
></xsd:element
><xsd:complexType
 name="ListOfRaemCrmCxPartnerTopElmt"
><xsd:sequence
><xsd:element
 name="ListOfRaemCrmCxPartner"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal1:ListOfRaemCrmCxPartner"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfRaemCrmCxPartner"
><xsd:sequence
><xsd:element
 name="RaemCrmCxPartner"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal1:RaemCrmCxPartner"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="RaemCrmCxPartner"
><xsd:sequence
><xsd:element
 name="Id"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="Created"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="CreatedBy"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="ConflictId"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="ModId"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="Address"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string200"
></xsd:element
><xsd:element
 name="BlockFlag"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="City"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string50"
></xsd:element
><xsd:element
 name="Country"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string100"
></xsd:element
><xsd:element
 name="DistributorFlag"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Email"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string200"
></xsd:element
><xsd:element
 name="EndCustomerFlag"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="IntegrationSource"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string50"
></xsd:element
><xsd:element
 name="Name"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string100"
></xsd:element
><xsd:element
 name="NavisionId"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="PartnerTier"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string50"
></xsd:element
><xsd:element
 name="PartnerTierDescription"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string50"
></xsd:element
><xsd:element
 name="PrimaryPartnerTierId"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="PrimaryPartnerTypeId"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="ResellerFlag"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="StandardDiscount"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SyncDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:simpleType
 name="string50"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="50"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string30"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="30"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string100"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="100"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string200"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="200"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
></xsd:schema
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 targetNamespace="http://siebel.com/asi/"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:import
 namespace="http://www.siebel.com/xml/RAEM%20CRM%20CX%20Partner"
></xsd:import
><xsd:element
 name="RAEM_spcCRM_spcCX_spcPartner_spcASI_InsertCRMPartner_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 ref="xsdLocal1:ListOfRaemCrmCxPartner"
></xsd:element
><xsd:element
 name="StatusObject"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="RAEM_spcCRM_spcCX_spcPartner_spcASI_InsertCRMPartner_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 ref="xsdLocal1:ListOfRaemCrmCxPartner"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="RAEM_spcCRM_spcCX_spcPartner_spcASI_QueryByIdCRMPartner_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="PrimaryRowId"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="RAEM_spcCRM_spcCX_spcPartner_spcASI_QueryByIdCRMPartner_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 ref="xsdLocal1:ListOfRaemCrmCxPartner"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="RAEM_spcCRM_spcCX_spcPartner_spcASI_SynchronizeCRMPartner_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 ref="xsdLocal1:ListOfRaemCrmCxPartner"
></xsd:element
><xsd:element
 name="StatusObject"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="RAEM_spcCRM_spcCX_spcPartner_spcASI_SynchronizeCRMPartner_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 ref="xsdLocal1:ListOfRaemCrmCxPartner"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="RAEM_spcCRM_spcCX_spcPartner_spcASI_UpdateCRMPartner_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 ref="xsdLocal1:ListOfRaemCrmCxPartner"
></xsd:element
><xsd:element
 name="StatusObject"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="RAEM_spcCRM_spcCX_spcPartner_spcASI_UpdateCRMPartner_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 ref="xsdLocal1:ListOfRaemCrmCxPartner"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="RAEM_spcCRM_spcCX_spcPartner_spcASI_QueryByExampleCRMPartner_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 ref="xsdLocal1:ListOfRaemCrmCxPartner"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="RAEM_spcCRM_spcCX_spcPartner_spcASI_QueryByExampleCRMPartner_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 ref="xsdLocal1:ListOfRaemCrmCxPartner"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="RAEM_spcCRM_spcCX_spcPartner_spcASI_InsertOrUpdateCRMPartner_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 ref="xsdLocal1:ListOfRaemCrmCxPartner"
></xsd:element
><xsd:element
 name="StatusObject"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="RAEM_spcCRM_spcCX_spcPartner_spcASI_InsertOrUpdateCRMPartner_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 ref="xsdLocal1:ListOfRaemCrmCxPartner"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
></xsd:schema
></types
><message
 name="RAEM_spcCRM_spcCX_spcPartner_spcASI_InsertCRMPartner_Input"
><part
 name="RAEM_spcCRM_spcCX_spcPartner_spcASI_InsertCRMPartner_Input"
 element="tns:RAEM_spcCRM_spcCX_spcPartner_spcASI_InsertCRMPartner_Input"
></part
></message
><message
 name="RAEM_spcCRM_spcCX_spcPartner_spcASI_InsertCRMPartner_Output"
><part
 name="RAEM_spcCRM_spcCX_spcPartner_spcASI_InsertCRMPartner_Output"
 element="tns:RAEM_spcCRM_spcCX_spcPartner_spcASI_InsertCRMPartner_Output"
></part
></message
><message
 name="RAEM_spcCRM_spcCX_spcPartner_spcASI_QueryByIdCRMPartner_Input"
><part
 name="RAEM_spcCRM_spcCX_spcPartner_spcASI_QueryByIdCRMPartner_Input"
 element="tns:RAEM_spcCRM_spcCX_spcPartner_spcASI_QueryByIdCRMPartner_Input"
></part
></message
><message
 name="RAEM_spcCRM_spcCX_spcPartner_spcASI_QueryByIdCRMPartner_Output"
><part
 name="RAEM_spcCRM_spcCX_spcPartner_spcASI_QueryByIdCRMPartner_Output"
 element="tns:RAEM_spcCRM_spcCX_spcPartner_spcASI_QueryByIdCRMPartner_Output"
></part
></message
><message
 name="RAEM_spcCRM_spcCX_spcPartner_spcASI_SynchronizeCRMPartner_Input"
><part
 name="RAEM_spcCRM_spcCX_spcPartner_spcASI_SynchronizeCRMPartner_Input"
 element="tns:RAEM_spcCRM_spcCX_spcPartner_spcASI_SynchronizeCRMPartner_Input"
></part
></message
><message
 name="RAEM_spcCRM_spcCX_spcPartner_spcASI_SynchronizeCRMPartner_Output"
><part
 name="RAEM_spcCRM_spcCX_spcPartner_spcASI_SynchronizeCRMPartner_Output"
 element="tns:RAEM_spcCRM_spcCX_spcPartner_spcASI_SynchronizeCRMPartner_Output"
></part
></message
><message
 name="RAEM_spcCRM_spcCX_spcPartner_spcASI_UpdateCRMPartner_Input"
><part
 name="RAEM_spcCRM_spcCX_spcPartner_spcASI_UpdateCRMPartner_Input"
 element="tns:RAEM_spcCRM_spcCX_spcPartner_spcASI_UpdateCRMPartner_Input"
></part
></message
><message
 name="RAEM_spcCRM_spcCX_spcPartner_spcASI_UpdateCRMPartner_Output"
><part
 name="RAEM_spcCRM_spcCX_spcPartner_spcASI_UpdateCRMPartner_Output"
 element="tns:RAEM_spcCRM_spcCX_spcPartner_spcASI_UpdateCRMPartner_Output"
></part
></message
><message
 name="RAEM_spcCRM_spcCX_spcPartner_spcASI_QueryByExampleCRMPartner_Input"
><part
 name="RAEM_spcCRM_spcCX_spcPartner_spcASI_QueryByExampleCRMPartner_Input"
 element="tns:RAEM_spcCRM_spcCX_spcPartner_spcASI_QueryByExampleCRMPartner_Input"
></part
></message
><message
 name="RAEM_spcCRM_spcCX_spcPartner_spcASI_QueryByExampleCRMPartner_Output"
><part
 name="RAEM_spcCRM_spcCX_spcPartner_spcASI_QueryByExampleCRMPartner_Output"
 element="tns:RAEM_spcCRM_spcCX_spcPartner_spcASI_QueryByExampleCRMPartner_Output"
></part
></message
><message
 name="RAEM_spcCRM_spcCX_spcPartner_spcASI_InsertOrUpdateCRMPartner_Input"
><part
 name="RAEM_spcCRM_spcCX_spcPartner_spcASI_InsertOrUpdateCRMPartner_Input"
 element="tns:RAEM_spcCRM_spcCX_spcPartner_spcASI_InsertOrUpdateCRMPartner_Input"
></part
></message
><message
 name="RAEM_spcCRM_spcCX_spcPartner_spcASI_InsertOrUpdateCRMPartner_Output"
><part
 name="RAEM_spcCRM_spcCX_spcPartner_spcASI_InsertOrUpdateCRMPartner_Output"
 element="tns:RAEM_spcCRM_spcCX_spcPartner_spcASI_InsertOrUpdateCRMPartner_Output"
></part
></message
><portType
 name="RAEM_spcCRM_spcCX_spcPartner_spcASI"
><operation
 name="InsertCRMPartner"
><input
 message="tns:RAEM_spcCRM_spcCX_spcPartner_spcASI_InsertCRMPartner_Input"
></input
><output
 message="tns:RAEM_spcCRM_spcCX_spcPartner_spcASI_InsertCRMPartner_Output"
></output
></operation
><operation
 name="QueryByIdCRMPartner"
><input
 message="tns:RAEM_spcCRM_spcCX_spcPartner_spcASI_QueryByIdCRMPartner_Input"
></input
><output
 message="tns:RAEM_spcCRM_spcCX_spcPartner_spcASI_QueryByIdCRMPartner_Output"
></output
></operation
><operation
 name="SynchronizeCRMPartner"
><input
 message="tns:RAEM_spcCRM_spcCX_spcPartner_spcASI_SynchronizeCRMPartner_Input"
></input
><output
 message="tns:RAEM_spcCRM_spcCX_spcPartner_spcASI_SynchronizeCRMPartner_Output"
></output
></operation
><operation
 name="UpdateCRMPartner"
><input
 message="tns:RAEM_spcCRM_spcCX_spcPartner_spcASI_UpdateCRMPartner_Input"
></input
><output
 message="tns:RAEM_spcCRM_spcCX_spcPartner_spcASI_UpdateCRMPartner_Output"
></output
></operation
><operation
 name="QueryByExampleCRMPartner"
><input
 message="tns:RAEM_spcCRM_spcCX_spcPartner_spcASI_QueryByExampleCRMPartner_Input"
></input
><output
 message="tns:RAEM_spcCRM_spcCX_spcPartner_spcASI_QueryByExampleCRMPartner_Output"
></output
></operation
><operation
 name="InsertOrUpdateCRMPartner"
><input
 message="tns:RAEM_spcCRM_spcCX_spcPartner_spcASI_InsertOrUpdateCRMPartner_Input"
></input
><output
 message="tns:RAEM_spcCRM_spcCX_spcPartner_spcASI_InsertOrUpdateCRMPartner_Output"
></output
></operation
></portType
><binding
 name="RAEM_spcCRM_spcCX_spcPartner_spcASI"
 type="tns:RAEM_spcCRM_spcCX_spcPartner_spcASI"
><soap:binding
 transport="http://schemas.xmlsoap.org/soap/http"
 style="document"
></soap:binding
><operation
 name="InsertCRMPartner"
><soap:operation
 soapAction="document/http://siebel.com/asi/:InsertCRMPartner"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
><operation
 name="QueryByIdCRMPartner"
><soap:operation
 soapAction="document/http://siebel.com/asi/:QueryByIdCRMPartner"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
><operation
 name="SynchronizeCRMPartner"
><soap:operation
 soapAction="document/http://siebel.com/asi/:SynchronizeCRMPartner"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
><operation
 name="UpdateCRMPartner"
><soap:operation
 soapAction="document/http://siebel.com/asi/:UpdateCRMPartner"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
><operation
 name="QueryByExampleCRMPartner"
><soap:operation
 soapAction="document/http://siebel.com/asi/:QueryByExampleCRMPartner"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
><operation
 name="InsertOrUpdateCRMPartner"
><soap:operation
 soapAction="document/http://siebel.com/asi/:InsertOrUpdateCRMPartner"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
></binding
><service
 name="RAEM_spcCRM_spcPartner_spc-_spcMDM"
><port
 binding="tns:RAEM_spcCRM_spcCX_spcPartner_spcASI"
 name="RAEM_spcCRM_spcCX_spcPartner_spcASI"
><soap:address
 location="http://tw-bprallqa4/eai_enu/start.swe?SWEExtSource=WebService&amp;SWEExtCmd=Execute&amp;UserName=EUWEBADM&amp;Password=EUWEBADM"
></soap:address
></port
></service
></definitions
>