MDM/MDMService/WSDL/Client/MessageReceiver.WSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://TrendMicro.TrendEOrders.Messsages/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://TrendMicro.TrendEOrders.Messsages/">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://TrendMicro.TrendEOrders.Messsages/">
            <s:element name="ReceiveMessage">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="MessageBody" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="ReceiveMessageResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ReceiveMessageResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="ReceiveMessageSoapIn">
        <wsdl:part name="parameters" element="tns:ReceiveMessage"/>
    </wsdl:message>
    <wsdl:message name="ReceiveMessageSoapOut">
        <wsdl:part name="parameters" element="tns:ReceiveMessageResponse"/>
    </wsdl:message>
    <wsdl:portType name="MessageReceiverSoap">
        <wsdl:operation name="ReceiveMessage">
            <wsdl:input message="tns:ReceiveMessageSoapIn"/>
            <wsdl:output message="tns:ReceiveMessageSoapOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MessageReceiverSoap" type="tns:MessageReceiverSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ReceiveMessage">
            <soap:operation soapAction="http://TrendMicro.TrendEOrders.Messsages/ReceiveMessage" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MessageReceiverSoap12" type="tns:MessageReceiverSoap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ReceiveMessage">
            <soap12:operation soapAction="http://TrendMicro.TrendEOrders.Messsages/ReceiveMessage" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MessageReceiver">
        <wsdl:port name="MessageReceiverSoap" binding="tns:MessageReceiverSoap">
            <soap:address location="https://216.104.20.81/MessageReceiver.asmx"/>
        </wsdl:port>
        <wsdl:port name="MessageReceiverSoap12" binding="tns:MessageReceiverSoap12">
            <soap12:address location="https://216.104.20.81/MessageReceiver.asmx"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>