MDM/MDMService/WSDL/Client/PRMEU_SyncAccountWebService.WSDL

<?xml version="1.0" encoding="UTF-8"?>
<!--
 Web Services API : PRMEU_SyncAccountWebService
-->
<definitions targetNamespace="http://soap.sforce.com/schemas/class/PRMEU_SyncAccountWebService" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.sforce.com/schemas/class/PRMEU_SyncAccountWebService">
 <types>
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://soap.sforce.com/schemas/class/PRMEU_SyncAccountWebService">
   <xsd:element name="DebuggingInfo">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="debugLog" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:simpleType name="ID">
    <xsd:restriction base="xsd:string">
     <xsd:length value="18"/>
     <xsd:pattern value="[a-zA-Z0-9]{18}"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LogCategory">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="Db"/>
     <xsd:enumeration value="Workflow"/>
     <xsd:enumeration value="Validation"/>
     <xsd:enumeration value="Callout"/>
     <xsd:enumeration value="Apex_code"/>
     <xsd:enumeration value="Apex_profiling"/>
     <xsd:enumeration value="Visualforce"/>
     <xsd:enumeration value="System"/>
     <xsd:enumeration value="All"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LogCategoryLevel">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="Internal"/>
     <xsd:enumeration value="Finest"/>
     <xsd:enumeration value="Finer"/>
     <xsd:enumeration value="Fine"/>
     <xsd:enumeration value="Debug"/>
     <xsd:enumeration value="Info"/>
     <xsd:enumeration value="Warn"/>
     <xsd:enumeration value="Error"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="LogInfo">
    <xsd:sequence>
     <xsd:element name="category" type="tns:LogCategory"/>
     <xsd:element name="level" type="tns:LogCategoryLevel"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="LogType">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="None"/>
     <xsd:enumeration value="Debugonly"/>
     <xsd:enumeration value="Db"/>
     <xsd:enumeration value="Profiling"/>
     <xsd:enumeration value="Callout"/>
     <xsd:enumeration value="Detail"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:element name="DebuggingHeader">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="categories" minOccurs="0" maxOccurs="unbounded" type="tns:LogInfo"/>
      <xsd:element name="debugLevel" type="tns:LogType"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="CallOptions">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="client" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="SessionHeader">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="sessionId" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="AllowFieldTruncationHeader">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="allowFieldTruncation" type="xsd:boolean"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="AccountInputBean">
    <xsd:sequence>
     <xsd:element name="AccountName" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="AccountOtherType" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="AccountStatus" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="AccountType" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Aka" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="BillingCity" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="BillingCountry" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="BillingPostalCode" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="BillingState" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="BillingStreet" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Country" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Duns" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="DunsDirectParent" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="DunsGlobalParent" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="DunsName" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="EmailDomain" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="ExternalPartnerId" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Fax" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="MainPhoneNumber" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="MergedToSfdcPartnerId" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="NavisionId" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="ParentAccount" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="PartnerTier" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="RecordType" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="SfdcPartnerId" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="SourceSystem" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="VatNumber" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Website" minOccurs="0" type="xsd:string" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="AccountOutputBean">
    <xsd:sequence>
     <xsd:element name="ErrorMessage" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="ExternalPartnerId" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="ProcessStatus" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="SfdcPartnerId" minOccurs="0" type="xsd:string" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="SFDCCreatePartner">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="inputBean" type="tns:AccountInputBean" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="SFDCCreatePartnerResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="result" type="tns:AccountOutputBean" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="SFDCUpdatePartner">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="inputBean" type="tns:AccountInputBean" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="SFDCUpdatePartnerResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="result" type="tns:AccountOutputBean" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="SFDCUpdatePartnerByMdmID">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="inputBean" type="tns:AccountInputBean" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="SFDCUpdatePartnerByMdmIDResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="result" type="tns:AccountOutputBean" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </types>
 <!-- Message for the header parts -->
 <message name="Header">
  <part name="AllowFieldTruncationHeader" element="tns:AllowFieldTruncationHeader"/>
  <part name="CallOptions" element="tns:CallOptions"/>
  <part name="DebuggingHeader" element="tns:DebuggingHeader"/>
  <part name="DebuggingInfo" element="tns:DebuggingInfo"/>
  <part name="SessionHeader" element="tns:SessionHeader"/>
 </message>
 <!-- Operation Messages -->
 <message name="SFDCCreatePartnerRequest">
  <part element="tns:SFDCCreatePartner" name="parameters"/>
 </message>
 <message name="SFDCCreatePartnerResponse">
  <part element="tns:SFDCCreatePartnerResponse" name="parameters"/>
 </message>
 <message name="SFDCUpdatePartnerRequest">
  <part element="tns:SFDCUpdatePartner" name="parameters"/>
 </message>
 <message name="SFDCUpdatePartnerResponse">
  <part element="tns:SFDCUpdatePartnerResponse" name="parameters"/>
 </message>
 <message name="SFDCUpdatePartnerByMdmIDRequest">
  <part element="tns:SFDCUpdatePartnerByMdmID" name="parameters"/>
 </message>
 <message name="SFDCUpdatePartnerByMdmIDResponse">
  <part element="tns:SFDCUpdatePartnerByMdmIDResponse" name="parameters"/>
 </message>
 <portType name="PRMEU_SyncAccountWebServicePortType">
  <operation name="SFDCCreatePartner">
   <input message="tns:SFDCCreatePartnerRequest"/>
   <output message="tns:SFDCCreatePartnerResponse"/>
  </operation>
  <operation name="SFDCUpdatePartner">
   <input message="tns:SFDCUpdatePartnerRequest"/>
   <output message="tns:SFDCUpdatePartnerResponse"/>
  </operation>
  <operation name="SFDCUpdatePartnerByMdmID">
   <input message="tns:SFDCUpdatePartnerByMdmIDRequest"/>
   <output message="tns:SFDCUpdatePartnerByMdmIDResponse"/>
  </operation>
 </portType>
 <binding name="PRMEU_SyncAccountWebServiceBinding" type="tns:PRMEU_SyncAccountWebServicePortType">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="SFDCCreatePartner">
   <soap:operation soapAction=""/>
   <input>
    <soap:header use="literal" part="SessionHeader" message="tns:Header"/>
    <soap:header use="literal" part="CallOptions" message="tns:Header"/>
    <soap:header use="literal" part="DebuggingHeader" message="tns:Header"/>
    <soap:header use="literal" part="AllowFieldTruncationHeader" message="tns:Header"/>
    <soap:body use="literal" parts="parameters"/>
   </input>
   <output>
    <soap:header use="literal" part="DebuggingInfo" message="tns:Header"/>
    <soap:body use="literal"/>
   </output>
  </operation>
  <operation name="SFDCUpdatePartner">
   <soap:operation soapAction=""/>
   <input>
    <soap:header use="literal" part="SessionHeader" message="tns:Header"/>
    <soap:header use="literal" part="CallOptions" message="tns:Header"/>
    <soap:header use="literal" part="DebuggingHeader" message="tns:Header"/>
    <soap:header use="literal" part="AllowFieldTruncationHeader" message="tns:Header"/>
    <soap:body use="literal" parts="parameters"/>
   </input>
   <output>
    <soap:header use="literal" part="DebuggingInfo" message="tns:Header"/>
    <soap:body use="literal"/>
   </output>
  </operation>
  <operation name="SFDCUpdatePartnerByMdmID">
   <soap:operation soapAction=""/>
   <input>
    <soap:header use="literal" part="SessionHeader" message="tns:Header"/>
    <soap:header use="literal" part="CallOptions" message="tns:Header"/>
    <soap:header use="literal" part="DebuggingHeader" message="tns:Header"/>
    <soap:header use="literal" part="AllowFieldTruncationHeader" message="tns:Header"/>
    <soap:body use="literal" parts="parameters"/>
   </input>
   <output>
    <soap:header use="literal" part="DebuggingInfo" message="tns:Header"/>
    <soap:body use="literal"/>
   </output>
  </operation>
 </binding>
 <service name="PRMEU_SyncAccountWebServiceService">
  <documentation></documentation>
  <port binding="tns:PRMEU_SyncAccountWebServiceBinding" name="PRMEU_SyncAccountWebService">
   <soap:address location="https://cs9-api.salesforce.com/services/Soap/class/PRMEU_SyncAccountWebService"/>
  </port>
 </service>
</definitions>