MDM/MDMService/WSDL/Client/PRMEU_SyncContactWebService.WSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 Web Services API : PRMEU_SyncContactWebService
-->
<definitions targetNamespace="http://soap.sforce.com/schemas/class/PRMEU_SyncContactWebService" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.sforce.com/schemas/class/PRMEU_SyncContactWebService">
 <types>
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://soap.sforce.com/schemas/class/PRMEU_SyncContactWebService">
   <xsd:element name="DebuggingInfo">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="debugLog" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:simpleType name="ID">
    <xsd:restriction base="xsd:string">
     <xsd:length value="18"/>
     <xsd:pattern value="[a-zA-Z0-9]{18}"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LogCategory">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="Db"/>
     <xsd:enumeration value="Workflow"/>
     <xsd:enumeration value="Validation"/>
     <xsd:enumeration value="Callout"/>
     <xsd:enumeration value="Apex_code"/>
     <xsd:enumeration value="Apex_profiling"/>
     <xsd:enumeration value="Visualforce"/>
     <xsd:enumeration value="System"/>
     <xsd:enumeration value="All"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LogCategoryLevel">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="Internal"/>
     <xsd:enumeration value="Finest"/>
     <xsd:enumeration value="Finer"/>
     <xsd:enumeration value="Fine"/>
     <xsd:enumeration value="Debug"/>
     <xsd:enumeration value="Info"/>
     <xsd:enumeration value="Warn"/>
     <xsd:enumeration value="Error"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="LogInfo">
    <xsd:sequence>
     <xsd:element name="category" type="tns:LogCategory"/>
     <xsd:element name="level" type="tns:LogCategoryLevel"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="LogType">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="None"/>
     <xsd:enumeration value="Debugonly"/>
     <xsd:enumeration value="Db"/>
     <xsd:enumeration value="Profiling"/>
     <xsd:enumeration value="Callout"/>
     <xsd:enumeration value="Detail"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:element name="DebuggingHeader">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="categories" minOccurs="0" maxOccurs="unbounded" type="tns:LogInfo"/>
      <xsd:element name="debugLevel" type="tns:LogType"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="CallOptions">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="client" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="SessionHeader">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="sessionId" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="AllowFieldTruncationHeader">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="allowFieldTruncation" type="xsd:boolean"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="ContactInputBean">
    <xsd:sequence>
     <xsd:element name="Active" minOccurs="0" type="xsd:boolean" nillable="true"/>
     <xsd:element name="CompanyLocationId" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="DirectLine" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="DirectLineExt" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="Email" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="ExternalContactId" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="ExternalLocationId" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="ExternalPartnerId" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="FirstName" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="JobFunction" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Language" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="LastName" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="MergedToSfdcContactId" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Mobile" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="PrimaryContact" minOccurs="0" type="xsd:boolean" nillable="true"/>
     <xsd:element name="RecordType" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Salutation" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="SfdcContactId" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="SfdcLocationId" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="SfdcPartnerId" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="SourceSystem" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Title" minOccurs="0" type="xsd:string" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ContactOutputBean">
    <xsd:sequence>
     <xsd:element name="ErrorMessage" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="ExternalContactId" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="ProcessStatus" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="SfdcContactId" minOccurs="0" type="xsd:string" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="SFDCCreateContact">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="inputBean" type="tns:ContactInputBean" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="SFDCCreateContactResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="result" type="tns:ContactOutputBean" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="SFDCUpdateContact">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="inputBean" type="tns:ContactInputBean" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="SFDCUpdateContactResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="result" type="tns:ContactOutputBean" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="SFDCUpdateContactByMdmID">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="inputBean" type="tns:ContactInputBean" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="SFDCUpdateContactByMdmIDResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="result" type="tns:ContactOutputBean" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </types>
 <!-- Message for the header parts -->
 <message name="Header">
  <part name="AllowFieldTruncationHeader" element="tns:AllowFieldTruncationHeader"/>
  <part name="CallOptions" element="tns:CallOptions"/>
  <part name="DebuggingHeader" element="tns:DebuggingHeader"/>
  <part name="DebuggingInfo" element="tns:DebuggingInfo"/>
  <part name="SessionHeader" element="tns:SessionHeader"/>
 </message>
 <!-- Operation Messages -->
 <message name="SFDCCreateContactRequest">
  <part element="tns:SFDCCreateContact" name="parameters"/>
 </message>
 <message name="SFDCCreateContactResponse">
  <part element="tns:SFDCCreateContactResponse" name="parameters"/>
 </message>
 <message name="SFDCUpdateContactRequest">
  <part element="tns:SFDCUpdateContact" name="parameters"/>
 </message>
 <message name="SFDCUpdateContactResponse">
  <part element="tns:SFDCUpdateContactResponse" name="parameters"/>
 </message>
 <message name="SFDCUpdateContactByMdmIDRequest">
  <part element="tns:SFDCUpdateContactByMdmID" name="parameters"/>
 </message>
 <message name="SFDCUpdateContactByMdmIDResponse">
  <part element="tns:SFDCUpdateContactByMdmIDResponse" name="parameters"/>
 </message>
 <portType name="PRMEU_SyncContactWebServicePortType">
  <operation name="SFDCCreateContact">
   <input message="tns:SFDCCreateContactRequest"/>
   <output message="tns:SFDCCreateContactResponse"/>
  </operation>
  <operation name="SFDCUpdateContact">
   <input message="tns:SFDCUpdateContactRequest"/>
   <output message="tns:SFDCUpdateContactResponse"/>
  </operation>
  <operation name="SFDCUpdateContactByMdmID">
   <input message="tns:SFDCUpdateContactByMdmIDRequest"/>
   <output message="tns:SFDCUpdateContactByMdmIDResponse"/>
  </operation>
 </portType>
 <binding name="PRMEU_SyncContactWebServiceBinding" type="tns:PRMEU_SyncContactWebServicePortType">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="SFDCCreateContact">
   <soap:operation soapAction=""/>
   <input>
    <soap:header use="literal" part="SessionHeader" message="tns:Header"/>
    <soap:header use="literal" part="CallOptions" message="tns:Header"/>
    <soap:header use="literal" part="DebuggingHeader" message="tns:Header"/>
    <soap:header use="literal" part="AllowFieldTruncationHeader" message="tns:Header"/>
    <soap:body use="literal" parts="parameters"/>
   </input>
   <output>
    <soap:header use="literal" part="DebuggingInfo" message="tns:Header"/>
    <soap:body use="literal"/>
   </output>
  </operation>
  <operation name="SFDCUpdateContact">
   <soap:operation soapAction=""/>
   <input>
    <soap:header use="literal" part="SessionHeader" message="tns:Header"/>
    <soap:header use="literal" part="CallOptions" message="tns:Header"/>
    <soap:header use="literal" part="DebuggingHeader" message="tns:Header"/>
    <soap:header use="literal" part="AllowFieldTruncationHeader" message="tns:Header"/>
    <soap:body use="literal" parts="parameters"/>
   </input>
   <output>
    <soap:header use="literal" part="DebuggingInfo" message="tns:Header"/>
    <soap:body use="literal"/>
   </output>
  </operation>
  <operation name="SFDCUpdateContactByMdmID">
   <soap:operation soapAction=""/>
   <input>
    <soap:header use="literal" part="SessionHeader" message="tns:Header"/>
    <soap:header use="literal" part="CallOptions" message="tns:Header"/>
    <soap:header use="literal" part="DebuggingHeader" message="tns:Header"/>
    <soap:header use="literal" part="AllowFieldTruncationHeader" message="tns:Header"/>
    <soap:body use="literal" parts="parameters"/>
   </input>
   <output>
    <soap:header use="literal" part="DebuggingInfo" message="tns:Header"/>
    <soap:body use="literal"/>
   </output>
  </operation>
 </binding>
 <service name="PRMEU_SyncContactWebServiceService">
  <documentation></documentation>
  <port binding="tns:PRMEU_SyncContactWebServiceBinding" name="PRMEU_SyncContactWebService">
   <soap:address location="https://cs9-api.salesforce.com/services/Soap/class/PRMEU_SyncContactWebService"/>
  </port>
 </service>
</definitions>