MDM/MDMService/WSDL/Client/PRMEU_SyncLocationWebService.WSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 Web Services API : PRMEU_SyncLocationWebService
-->
<definitions targetNamespace="http://soap.sforce.com/schemas/class/PRMEU_SyncLocationWebService" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.sforce.com/schemas/class/PRMEU_SyncLocationWebService">
 <types>
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://soap.sforce.com/schemas/class/PRMEU_SyncLocationWebService">
   <xsd:element name="DebuggingInfo">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="debugLog" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:simpleType name="ID">
    <xsd:restriction base="xsd:string">
     <xsd:length value="18"/>
     <xsd:pattern value="[a-zA-Z0-9]{18}"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LogCategory">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="Db"/>
     <xsd:enumeration value="Workflow"/>
     <xsd:enumeration value="Validation"/>
     <xsd:enumeration value="Callout"/>
     <xsd:enumeration value="Apex_code"/>
     <xsd:enumeration value="Apex_profiling"/>
     <xsd:enumeration value="Visualforce"/>
     <xsd:enumeration value="System"/>
     <xsd:enumeration value="All"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LogCategoryLevel">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="Internal"/>
     <xsd:enumeration value="Finest"/>
     <xsd:enumeration value="Finer"/>
     <xsd:enumeration value="Fine"/>
     <xsd:enumeration value="Debug"/>
     <xsd:enumeration value="Info"/>
     <xsd:enumeration value="Warn"/>
     <xsd:enumeration value="Error"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="LogInfo">
    <xsd:sequence>
     <xsd:element name="category" type="tns:LogCategory"/>
     <xsd:element name="level" type="tns:LogCategoryLevel"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="LogType">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="None"/>
     <xsd:enumeration value="Debugonly"/>
     <xsd:enumeration value="Db"/>
     <xsd:enumeration value="Profiling"/>
     <xsd:enumeration value="Callout"/>
     <xsd:enumeration value="Detail"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:element name="DebuggingHeader">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="categories" minOccurs="0" maxOccurs="unbounded" type="tns:LogInfo"/>
      <xsd:element name="debugLevel" type="tns:LogType"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="CallOptions">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="client" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="SessionHeader">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="sessionId" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="AllowFieldTruncationHeader">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="allowFieldTruncation" type="xsd:boolean"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="LocationInputBean">
    <xsd:sequence>
     <xsd:element name="Account" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="City" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Country" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="CountyRegion" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="ExternalLocationId" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="ExternalPartnerId" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="PostalCode" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="PrimaryLocation" minOccurs="0" type="xsd:boolean" nillable="true"/>
     <xsd:element name="RecordType" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="SfdcLocationId" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="SfdcPartnerId" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="SourceSystem" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Street" minOccurs="0" type="xsd:string" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="LocationOutputBean">
    <xsd:sequence>
     <xsd:element name="ErrorMessage" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="ExternalLocationId" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="ProcessStatus" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="SfdcLocationId" minOccurs="0" type="xsd:string" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="SFDCCreateLocation">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="inputBean" type="tns:LocationInputBean" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="SFDCCreateLocationResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="result" type="tns:LocationOutputBean" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="SFDCDeleteLocation">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="inputBean" type="tns:LocationInputBean" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="SFDCDeleteLocationResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="result" type="tns:LocationOutputBean" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="SFDCUpdateLocation">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="inputBean" type="tns:LocationInputBean" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="SFDCUpdateLocationResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="result" type="tns:LocationOutputBean" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="SFDCUpdateLocationByMdmID">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="inputBean" type="tns:LocationInputBean" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="SFDCUpdateLocationByMdmIDResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="result" type="tns:LocationOutputBean" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </types>
 <!-- Message for the header parts -->
 <message name="Header">
  <part name="AllowFieldTruncationHeader" element="tns:AllowFieldTruncationHeader"/>
  <part name="CallOptions" element="tns:CallOptions"/>
  <part name="DebuggingHeader" element="tns:DebuggingHeader"/>
  <part name="DebuggingInfo" element="tns:DebuggingInfo"/>
  <part name="SessionHeader" element="tns:SessionHeader"/>
 </message>
 <!-- Operation Messages -->
 <message name="SFDCCreateLocationRequest">
  <part element="tns:SFDCCreateLocation" name="parameters"/>
 </message>
 <message name="SFDCCreateLocationResponse">
  <part element="tns:SFDCCreateLocationResponse" name="parameters"/>
 </message>
 <message name="SFDCDeleteLocationRequest">
  <part element="tns:SFDCDeleteLocation" name="parameters"/>
 </message>
 <message name="SFDCDeleteLocationResponse">
  <part element="tns:SFDCDeleteLocationResponse" name="parameters"/>
 </message>
 <message name="SFDCUpdateLocationRequest">
  <part element="tns:SFDCUpdateLocation" name="parameters"/>
 </message>
 <message name="SFDCUpdateLocationResponse">
  <part element="tns:SFDCUpdateLocationResponse" name="parameters"/>
 </message>
 <message name="SFDCUpdateLocationByMdmIDRequest">
  <part element="tns:SFDCUpdateLocationByMdmID" name="parameters"/>
 </message>
 <message name="SFDCUpdateLocationByMdmIDResponse">
  <part element="tns:SFDCUpdateLocationByMdmIDResponse" name="parameters"/>
 </message>
 <portType name="PRMEU_SyncLocationWebServicePortType">
  <operation name="SFDCCreateLocation">
   <input message="tns:SFDCCreateLocationRequest"/>
   <output message="tns:SFDCCreateLocationResponse"/>
  </operation>
  <operation name="SFDCDeleteLocation">
   <input message="tns:SFDCDeleteLocationRequest"/>
   <output message="tns:SFDCDeleteLocationResponse"/>
  </operation>
  <operation name="SFDCUpdateLocation">
   <input message="tns:SFDCUpdateLocationRequest"/>
   <output message="tns:SFDCUpdateLocationResponse"/>
  </operation>
  <operation name="SFDCUpdateLocationByMdmID">
   <input message="tns:SFDCUpdateLocationByMdmIDRequest"/>
   <output message="tns:SFDCUpdateLocationByMdmIDResponse"/>
  </operation>
 </portType>
 <binding name="PRMEU_SyncLocationWebServiceBinding" type="tns:PRMEU_SyncLocationWebServicePortType">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="SFDCCreateLocation">
   <soap:operation soapAction=""/>
   <input>
    <soap:header use="literal" part="SessionHeader" message="tns:Header"/>
    <soap:header use="literal" part="CallOptions" message="tns:Header"/>
    <soap:header use="literal" part="DebuggingHeader" message="tns:Header"/>
    <soap:header use="literal" part="AllowFieldTruncationHeader" message="tns:Header"/>
    <soap:body use="literal" parts="parameters"/>
   </input>
   <output>
    <soap:header use="literal" part="DebuggingInfo" message="tns:Header"/>
    <soap:body use="literal"/>
   </output>
  </operation>
  <operation name="SFDCDeleteLocation">
   <soap:operation soapAction=""/>
   <input>
    <soap:header use="literal" part="SessionHeader" message="tns:Header"/>
    <soap:header use="literal" part="CallOptions" message="tns:Header"/>
    <soap:header use="literal" part="DebuggingHeader" message="tns:Header"/>
    <soap:header use="literal" part="AllowFieldTruncationHeader" message="tns:Header"/>
    <soap:body use="literal" parts="parameters"/>
   </input>
   <output>
    <soap:header use="literal" part="DebuggingInfo" message="tns:Header"/>
    <soap:body use="literal"/>
   </output>
  </operation>
  <operation name="SFDCUpdateLocation">
   <soap:operation soapAction=""/>
   <input>
    <soap:header use="literal" part="SessionHeader" message="tns:Header"/>
    <soap:header use="literal" part="CallOptions" message="tns:Header"/>
    <soap:header use="literal" part="DebuggingHeader" message="tns:Header"/>
    <soap:header use="literal" part="AllowFieldTruncationHeader" message="tns:Header"/>
    <soap:body use="literal" parts="parameters"/>
   </input>
   <output>
    <soap:header use="literal" part="DebuggingInfo" message="tns:Header"/>
    <soap:body use="literal"/>
   </output>
  </operation>
  <operation name="SFDCUpdateLocationByMdmID">
   <soap:operation soapAction=""/>
   <input>
    <soap:header use="literal" part="SessionHeader" message="tns:Header"/>
    <soap:header use="literal" part="CallOptions" message="tns:Header"/>
    <soap:header use="literal" part="DebuggingHeader" message="tns:Header"/>
    <soap:header use="literal" part="AllowFieldTruncationHeader" message="tns:Header"/>
    <soap:body use="literal" parts="parameters"/>
   </input>
   <output>
    <soap:header use="literal" part="DebuggingInfo" message="tns:Header"/>
    <soap:body use="literal"/>
   </output>
  </operation>
 </binding>
 <service name="PRMEU_SyncLocationWebServiceService">
  <documentation></documentation>
  <port binding="tns:PRMEU_SyncLocationWebServiceBinding" name="PRMEU_SyncLocationWebService">
   <soap:address location="https://cs9-api.salesforce.com/services/Soap/class/PRMEU_SyncLocationWebService"/>
  </port>
 </service>
</definitions>