MDM/MDMService/WSDL/Client/RAEM_CRM_Partner-MDM.WSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://siebel.com/asi/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal1="http://www.siebel.com/xml/RAEM%20CRM%20CX%20Partner" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://siebel.com/asi/">
    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal1="http://www.siebel.com/xml/RAEM%20CRM%20CX%20Partner" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.siebel.com/xml/RAEM%20CRM%20CX%20Partner">
            <xsd:annotation>
                <xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation>
            </xsd:annotation>
            <xsd:element name="ListOfRaemCrmCxPartner" type="xsdLocal1:ListOfRaemCrmCxPartner"/>
            <xsd:complexType name="ListOfRaemCrmCxPartnerTopElmt">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="ListOfRaemCrmCxPartner" type="xsdLocal1:ListOfRaemCrmCxPartner"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListOfRaemCrmCxPartner">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="RaemCrmCxPartner" type="xsdLocal1:RaemCrmCxPartner"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="RaemCrmCxPartner">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Id" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Address" type="xsdLocal1:string200"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="BlockFlag" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="City" type="xsdLocal1:string50"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Country" type="xsdLocal1:string100"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="DistributorFlag" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Email" type="xsdLocal1:string200"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="EndCustomerFlag" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="IntegrationSource" type="xsdLocal1:string50"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Name" type="xsdLocal1:string100"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="PartnerTier" type="xsdLocal1:string50"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="PartnerTierDescription" type="xsdLocal1:string50"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="PrimaryPartnerTierId" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="PrimaryPartnerTypeId" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ResellerFlag" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="StandardDiscount" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="SyncDate" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="NavisionId" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="SalesForceId" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="MDMId" type="xsdLocal1:string30"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="string50">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string30">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string100">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string200">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="200"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://siebel.com/asi/">
            <xsd:import namespace="http://www.siebel.com/xml/RAEM%20CRM%20CX%20Partner"/>
            <xsd:element name="RAEM_spcCRM_spcCX_spcPartner_spcASI_InsertCRMPartner_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="xsdLocal1:ListOfRaemCrmCxPartner"/>
                        <xsd:element minOccurs="0" name="StatusObject" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="RAEM_spcCRM_spcCX_spcPartner_spcASI_InsertCRMPartner_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="xsdLocal1:ListOfRaemCrmCxPartner"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="RAEM_spcCRM_spcCX_spcPartner_spcASI_QueryByIdCRMPartner_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="PrimaryRowId" type="xsd:string"/>
                        <xsd:element ref="xsdLocal1:ListOfRaemCrmCxPartner"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="RAEM_spcCRM_spcCX_spcPartner_spcASI_SynchronizeCRMPartner_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="xsdLocal1:ListOfRaemCrmCxPartner"/>
                        <xsd:element minOccurs="0" name="StatusObject" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="RAEM_spcCRM_spcCX_spcPartner_spcASI_SynchronizeCRMPartner_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="xsdLocal1:ListOfRaemCrmCxPartner"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="RAEM_spcCRM_spcCX_spcPartner_spcASI_UpdateCRMPartner_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="xsdLocal1:ListOfRaemCrmCxPartner"/>
                        <xsd:element minOccurs="0" name="StatusObject" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="RAEM_spcCRM_spcCX_spcPartner_spcASI_UpdateCRMPartner_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="xsdLocal1:ListOfRaemCrmCxPartner"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="RAEM_spcCRM_spcCX_spcPartner_spcASI_QueryByExampleCRMPartner_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="xsdLocal1:ListOfRaemCrmCxPartner"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="RAEM_spcCRM_spcCX_spcPartner_spcASI_QueryByExampleCRMPartner_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="xsdLocal1:ListOfRaemCrmCxPartner"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="RAEM_spcCRM_spcCX_spcPartner_spcASI_InsertOrUpdateCRMPartner_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="xsdLocal1:ListOfRaemCrmCxPartner"/>
                        <xsd:element minOccurs="0" name="StatusObject" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="RAEM_spcCRM_spcCX_spcPartner_spcASI_InsertOrUpdateCRMPartner_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="xsdLocal1:ListOfRaemCrmCxPartner"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="RAEM_spcCRM_spcCX_spcPartner_spcASI_InsertCRMPartner_Input">
        <part element="tns:RAEM_spcCRM_spcCX_spcPartner_spcASI_InsertCRMPartner_Input" name="RAEM_spcCRM_spcCX_spcPartner_spcASI_InsertCRMPartner_Input"/>
    </message>
    <message name="RAEM_spcCRM_spcCX_spcPartner_spcASI_InsertCRMPartner_Output">
        <part element="tns:RAEM_spcCRM_spcCX_spcPartner_spcASI_InsertCRMPartner_Output" name="RAEM_spcCRM_spcCX_spcPartner_spcASI_InsertCRMPartner_Output"/>
    </message>
    <message name="RAEM_spcCRM_spcCX_spcPartner_spcASI_QueryByIdCRMPartner_Input">
        <part element="tns:RAEM_spcCRM_spcCX_spcPartner_spcASI_QueryByIdCRMPartner_Input" name="RAEM_spcCRM_spcCX_spcPartner_spcASI_QueryByIdCRMPartner_Input"/>
    </message>
    <message name="RAEM_spcCRM_spcCX_spcPartner_spcASI_SynchronizeCRMPartner_Input">
        <part element="tns:RAEM_spcCRM_spcCX_spcPartner_spcASI_SynchronizeCRMPartner_Input" name="RAEM_spcCRM_spcCX_spcPartner_spcASI_SynchronizeCRMPartner_Input"/>
    </message>
    <message name="RAEM_spcCRM_spcCX_spcPartner_spcASI_SynchronizeCRMPartner_Output">
        <part element="tns:RAEM_spcCRM_spcCX_spcPartner_spcASI_SynchronizeCRMPartner_Output" name="RAEM_spcCRM_spcCX_spcPartner_spcASI_SynchronizeCRMPartner_Output"/>
    </message>
    <message name="RAEM_spcCRM_spcCX_spcPartner_spcASI_UpdateCRMPartner_Input">
        <part element="tns:RAEM_spcCRM_spcCX_spcPartner_spcASI_UpdateCRMPartner_Input" name="RAEM_spcCRM_spcCX_spcPartner_spcASI_UpdateCRMPartner_Input"/>
    </message>
    <message name="RAEM_spcCRM_spcCX_spcPartner_spcASI_UpdateCRMPartner_Output">
        <part element="tns:RAEM_spcCRM_spcCX_spcPartner_spcASI_UpdateCRMPartner_Output" name="RAEM_spcCRM_spcCX_spcPartner_spcASI_UpdateCRMPartner_Output"/>
    </message>
    <message name="RAEM_spcCRM_spcCX_spcPartner_spcASI_QueryByExampleCRMPartner_Input">
        <part element="tns:RAEM_spcCRM_spcCX_spcPartner_spcASI_QueryByExampleCRMPartner_Input" name="RAEM_spcCRM_spcCX_spcPartner_spcASI_QueryByExampleCRMPartner_Input"/>
    </message>
    <message name="RAEM_spcCRM_spcCX_spcPartner_spcASI_QueryByExampleCRMPartner_Output">
        <part element="tns:RAEM_spcCRM_spcCX_spcPartner_spcASI_QueryByExampleCRMPartner_Output" name="RAEM_spcCRM_spcCX_spcPartner_spcASI_QueryByExampleCRMPartner_Output"/>
    </message>
    <message name="RAEM_spcCRM_spcCX_spcPartner_spcASI_InsertOrUpdateCRMPartner_Input">
        <part element="tns:RAEM_spcCRM_spcCX_spcPartner_spcASI_InsertOrUpdateCRMPartner_Input" name="RAEM_spcCRM_spcCX_spcPartner_spcASI_InsertOrUpdateCRMPartner_Input"/>
    </message>
    <message name="RAEM_spcCRM_spcCX_spcPartner_spcASI_InsertOrUpdateCRMPartner_Output">
        <part element="tns:RAEM_spcCRM_spcCX_spcPartner_spcASI_InsertOrUpdateCRMPartner_Output" name="RAEM_spcCRM_spcCX_spcPartner_spcASI_InsertOrUpdateCRMPartner_Output"/>
    </message>
    <portType name="RAEM_spcCRM_spcCX_spcPartner_spcASI">
        <operation name="InsertCRMPartner">
            <input message="tns:RAEM_spcCRM_spcCX_spcPartner_spcASI_InsertCRMPartner_Input"/>
            <output message="tns:RAEM_spcCRM_spcCX_spcPartner_spcASI_InsertCRMPartner_Output"/>
        </operation>
        <operation name="QueryByIdCRMPartner">
            <input message="tns:RAEM_spcCRM_spcCX_spcPartner_spcASI_QueryByIdCRMPartner_Input"/>
        </operation>
        <operation name="SynchronizeCRMPartner">
            <input message="tns:RAEM_spcCRM_spcCX_spcPartner_spcASI_SynchronizeCRMPartner_Input"/>
            <output message="tns:RAEM_spcCRM_spcCX_spcPartner_spcASI_SynchronizeCRMPartner_Output"/>
        </operation>
        <operation name="UpdateCRMPartner">
            <input message="tns:RAEM_spcCRM_spcCX_spcPartner_spcASI_UpdateCRMPartner_Input"/>
            <output message="tns:RAEM_spcCRM_spcCX_spcPartner_spcASI_UpdateCRMPartner_Output"/>
        </operation>
        <operation name="QueryByExampleCRMPartner">
            <input message="tns:RAEM_spcCRM_spcCX_spcPartner_spcASI_QueryByExampleCRMPartner_Input"/>
            <output message="tns:RAEM_spcCRM_spcCX_spcPartner_spcASI_QueryByExampleCRMPartner_Output"/>
        </operation>
        <operation name="InsertOrUpdateCRMPartner">
            <input message="tns:RAEM_spcCRM_spcCX_spcPartner_spcASI_InsertOrUpdateCRMPartner_Input"/>
            <output message="tns:RAEM_spcCRM_spcCX_spcPartner_spcASI_InsertOrUpdateCRMPartner_Output"/>
        </operation>
    </portType>
    <binding name="RAEM_spcCRM_spcCX_spcPartner_spcASI" type="tns:RAEM_spcCRM_spcCX_spcPartner_spcASI">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="InsertCRMPartner">
            <soap:operation soapAction="document/http://siebel.com/asi/:InsertCRMPartner"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="QueryByIdCRMPartner">
            <soap:operation soapAction="document/http://siebel.com/asi/:QueryByIdCRMPartner"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="SynchronizeCRMPartner">
            <soap:operation soapAction="document/http://siebel.com/asi/:SynchronizeCRMPartner"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="UpdateCRMPartner">
            <soap:operation soapAction="document/http://siebel.com/asi/:UpdateCRMPartner"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="QueryByExampleCRMPartner">
            <soap:operation soapAction="document/http://siebel.com/asi/:QueryByExampleCRMPartner"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="InsertOrUpdateCRMPartner">
            <soap:operation soapAction="document/http://siebel.com/asi/:InsertOrUpdateCRMPartner"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="RAEM_spcCRM_spcPartner_spc-_spcMDM">
        <port binding="tns:RAEM_spcCRM_spcCX_spcPartner_spcASI" name="RAEM_spcCRM_spcCX_spcPartner_spcASI">
            <soap:address location="http://tw-bprallqa4/eai_enu/start.swe?SWEExtSource=WebService&amp;SWEExtCmd=Execute&amp;UserName=EUWEBADM&amp;Password=EUWEBADM"/>
        </port>
    </service>
</definitions>