G2PortalEventSerivce/XSD/Common/EvnetMsg/NeronSubmissionInputType.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:complexType name="NEURONERSType">
		<xs:sequence>
			<xs:element name="DEFAULT_INFO">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SERVICE_CONSUMER" type="xs:string"/>
						<xs:element name="UPLOAD_METHOD">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="INF">
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="xs:string">
													<xs:attribute name="name" type="xs:string"/>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="type" type="xs:string"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="AM_CASE_AUTO_SUBMIT">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="value" type="xs:string"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="FILE_EXTRACT_TYPE">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="ChildWithPW" type="xs:string"/>
										<xs:attribute name="MultiFolder" type="xs:string"/>
										<xs:attribute name="Quarantined" type="xs:string"/>
										<xs:attribute name="LocId" type="xs:string"/>
										<xs:attribute name="MaxTotalFilesIncluded" type="xs:string"/>
										<xs:attribute name="MaxExtractLevel" type="xs:string"/>
										<xs:attribute name="BypassExtraction" type="xs:string"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="UPLOAD_ARCHIVE_TO_AM" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ADDITIONAL_INFO">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ThreatServiceID" type="xs:string"/>
						<xs:element name="SupportCaseNumber" type="xs:string"/>
						<xs:element name="RequestType" type="xs:string"/>
						<xs:element name="SubCategory" type="xs:string"/>
						<xs:element name="TaskType" type="xs:string"/>
						<xs:element name="TargetCRMSystem" type="xs:string"/>
						<xs:element name="Country" type="xs:string"/>
						<xs:element name="CSMEmail" type="xs:string" minOccurs="0"/>
						<xs:element name="CSMFirstName" type="xs:string" minOccurs="0"/>
						<xs:element name="CSMLastName" type="xs:string" minOccurs="0"/>
						<xs:element name="Region" type="xs:string" minOccurs="0"/>
						<xs:element name="ServiceLevel" type="xs:string" minOccurs="0"/>
						<xs:element name="AccountName" type="xs:string" minOccurs="0"/>
						<xs:element name="EmailAddress" type="xs:string" minOccurs="0"/>
						<xs:element name="LastName" type="xs:string" minOccurs="0"/>
						<xs:element name="FirstName" type="xs:string" minOccurs="0"/>
						<xs:element name="Title" type="xs:string" minOccurs="0"/>
						<xs:element name="Description" type="xs:string" minOccurs="0"/>
						<xs:element name="TSProdOS" type="xs:string" minOccurs="0"/>
						<xs:element name="TSProdName" type="xs:string" minOccurs="0"/>
						<xs:element name="PatternBranch" type="xs:string" minOccurs="0"/>
						<xs:element name="AccountId" type="xs:string" minOccurs="0"/>
						<xs:element name="URLS" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PACKAGES">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PACKAGE">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="id" type="xs:string"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NEURONWRSType">
		<xs:sequence>
			<xs:element name="DEFAULT_INFO">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SERVICE_CONSUMER" type="xs:string"/>
						<xs:element name="UPLOAD_METHOD" default="UNC">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="INF">
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="xs:string">
													<xs:attribute name="name" type="xs:string"/>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="type" type="xs:string"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="AM_CASE_AUTO_SUBMIT">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="value" type="xs:string"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="FILE_EXTRACT_TYPE">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="ChildWithPW" type="xs:string"/>
										<xs:attribute name="MultiFolder" type="xs:string"/>
										<xs:attribute name="Quarantined" type="xs:string"/>
										<xs:attribute name="LocId" type="xs:string"/>
										<xs:attribute name="MaxTotalFilesIncluded" type="xs:string"/>
										<xs:attribute name="MaxExtractLevel" type="xs:string"/>
										<xs:attribute name="BypassExtraction" type="xs:string"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="UPLOAD_ARCHIVE_TO_AM" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ADDITIONAL_INFO">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ThreatServiceID" type="xs:string"/>
						<xs:element name="SupportCaseNumber" type="xs:string"/>
						<xs:element name="RequestType" type="xs:string"/>
						<xs:element name="SubCategory" type="xs:string"/>
						<xs:element name="TaskType" type="xs:string"/>
						<xs:element name="TargetCRMSystem" type="xs:string"/>
						<xs:element name="Country" type="xs:string"/>
						<xs:element name="CSMEmail" type="xs:string" minOccurs="0"/>
						<xs:element name="CSMFirstName" type="xs:string" minOccurs="0"/>
						<xs:element name="CSMLastName" type="xs:string" minOccurs="0"/>
						<xs:element name="Region" type="xs:string" minOccurs="0"/>
						<xs:element name="ServiceLevel" type="xs:string" minOccurs="0"/>
						<xs:element name="AccountName" type="xs:string" minOccurs="0"/>
						<xs:element name="EmailAddress" type="xs:string" minOccurs="0"/>
						<xs:element name="LastName" type="xs:string" minOccurs="0"/>
						<xs:element name="FirstName" type="xs:string" minOccurs="0"/>
						<xs:element name="Title" type="xs:string" minOccurs="0"/>
						<xs:element name="Description" type="xs:string" minOccurs="0"/>
						<xs:element name="TSProdOS" type="xs:string" minOccurs="0"/>
						<xs:element name="TSProdName" type="xs:string" minOccurs="0"/>
						<xs:element name="TSProdVersion" type="xs:string" minOccurs="0"/>
						<xs:element name="TSProdLanguage" type="xs:string" minOccurs="0"/>
						<xs:element name="PatternBranch" type="xs:string" minOccurs="0"/>
						<xs:element name="AccountId" type="xs:string" minOccurs="0"/>
						<xs:element name="URLS" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="URL" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="LINK" type="xs:string"/>
												<xs:element name="CATEGORY" type="xs:string"/>
												<xs:element name="SUGGESTED_CATEGORY" type="xs:string"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PACKAGES">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PACKAGE">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="id" type="xs:string"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NEURONFRSType">
		<xs:sequence>
			<xs:element name="DEFAULT_INFO">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SERVICE_CONSUMER" type="xs:string"/>
						<xs:element name="UPLOAD_METHOD">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="INF">
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="xs:string">
													<xs:attribute name="name" type="xs:string"/>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="type" type="xs:string"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="AM_CASE_AUTO_SUBMIT">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="value" type="xs:string"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="FILE_EXTRACT_TYPE">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="ChildWithPW" type="xs:string"/>
										<xs:attribute name="MultiFolder" type="xs:string"/>
										<xs:attribute name="Quarantined" type="xs:string"/>
										<xs:attribute name="LocId" type="xs:string"/>
										<xs:attribute name="MaxTotalFilesIncluded" type="xs:string"/>
										<xs:attribute name="MaxExtractLevel" type="xs:string"/>
										<xs:attribute name="BypassExtraction" type="xs:string"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="UPLOAD_ARCHIVE_TO_AM" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ADDITIONAL_INFO">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ThreatServiceID" type="xs:string"/>
						<xs:element name="SupportCaseNumber" type="xs:string"/>
						<xs:element name="RequestType" type="xs:string"/>
						<xs:element name="SubCategory" type="xs:string"/>
						<xs:element name="TaskType" type="xs:string"/>
						<xs:element name="TargetCRMSystem" type="xs:string"/>
						<xs:element name="Country" type="xs:string"/>
						<xs:element name="CSMEmail" type="xs:string"/>
						<xs:element name="CSMFirstName" type="xs:string"/>
						<xs:element name="CSMLastName" type="xs:string"/>
						<xs:element name="Region" type="xs:string"/>
						<xs:element name="ServiceLevel" type="xs:string"/>
						<xs:element name="AccountName" type="xs:string"/>
						<xs:element name="EmailAddress" type="xs:string"/>
						<xs:element name="LastName" type="xs:string"/>
						<xs:element name="FirstName" type="xs:string"/>
						<xs:element name="Title" type="xs:string"/>
						<xs:element name="Description" type="xs:string"/>
						<xs:element name="TSProdOS" type="xs:string"/>
						<xs:element name="TSProdName" type="xs:string"/>
						<xs:element name="PatternBranch" type="xs:string"/>
						<xs:element name="AccountId" type="xs:string" minOccurs="0"/>
						<xs:element name="URLS" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PACKAGES">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PACKAGE">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="id" type="xs:string"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>