G2PortalEventSerivce/XSD/Common/EvnetMsg/OnURLQueried.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.trendmicro.com/ESB/ACS/schemas/SMF"
	 targetNamespace="http://www.trendmicro.com/ESB/ACS/schemas/SMF"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="OnURLQueried">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ServiceID" type="xs:string"/>
				<xs:element name="URLID" type="xs:string"/>
				<xs:element name="URL" type="xs:string"/>
				<xs:element name="IsCompletedWRSQuery" type="xs:boolean" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>