G2PortalEventSerivce/XSD/Common/EvnetMsg/SubmittingInput.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:complexType name="NEURONSRFType">
		<xs:sequence>
			<xs:element name="DEFAULT_INFO">
				<xs:complexType>
					<xs:all>
						<xs:element name="SERVICE_CONSUMER" type="xs:string"/>
						<xs:element name="UPLOAD_METHOD">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="INF">
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="xs:string">
													<xs:attribute name="name" type="xs:string"/>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="type" type="xs:string"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="AM_CASE_AUTO_SUBMIT" default="false">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:boolean">
										<xs:attribute name="value" type="xs:string"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="FILE_EXTRACT_TYPE">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="ChildWithPW" type="xs:string"/>
										<xs:attribute name="MultiFolder" type="xs:string"/>
										<xs:attribute name="Quarantined" type="xs:string"/>
										<xs:attribute name="LocId" type="xs:string"/>
										<xs:attribute name="MaxTotalFilesIncluded" type="xs:string"/>
										<xs:attribute name="MaxExtractLevel" type="xs:string"/>
										<xs:attribute name="BypassExtraction" type="xs:string"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="UPLOAD_ARCHIVE_TO_AM" type="xs:string"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="ADDITIONAL_INFO">
				<xs:complexType>
					<xs:all>
						<xs:element name="SRF_SOURCEID">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="NeedReturn" type="xs:string"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="SRF_SRTYPE" type="xs:string"/>
						<xs:element name="SRF_SRNO">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="NeedReturn" type="xs:string"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="SRF_ORIGINAL_File_Name" type="xs:string"/>
						<xs:element name="SRF_REGION" type="xs:string"/>
						<xs:element name="SRF_FORM_VALUES">
							<xs:complexType>
								<xs:all>
									<xs:element name="PortalSourceID" type="xs:string" minOccurs="0"/>
									<xs:element name="ProductName" type="xs:string" minOccurs="0"/>
									<xs:element name="ProductVersion" type="xs:string" minOccurs="0"/>
									<xs:element name="ProductLanguage" type="xs:string" minOccurs="0"/>
									<xs:element name="OperatingSystem" type="xs:string" minOccurs="0"/>
									<xs:element name="SerialNumber" type="xs:string" minOccurs="0"/>
									<xs:element name="ActivationCode" type="xs:string" minOccurs="0"/>
									<xs:element name="PatternFileNumber" type="xs:string" minOccurs="0"/>
									<xs:element name="ScanEngineVersion" type="xs:string" minOccurs="0"/>
									<xs:element name="NumberofSeat" type="xs:string" minOccurs="0"/>
									<xs:element name="UserType" type="xs:string" minOccurs="0"/>
									<xs:element name="ProblemCategory" type="xs:string" minOccurs="0"/>
									<xs:element name="SubCategory" type="xs:string" minOccurs="0"/>
									<xs:element name="Priority" type="xs:string" minOccurs="0"/>
									<xs:element name="Description" type="xs:string" minOccurs="0"/>
									<xs:element name="InitialTroubleshootingPerformed" type="xs:string" minOccurs="0"/>
									<xs:element name="InternetConnections" type="xs:string" minOccurs="0"/>
									<xs:element name="Attachment" type="xs:string" minOccurs="0"/>
									<xs:element name="EmailAddress" type="xs:string" minOccurs="0"/>
									<xs:element name="Salutation" type="xs:string" minOccurs="0"/>
									<xs:element name="FirstName" type="xs:string" minOccurs="0"/>
									<xs:element name="LastName" type="xs:string" minOccurs="0"/>
									<xs:element name="PhoneNumber" type="xs:string" minOccurs="0"/>
									<xs:element name="Country" type="xs:string" minOccurs="0"/>
									<xs:element name="CompanyName" type="xs:string" minOccurs="0"/>
									<xs:element name="AccountID" type="xs:string" minOccurs="0"/>
									<xs:element name="AccountName" type="xs:string" minOccurs="0"/>
									<xs:element name="Areyouusingproxy" type="xs:string" minOccurs="0"/>
									<xs:element name="Areyouusingfirewall" type="xs:string" minOccurs="0"/>
									<xs:element name="PreferredLanguage" type="xs:string" minOccurs="0"/>
									<xs:element name="Wouldyouparticipateinasurvey" type="xs:string" minOccurs="0"/>
									<xs:element name="CDToutput" type="xs:string" minOccurs="0"/>
									<xs:element name="Title" type="xs:string" minOccurs="0"/>
									<xs:element name="BuildNumber" type="xs:string" minOccurs="0"/>
									<xs:element name="BetaProjectId" type="xs:string" minOccurs="0"/>
									<xs:element name="ProductGIC" type="xs:string" minOccurs="0"/>
									<xs:element name="SRType" type="xs:string" minOccurs="0"/>
									<xs:element name="QueryType" type="xs:string" minOccurs="0"/>
									<xs:element name="SolutionID" type="xs:string" minOccurs="0"/>
									<xs:element name="DidSearchDB" type="xs:string" minOccurs="0"/>
									<xs:element name="SubSystem" type="xs:string" minOccurs="0"/>
									<xs:element name="PortalSRTarget" type="xs:string" minOccurs="0"/>
									<xs:element name="CustExperience" type="xs:string" minOccurs="0"/>
									<xs:element name="UseProxyAuth" type="xs:string" minOccurs="0"/>
									<xs:element name="FirewallServer" type="xs:string" minOccurs="0"/>
									<xs:element name="UseFirewallAuth" type="xs:string" minOccurs="0"/>
									<xs:element name="FTPLocation" type="xs:string" minOccurs="0"/>
									<xs:element name="FTPUserNamePassword" type="xs:string" minOccurs="0"/>
									<xs:element name="UserType1" type="xs:string" minOccurs="0"/>
									<xs:element name="FirewallAuthenticationType" type="xs:string" minOccurs="0"/>
									<xs:element name="EntitlementID" type="xs:string" minOccurs="0"/>
									<xs:element name="SRSource" type="xs:string" minOccurs="0"/>
									<xs:element name="TSProdId" type="xs:string" minOccurs="0"/>
									<xs:element name="ToNeuron" type="xs:string" minOccurs="0"/>
									<xs:element name="EntitlementName" type="xs:string" minOccurs="0"/>
									<xs:element name="Classification" type="xs:string" minOccurs="0"/>
									<xs:element name="PatternType" type="xs:string" minOccurs="0"/>
									<xs:element name="SPNPortalID" type="xs:string" minOccurs="0"/>
									<xs:element name="RequestType" type="xs:string" minOccurs="0"/>
									<xs:element name="ServiceLevel" type="xs:string" minOccurs="0"/>
									<xs:element name="RegistrationKey" type="xs:string" minOccurs="0"/>
									<xs:element name="SeatCount" type="xs:string" minOccurs="0"/>
									<xs:element name="ToSFDC" type="xs:string" minOccurs="0"/>
									<xs:element name="TS_Issue_Category" type="xs:string" minOccurs="0"/>
									<xs:element name="TS_Issue_Sub_Category" type="xs:string" minOccurs="0"/>
									<xs:element name="PreferredContactMethod" type="xs:string" minOccurs="0"/>
									<xs:element name="PreferredContactTime" type="xs:string" minOccurs="0"/>
								</xs:all>
							</xs:complexType>
						</xs:element>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="PACKAGES">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PACKAGE">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="id" type="xs:string"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NEURONATSSType">
		<xs:sequence>
			<xs:element name="DEFAULT_INFO">
				<xs:complexType>
					<xs:all>
						<xs:element name="SERVICE_CONSUMER" type="xs:string"/>
						<xs:element name="UPLOAD_METHOD">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="INF">
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="xs:string">
													<xs:attribute name="name" type="xs:string"/>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="type" type="xs:string"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="AM_CASE_AUTO_SUBMIT">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="value" type="xs:string"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="FILE_EXTRACT_TYPE">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="ChildWithPW" type="xs:string"/>
										<xs:attribute name="MultiFolder" type="xs:string"/>
										<xs:attribute name="Quarantined" type="xs:string"/>
										<xs:attribute name="LocId" type="xs:string"/>
										<xs:attribute name="MaxTotalFilesIncluded" type="xs:string"/>
										<xs:attribute name="MaxExtractLevel" type="xs:string"/>
										<xs:attribute name="BypassExtraction" type="xs:string"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="UPLOAD_ARCHIVE_TO_AM" type="xs:string"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="ADDITIONAL_INFO">
				<xs:complexType>
					<xs:all>
						<xs:element name="ATSS_ID" type="xs:string"/>
						<xs:element name="ATSS_SUBSYSTEM" type="xs:string"/>
						<xs:element name="ArchiveName" type="xs:string"/>
						<xs:element name="FirstName" type="xs:string"/>
						<xs:element name="LastName" type="xs:string"/>
						<xs:element name="EmailAddress" type="xs:string"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="PACKAGES">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PACKAGE">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="id" type="xs:string"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NEURONRTLWType">
		<xs:sequence>
			<xs:element name="DEFAULT_INFO">
				<xs:complexType>
					<xs:all>
						<xs:element name="SERVICE_CONSUMER" type="xs:string"/>
						<xs:element name="UPLOAD_METHOD">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="INF">
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="xs:string">
													<xs:attribute name="name" type="xs:string"/>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="type" type="xs:string"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="AM_CASE_AUTO_SUBMIT">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="value" type="xs:string"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="FILE_EXTRACT_TYPE">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="ChildWithPW" type="xs:string"/>
										<xs:attribute name="MultiFolder" type="xs:string"/>
										<xs:attribute name="Quarantined" type="xs:string"/>
										<xs:attribute name="LocId" type="xs:string"/>
										<xs:attribute name="MaxTotalFilesIncluded" type="xs:string"/>
										<xs:attribute name="MaxExtractLevel" type="xs:string"/>
										<xs:attribute name="BypassExtraction" type="xs:string"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="UPLOAD_ARCHIVE_TO_AM" type="xs:string"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="ADDITIONAL_INFO">
				<xs:complexType>
					<xs:all>
						<xs:element name="RtlwCaseId" type="xs:string"/>
						<xs:element name="ArchiveName" type="xs:string"/>
						<xs:element name="FirstName" type="xs:string"/>
						<xs:element name="LastName" type="xs:string"/>
						<xs:element name="EmailAddress" type="xs:string"/>
						<xs:element name="RequestType" type="xs:string" minOccurs="0"/>
						<xs:element name="Email2CC" type="xs:string" minOccurs="0"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="PACKAGES">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PACKAGE">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="id" type="xs:string"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NEURONERSType">
		<xs:sequence>
			<xs:element name="DEFAULT_INFO">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SERVICE_CONSUMER" type="xs:string"/>
						<xs:element name="UPLOAD_METHOD">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="INF">
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="xs:string">
													<xs:attribute name="name" type="xs:string"/>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="type" type="xs:string"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="AM_CASE_AUTO_SUBMIT">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="value" type="xs:string"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="FILE_EXTRACT_TYPE">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="ChildWithPW" type="xs:string"/>
										<xs:attribute name="MultiFolder" type="xs:string"/>
										<xs:attribute name="Quarantined" type="xs:string"/>
										<xs:attribute name="LocId" type="xs:string"/>
										<xs:attribute name="MaxTotalFilesIncluded" type="xs:string"/>
										<xs:attribute name="MaxExtractLevel" type="xs:string"/>
										<xs:attribute name="BypassExtraction" type="xs:string"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="UPLOAD_ARCHIVE_TO_AM" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ADDITIONAL_INFO">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TargetCRMSystem" type="xs:string"/>
						<xs:element name="SRCase">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="PortalSourceID" type="xs:string"/>
									<xs:element name="CaseID" type="xs:string"/>
									<xs:element name="ProductVersion" type="xs:string"/>
									<xs:element name="OperatingSystem" type="xs:string"/>
									<xs:element name="SerialNumber" type="xs:string"/>
									<xs:element name="PatternFileNumber" type="xs:string"/>
									<xs:element name="ScanEngineVersion" type="xs:string"/>
									<xs:element name="SubCategory" type="xs:string"/>
									<xs:element name="Urgency" type="xs:string"/>
									<xs:element name="Description" type="xs:string"/>
									<xs:element name="Attachment">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="File">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="FileExt" type="xs:string"/>
															<xs:element name="FileName" type="xs:string"/>
															<xs:element name="FilePath" type="xs:string"/>
															<xs:element name="FileType" type="xs:string"/>
															<xs:element name="Comment2" type="xs:string"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="EmailAddress" type="xs:string"/>
									<xs:element name="EmailCC" type="xs:string"/>
									<xs:element name="FirstName" type="xs:string"/>
									<xs:element name="LastName" type="xs:string"/>
									<xs:element name="Country" type="xs:string"/>
									<xs:element name="AccountID" type="xs:string"/>
									<xs:element name="Wouldyouparticipateinasurvey" type="xs:string"/>
									<xs:element name="Title" type="xs:string"/>
									<xs:element name="ProductGIC" type="xs:string"/>
									<xs:element name="SolutionID" type="xs:string"/>
									<xs:element name="DidSearchDB" type="xs:string"/>
									<xs:element name="SubSystem" type="xs:string"/>
									<xs:element name="EntitlementID" type="xs:string"/>
									<xs:element name="BusinessImpact" type="xs:string"/>
									<xs:element name="ExternalRef" type="xs:string"/>
									<xs:element name="ProductProfileID" type="xs:string"/>
									<xs:element name="TSProdOS" type="xs:string"/>
									<xs:element name="TSProdLanguage" type="xs:string"/>
									<xs:element name="TSProdVersion" type="xs:string"/>
									<xs:element name="TSProdId" type="xs:string"/>
									<xs:element name="ProblemCat" type="xs:string"/>
									<xs:element name="CustExperience" type="xs:string"/>
									<xs:element name="CaseClassification" type="xs:string"/>
									<xs:element name="SRType" type="xs:string"/>
									<xs:element name="PrivateNote" type="xs:string"/>
									<xs:element name="ContactID" type="xs:string"/>
									<xs:element name="TSPordName" type="xs:string"/>
									<xs:element name="TSOSLanguage" type="xs:string"/>
									<xs:element name="TS_ServicePack" type="xs:string"/>
									<xs:element name="AccountName" type="xs:string"/>
									<xs:element name="CSMFirstName" type="xs:string"/>
									<xs:element name="CSMLastName" type="xs:string"/>
									<xs:element name="CSMEmail" type="xs:string"/>
									<xs:element name="Region" type="xs:string"/>
									<xs:element name="GlobalCRM_3C_Group" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PACKAGES">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PACKAGE">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="id" type="xs:string"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NEURONWRSType">
		<xs:sequence>
			<xs:element name="DEFAULT_INFO">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SERVICE_CONSUMER" type="xs:string"/>
						<xs:element name="UPLOAD_METHOD" default="UNC">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="INF">
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="xs:string">
													<xs:attribute name="name" type="xs:string"/>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="type" type="xs:string"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="AM_CASE_AUTO_SUBMIT">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="value" type="xs:string"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="FILE_EXTRACT_TYPE">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="ChildWithPW" type="xs:string"/>
										<xs:attribute name="MultiFolder" type="xs:string"/>
										<xs:attribute name="Quarantined" type="xs:string"/>
										<xs:attribute name="LocId" type="xs:string"/>
										<xs:attribute name="MaxTotalFilesIncluded" type="xs:string"/>
										<xs:attribute name="MaxExtractLevel" type="xs:string"/>
										<xs:attribute name="BypassExtraction" type="xs:string"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="UPLOAD_ARCHIVE_TO_AM" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ADDITIONAL_INFO">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TargetCRMSystem" type="xs:string"/>
						<xs:element name="SRCase">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="PortalSourceID" type="xs:string"/>
									<xs:element name="CaseID" type="xs:string"/>
									<xs:element name="ProductVersion" type="xs:string"/>
									<xs:element name="OperatingSystem" type="xs:string"/>
									<xs:element name="SerialNumber" type="xs:string"/>
									<xs:element name="PatternFileNumber" type="xs:string"/>
									<xs:element name="ScanEngineVersion" type="xs:string"/>
									<xs:element name="SubCategory" type="xs:string"/>
									<xs:element name="Urgency" type="xs:string"/>
									<xs:element name="Description" type="xs:string"/>
									<xs:element name="Attachment">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="File">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="FileExt" type="xs:string"/>
															<xs:element name="FileName" type="xs:string"/>
															<xs:element name="FilePath" type="xs:string"/>
															<xs:element name="FileType" type="xs:string"/>
															<xs:element name="Comment2" type="xs:string"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="EmailAddress" type="xs:string"/>
									<xs:element name="EmailCC" type="xs:string"/>
									<xs:element name="FirstName" type="xs:string"/>
									<xs:element name="LastName" type="xs:string"/>
									<xs:element name="Country" type="xs:string"/>
									<xs:element name="AccountID" type="xs:string"/>
									<xs:element name="Wouldyouparticipateinasurvey" type="xs:string"/>
									<xs:element name="Title" type="xs:string"/>
									<xs:element name="ProductGIC" type="xs:string"/>
									<xs:element name="SolutionID" type="xs:string"/>
									<xs:element name="DidSearchDB" type="xs:string"/>
									<xs:element name="SubSystem" type="xs:string"/>
									<xs:element name="EntitlementID" type="xs:string"/>
									<xs:element name="BusinessImpact" type="xs:string"/>
									<xs:element name="ExternalRef" type="xs:string"/>
									<xs:element name="ProductProfileID" type="xs:string"/>
									<xs:element name="TSProdOS" type="xs:string"/>
									<xs:element name="TSProdLanguage" type="xs:string"/>
									<xs:element name="TSProdVersion" type="xs:string"/>
									<xs:element name="TSProdId" type="xs:string"/>
									<xs:element name="ProblemCat" type="xs:string"/>
									<xs:element name="CustExperience" type="xs:string"/>
									<xs:element name="CaseClassification" type="xs:string"/>
									<xs:element name="SRType" type="xs:string"/>
									<xs:element name="PrivateNote" type="xs:string"/>
									<xs:element name="ContactID" type="xs:string"/>
									<xs:element name="TSPordName" type="xs:string"/>
									<xs:element name="TSOSLanguage" type="xs:string"/>
									<xs:element name="TS_ServicePack" type="xs:string"/>
									<xs:element name="AccountName" type="xs:string"/>
									<xs:element name="URLS">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="URL" minOccurs="0" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="URL" type="xs:string"/>
															<xs:element name="CATEGORY" type="xs:string"/>
															<xs:element name="SUGGESTED_CATEGORY" type="xs:string"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="CSMFirstName" type="xs:string" minOccurs="0"/>
									<xs:element name="CSMLastName" type="xs:string" minOccurs="0"/>
									<xs:element name="CSMEmail" type="xs:string" minOccurs="0"/>
									<xs:element name="Region" type="xs:string" minOccurs="0"/>
									<xs:element name="GlobalCRM_3C_Group" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PACKAGES">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PACKAGE">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="id" type="xs:string"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NEURONSRFJPType">
		<xs:sequence>
			<xs:element name="DEFAULT_INFO">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SERVICE_CONSUMER" type="xs:string"/>
						<xs:element name="UPLOAD_METHOD">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="INF">
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="xs:string">
													<xs:attribute name="name" type="xs:string"/>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="type" type="xs:string"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="AM_CASE_AUTO_SUBMIT">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="value" type="xs:string"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="FILE_EXTRACT_TYPE">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="ChildWithPW" type="xs:string"/>
										<xs:attribute name="MultiFolder" type="xs:string"/>
										<xs:attribute name="Quarantined" type="xs:string"/>
										<xs:attribute name="LocId" type="xs:string"/>
										<xs:attribute name="MaxTotalFilesIncluded" type="xs:string"/>
										<xs:attribute name="MaxExtractLevel" type="xs:string"/>
										<xs:attribute name="BypassExtraction" type="xs:string"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="UPLOAD_ARCHIVE_TO_AM" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ADDITIONAL_INFO">
				<xs:complexType>
					<xs:all>
						<xs:element name="SRF_SOURCEID">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="NeedReturn" type="xs:string"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="SRF_SRNO">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="NeedReturn" type="xs:string"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="SRF_SRTYPE" type="xs:string"/>
						<xs:element name="SRF_CASETYPE" type="xs:string"/>
						<xs:element name="SERVICE_TAG" type="xs:string"/>
						<xs:element name="SRF_FILE_EXTRACY_TYPE" type="xs:string"/>
						<xs:element name="SRF_ORIGINAL_File_Name" type="xs:string"/>
						<xs:element name="SRF_REGION" type="xs:string"/>
						<xs:element name="SRF_AMSS_TASK_TYPE" type="xs:string" minOccurs="0"/>
						<xs:element name="SRF_SEGMENT" type="xs:string" minOccurs="0"/>
						<xs:element name="SRF_CORPORATE_FORM_VALUES" minOccurs="0">
							<xs:complexType>
								<xs:all>
									<xs:element name="psActyEmailTO" type="xs:string"/>
									<xs:element name="psSRContactDept" type="xs:string"/>
									<xs:element name="psSourceID" type="xs:string"/>
									<xs:element name="psSRContactEmail" type="xs:string"/>
									<xs:element name="psSRSource" type="xs:string"/>
									<xs:element name="psActyEmailCC" type="xs:string"/>
									<xs:element name="psActySenderName" type="xs:string"/>
									<xs:element name="psContactPronunciation" type="xs:string"/>
									<xs:element name="psSRProductGIC" type="xs:string"/>
									<xs:element name="psSRACRK" type="xs:string"/>
									<xs:element name="psActyPNEmailBody" type="xs:string"/>
									<xs:element name="psSourceSystem" type="xs:string"/>
									<xs:element name="psActyEmailBody" type="xs:string"/>
									<xs:element name="psSRDesc" type="xs:string"/>
									<xs:element name="psActyEmailFormat" type="xs:string"/>
									<xs:element name="psSRAPhoneCall" type="xs:string"/>
									<xs:element name="psActyType" type="xs:string"/>
									<xs:element name="psSRMalware" type="xs:string"/>
									<xs:element name="psSRPattern" type="xs:string"/>
									<xs:element name="psPartnerAccountId" type="xs:string"/>
									<xs:element name="psSRContactWPhone" type="xs:string"/>
									<xs:element name="psSRContactName" type="xs:string"/>
									<xs:element name="psSourceTime" type="xs:string"/>
									<xs:element name="psActyEmailAttachFlg" type="xs:string"/>
									<xs:element name="psSRPortalAccName" type="xs:string"/>
									<xs:element name="psSRScanEngine" type="xs:string"/>
									<xs:element name="psSRTitle" type="xs:string"/>
									<xs:element name="psSRType" type="xs:string"/>
									<xs:element name="psActySenderAdd" type="xs:string"/>
									<xs:element name="psSRProblemCat1" type="xs:string"/>
									<xs:element name="psSource" type="xs:string"/>
									<xs:element name="psContactType" type="xs:string"/>
									<xs:element name="psProductOS" type="xs:string" minOccurs="0"/>
									<xs:element name="ToSFDC" type="xs:string" minOccurs="0"/>
									<xs:element name="RequestType" type="xs:string"/>
									<xs:element name="SubCategory" type="xs:string" minOccurs="0"/>
									<xs:element name="psThreatServiceActyId" type="xs:string" minOccurs="0"/>
									<xs:element name="PatternType" type="xs:string" minOccurs="0"/>
									<xs:element name="psActyDesc" type="xs:string" minOccurs="0"/>
									<xs:element name="psSRNumber" type="xs:string" minOccurs="0"/>
									<xs:element name="psSRSubStatus" type="xs:string" minOccurs="0"/>
									<xs:element name="psSRProblemCat2" type="xs:string" minOccurs="0"/>
									<xs:element name="psSRContactMPhone" type="xs:string" minOccurs="0"/>
								</xs:all>
							</xs:complexType>
						</xs:element>
						<xs:element name="SRF_CONSUMER_FORM_VALUES" minOccurs="0">
							<xs:complexType>
								<xs:all>
									<xs:element name="psSourceID" type="xs:string"/>
									<xs:element name="psMalwareName" type="xs:string"/>
									<xs:element name="psSerialNo" type="xs:string"/>
									<xs:element name="psCenterType" type="xs:string"/>
									<xs:element name="psSourceSystem" type="xs:string"/>
									<xs:element name="psVersion" type="xs:string"/>
									<xs:element name="psCustomerTelNo" type="xs:string"/>
									<xs:element name="psInternalSubmitterNTAccount" type="xs:string"/>
									<xs:element name="psPattern" type="xs:string" minOccurs="0"/>
									<xs:element name="psCustomerEmail" type="xs:string"/>
									<xs:element name="psActivityBody" type="xs:string"/>
									<xs:element name="psOS" type="xs:string"/>
									<xs:element name="psPortalType" type="xs:string"/>
									<xs:element name="psSourceTime" type="xs:string"/>
									<xs:element name="psTitle" type="xs:string"/>
									<xs:element name="psDescription" type="xs:string"/>
									<xs:element name="psScanEngine" type="xs:string"/>
									<xs:element name="psSupportType" type="xs:string"/>
									<xs:element name="psUrgency" type="xs:string"/>
									<xs:element name="psCustomerFullName" type="xs:string"/>
									<xs:element name="psProductGIC" type="xs:string"/>
									<xs:element name="psSRType" type="xs:string"/>
									<xs:element name="psContractType" type="xs:string" minOccurs="0"/>
									<xs:element name="psSource" type="xs:string" minOccurs="0"/>
									<xs:element name="psMacAddress" type="xs:string" minOccurs="0"/>
									<xs:element name="ToSFDC" type="xs:string" minOccurs="0"/>
									<xs:element name="RequestType" type="xs:string"/>
									<xs:element name="SubCategory" type="xs:string" minOccurs="0"/>
									<xs:element name="PatternType" type="xs:string" minOccurs="0"/>
									<xs:element name="psActyEmailCC" type="xs:string" minOccurs="0"/>
									<xs:element name="psActyDesc" type="xs:string" minOccurs="0"/>
									<xs:element name="psActyEmailAttachFlg" type="xs:string" minOccurs="0"/>
									<xs:element name="psActyEmailBody" type="xs:string" minOccurs="0"/>
									<xs:element name="psActyEmailFormat" type="xs:string" minOccurs="0"/>
									<xs:element name="psActyEmailTo" type="xs:string" minOccurs="0"/>
									<xs:element name="psActySenderAdd" type="xs:string" minOccurs="0"/>
									<xs:element name="psActySenderName" type="xs:string" minOccurs="0"/>
									<xs:element name="psActyType" type="xs:string" minOccurs="0"/>
									<xs:element name="psSRNumber" type="xs:string" minOccurs="0"/>
									<xs:element name="psSRSubStatus" type="xs:string" minOccurs="0"/>
									<xs:element name="psEmployeeTeam" type="xs:string" minOccurs="0"/>
								</xs:all>
							</xs:complexType>
						</xs:element>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="PACKAGES">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PACKAGE">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="id" type="xs:string"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>