SSO/XSD/PIS/AssignLicenseRq.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/PLS_Parallels/XSD/PIS/Schema.xsd2"
	 targetNamespace="http://www.tibco.com/schemas/PLS_Parallels/XSD/PIS/Schema.xsd2"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="AssignLicenseRq">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CompanyID" type="xs:string"/>
				<xs:element name="ServicePlans" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="Number" type="xs:int"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>