SSO/XSD/PIS/GetServicePlanID.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="GetServicePlanIDRs">
		<xs:complexType>
			<xs:all>
				<xs:element name="ServicePlanID" type="xs:string" minOccurs="0"/>
				<xs:element name="ServicePlanName" type="xs:string"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>