SSO/XSD/PIS/GrantServicePlanRs.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="GrantServicePlanRs">
		<xs:complexType>
			<xs:all>
				<xs:element name="CompanyID" type="xs:string"/>
				<xs:element name="ServicePlans">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ServicePlanID" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>