SSO/XSD/LiberalAPI/AuthenticateRq.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="AuthenticateRq">
		<xs:complexType>
			<xs:all>
				<xs:element name="TenantId" type="xs:string"/>
				<xs:element name="AccountNameOrLoginEmail" type="xs:string"/>
				<xs:element name="Password" type="xs:string"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>