SSO/XSD/LiberalAPI/ChangeservicePlanRq.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/PLSService/XSD/LiberalAPI/ChangeServicePlan.xsd"
	 targetNamespace="http://www.tibco.com/schemas/PLSService/XSD/LiberalAPI/ChangeServicePlan.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="ChangeServicePlanRq">
		<xs:complexType>
			<xs:all>
				<xs:element name="SubscriptionID" type="xs:string"/>
				<xs:element name="servicePlanID" type="xs:string"/>
				<xs:element name="RequestAccountID" type="xs:string"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>