SSO/XSD/LiberalAPI/UpdateSystemIDRq.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/PLSService/XSD/LiberalAPI/Schema.xsd6"
	 targetNamespace="http://www.tibco.com/schemas/PLSService/XSD/LiberalAPI/Schema.xsd6"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="UpdateSystemIDRq">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CompanyID" type="xs:string"/>
				<xs:element name="IdType" type="xs:string"/>
				<xs:element name="Value" type="xs:string"/>
				<xs:element name="RequestAccountID" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>