G2PortalEventSerivce/XSD/Common/SRCreatedCallbackRQ.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.trendmicro.com/ESB/ACS/schemas/2.1SubProcesses/SubprocessesRQ"
	 targetNamespace="http://www.trendmicro.com/ESB/ACS/schemas/2.1SubProcesses/SubprocessesRQ"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="SRCreatedCallbackRQ">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SERVICE_ID" type="xs:string"/>
				<xs:element name="SRNumber" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>