G2_SFDCAPI/WSDL/Client/AMSSSolutionProvided.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:ns2="http://www.tibco.com/schemas/GCCPortal/WSDL/Client/AMSS Solution Provided/CreateOneAMSSEscRecRs.xsd" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns4="http://www.tibco.com/schemas/GCCPortal/WSDL/Client/AMSS Solution Provided/SendSolnForMultiTasksRs.xsd" xmlns:ns="http://www.tibco.com/schemas/GCCPortal/WSDL/Client/AMSS Solution Provided/CreateOneAMSSEscRecRq.xsd" xmlns:ns3="http://www.tibco.com/schemas/GCCPortal/WSDL/Client/AMSS Solution Provided/SendSolnForMultiTasksRq.xsd" xmlns:tns="http://xmlns.example.com/1415170607083" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.example.com/1415170607083">
    <import namespace="http://www.tibco.com/schemas/GCCPortal/WSDL/Client/AMSS Solution Provided/CreateOneAMSSEscRecRq.xsd" location="AMSS Solution Provided XSD/CreateOneAMSSEscRecRq.xsd"/>
    <import namespace="http://www.tibco.com/schemas/GCCPortal/WSDL/Client/AMSS Solution Provided/CreateOneAMSSEscRecRs.xsd" location="AMSS Solution Provided XSD/CreateOneAMSSEscRecRs.xsd"/>
    <import namespace="http://www.tibco.com/schemas/GCCPortal/WSDL/Client/AMSS Solution Provided/SendSolnForMultiTasksRq.xsd" location="AMSS Solution Provided XSD/SendSolnForMultiTasksRq.xsd"/>
    <import namespace="http://www.tibco.com/schemas/GCCPortal/WSDL/Client/AMSS Solution Provided/SendSolnForMultiTasksRs.xsd" location="AMSS Solution Provided XSD/SendSolnForMultiTasksRs.xsd"/>
    <message name="CreateOneAMSSEscRecRs">
        <part name="Output" element="ns2:CreateOneAMSSEscRecRs"/>
    </message>
    <message name="CreateOneAMSSEscRecRq">
        <part name="Input" element="ns:CreateOneAMSSEscRecRq"/>
    </message>
    <message name="SendSolnForMultiTasksRq">
        <part name="Input" element="ns3:SendSolnForMultiTasksRq"/>
    </message>
    <message name="SendSolnForMultiTasksRs">
        <part name="Output" element="ns4:SendSolnForMultiTasksRs"/>
    </message>
    <portType name="PortType">
        <operation name="CreateOneAMSSEscRec">
            <input message="tns:CreateOneAMSSEscRecRq"/>
            <output message="tns:CreateOneAMSSEscRecRs"/>
        </operation>
        <operation name="SendSolnForMultiTasks">
            <input message="tns:SendSolnForMultiTasksRq"/>
            <output message="tns:SendSolnForMultiTasksRs"/>
        </operation>
    </portType>
</definitions>