G2_SFDCAPI/WSDL/Client/EI_GCC.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:ns2="http://www.trendmicro.com/ESB/Services/GCC/EI_GCC_CreateConsumerCaseRs" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns4="http://www.trendmicro.com/ESB/Services/GCC/EI_GCC_CreateCorporateCaseRs" xmlns:ns="http://www.trendmicro.com/ESB/Services/GCC/EI_GCC_CreateConsumerCaseRq" xmlns:ns3="http://www.trendmicro.com/ESB/Services/GCC/EI_GCC_CreateCorporateCaseRq" xmlns:tns="http://trend.com.tw/EI_GCCWSDL" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns5="http://www.trendmicro.com/ESB/Services/Portal/EI_CreatePortalCaseRq" xmlns:ns6="http://www.trendmicro.com/ESB/Services/Portal/EI_CreatePortalCaseRs" xmlns:ns7="http://www.trendmicro.com/ESB/Services/Portal/EI_CreatePortalCaseActRq" xmlns:ns8="http://www.trendmicro.com/ESB/Services/Portal/EI_CreatePortalCaseActRs" targetNamespace="http://trend.com.tw/EI_GCCWSDL" name="EI_GCCWSDL">
    <import namespace="http://www.trendmicro.com/ESB/Services/GCC/EI_GCC_CreateConsumerCaseRq"/>
    <import namespace="http://www.trendmicro.com/ESB/Services/GCC/EI_GCC_CreateConsumerCaseRs"/>
    <import namespace="http://www.trendmicro.com/ESB/Services/GCC/EI_GCC_CreateCorporateCaseRq"/>
    <import namespace="http://www.trendmicro.com/ESB/Services/GCC/EI_GCC_CreateCorporateCaseRs" location="CorporateXSD/EI_GCC_CreateCorporateCaseRs.xsd"/>
    <import namespace="http://www.trendmicro.com/ESB/Services/Portal/EI_CreatePortalCaseRq" location="PortalXSD/EI_CreatePortalCaseRq.xsd"/>
    <import namespace="http://www.trendmicro.com/ESB/Services/Portal/EI_CreatePortalCaseRs" location="PortalXSD/EI_CreatePortalCaseRs.xsd"/>
    <import namespace="http://www.trendmicro.com/ESB/Services/Portal/EI_CreatePortalCaseActRq" location="PortalXSD/EI_CreatePortalCaseActRq.xsd"/>
    <import namespace="http://www.trendmicro.com/ESB/Services/Portal/EI_CreatePortalCaseActRs" location="PortalXSD/EI_CreatePortalCaseActRs.xsd"/>
    <message name="EI_CreatePortalCaseRq">
        <part name="EI_CreatePortalCaseRqMsg" element="ns5:CreatePortalCaseMsgRq"/>
    </message>
    <message name="EI_CreatePortalCaseRs">
        <part name="EI_CreatePortalCaseRsMsg" element="ns6:CreatePortalCaseMsgRs"/>
    </message>
    <message name="EI_CreatePortalCaseActRq">
        <part name="EI_CreatePortalCaseActRqMsg" element="ns7:EI_CreatePortalCaseActRq"/>
    </message>
    <message name="EI_CreatePortalCaseActRs">
        <part name="EI_CreatePortalCaseActRsMsg" element="ns8:EI_CreatePortalCaseActRs"/>
    </message>
    <portType name="EI_GCC">
        <operation name="EI_CreatePortalCase">
            <input message="tns:EI_CreatePortalCaseRq"/>
            <output message="tns:EI_CreatePortalCaseRs"/>
        </operation>
        <operation name="EI_CreatePortalCaseAct">
            <input message="tns:EI_CreatePortalCaseActRq"/>
            <output message="tns:EI_CreatePortalCaseActRs"/>
        </operation>
    </portType>
</definitions>