G2_SFDCAPI/WSDL/Client/G2XSD/Routing/RoutingCheckingRs.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/GCCPortal_For_G2_V1.0/WSDL/Client/G2XSD/Routing/Schema.xsd2"
	 xmlns:ns0="http://www.trendmicro.com/ESB/schemas/messageHeader"
	 targetNamespace="http://www.tibco.com/schemas/GCCPortal_For_G2_V1.0/WSDL/Client/G2XSD/Routing/Schema.xsd2"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.trendmicro.com/ESB/schemas/messageHeader" schemaLocation="../../../../XSD/Common/messageheader.xsd"/>
	<xs:element name="RoutingCheckingRs">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ResponseHeader" type="ns0:RequestHeader"/>
				<xs:element name="ResponseBody">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="is_Enterprise" type="xs:string" minOccurs="0"/>
							<xs:element name="Status" type="xs:string" minOccurs="0"/>
							<xs:element name="Message" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>