SSO/XSD/Parallels2.0/AuthAccountRq.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="AuthAccountRq">
		<xs:complexType>
			<xs:all>
				<xs:element name="account" type="xs:string"/>
				<xs:element name="password" type="xs:string"/>
				<xs:element name="tenantId" type="xs:string"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>