SSO/XSD/Parallels2.0/ParallelsV2_0.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/PLS_Parallels/XSD/Parallels2.0/Schema.xsd"
	 xmlns:ns0="http://www.tibco.com/schemas/PLS_Parallels/XSD/Parallels2.0/CreateSubscriptionRq.xsd"
	 targetNamespace="http://www.tibco.com/schemas/PLS_Parallels/XSD/Parallels2.0/Schema.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.tibco.com/schemas/PLS_Parallels/XSD/Parallels2.0/CreateSubscriptionRq.xsd" schemaLocation="CreateSubscriptionRq.xsd"/>
	<xs:element name="ParallelsV2_0">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CreateSubscription">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Rq" type="ns0:CreateSubscriptionRq"/>
							<xs:element name="Rs" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>