SSO/XSD/LMPI/V2.0/BindServicePlanRq.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns:ns0="http://www.tibco.com/schemas/PLS_ingram/XSD/LMPI/V2.0/ServiceHeader.xsd"
	 xmlns="http://www.tibco.com/schemas/PLS_ingram/LMPI/V2/BindServicePlanRs.xsd"
	 targetNamespace="http://www.tibco.com/schemas/PLS_ingram/LMPI/V2/BindServicePlanRs.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.tibco.com/schemas/PLS_ingram/XSD/LMPI/V2.0/ServiceHeader.xsd" schemaLocation="ServiceHeader.xsd"/>
	<xs:element name="BindServicePlanRq">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="service_plan_id" type="xs:string"/>
				<xs:element name="license_start_date" type="xs:string"/>
				<xs:element name="units_per_license" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>