SSO/XSD/LMPI/V2.0/CreateSubscriptionRq.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/PLSService/XSD/LMPI/V2.0/Schema.xsd5"
	 targetNamespace="http://www.tibco.com/schemas/PLSService/XSD/LMPI/V2.0/Schema.xsd5"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="CreateSubscriptionRq">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="service_plan_id" type="xs:string"/>
				<xs:element name="units_per_license" type="xs:positiveInteger"/>
				<xs:element name="license_start_date" type="xs:date" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>