SSO/XSD/LMPI/V2.0/Subscription.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/PLSService/XSD/LMPI/V2.0/Schema.xsd16"
	 xmlns:ns0="http://www.tibco.com/schemas/PLSService/XSD/LMPI/V2.0/Schema.xsd15"
	 targetNamespace="http://www.tibco.com/schemas/PLSService/XSD/LMPI/V2.0/Schema.xsd16"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.tibco.com/schemas/PLSService/XSD/LMPI/V2.0/Schema.xsd15" schemaLocation="Licenses.xsd"/>
	<xs:element name="Subscription" type="Subscription"/>
	<xs:complexType name="Subscription">
		<xs:sequence>
			<xs:element name="subscription_id" type="xs:string"/>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="enabled" type="xs:string"/>
			<xs:element name="is_auto_renewal" type="xs:string"/>
			<xs:element name="auto_renewal_month" type="xs:string"/>
			<xs:element name="expiration_notification" type="xs:string"/>
			<xs:element name="service_url" type="xs:string"/>
			<xs:element name="licenses" type="ns0:Licenses" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>