SSO/XSD/LMPI/V2.0/UpdateSubscriptionRq.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/PLSService/XSD/LMPI/V2.0/Schema.xsd7"
	 targetNamespace="http://www.tibco.com/schemas/PLSService/XSD/LMPI/V2.0/Schema.xsd7"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="UpdateSubscriptionRq">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="units_per_license" type="xs:integer" minOccurs="0"/>
				<xs:element name="license_expiration_date" type="xs:date" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>