SSO/WSDL/Client/CommonRs.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.trendmicro.com/ESB/Services/OrderCreation/CommonRs"
	 xmlns:ns0="http://www.trendmicro.com/ESB/schemas/messageHeader"
	 xmlns:ns1="http://www.trendmicro.com/ESB/schemas/messageBody"
	 targetNamespace="http://www.trendmicro.com/ESB/Services/OrderCreation/CommonRs"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.trendmicro.com/ESB/schemas/messageHeader" schemaLocation="../../XSD/Common/messageheader.xsd"/>
	<xs:import namespace="http://www.trendmicro.com/ESB/schemas/messageBody" schemaLocation="../../XSD/Common/messagebody.xsd"/>
	<xs:element name="Message">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ResponseHeader" type="ns0:RequestHeader"/>
				<xs:element name="ResponseBody" type="ns1:RequestBody" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>