SSO/WSDL/Client/ESBLogRs.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/ESBService/WSDL/Client/Schema.xsd2"
	 xmlns:ns0="http://www.trendmicro.com/ESB/schemas/messageHeader"
	 targetNamespace="http://www.tibco.com/schemas/ESBService/WSDL/Client/Schema.xsd2"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.trendmicro.com/ESB/schemas/messageHeader" schemaLocation="../../XSD/Common/messageheader.xsd"/>
	<xs:element name="RsMessage">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RsMessagesHeader" type="ns0:RequestHeader"/>
				<xs:element name="RsMesageBody">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="MessageBody" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>