G2_SFDCAPI/XSD/PSC/Error.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/GCCPortal/XSD/PSC/Schema.xsd"
	 targetNamespace="http://www.tibco.com/schemas/GCCPortal/XSD/PSC/Schema.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:complexType name="ErrorType">
		<xs:sequence>
			<xs:element name="error_code" type="xs:string" minOccurs="0"/>
			<xs:element name="stack_trace" type="xs:string" minOccurs="0"/>
			<xs:element name="process_stack" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>