G2_SFDCAPI/XSD/PSC/NotificationQuery.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/GCCPortal/XSD/PSC/NotificationQuery.xsd"
	 targetNamespace="http://www.tibco.com/schemas/GCCPortal/XSD/PSC/NotificationQuery.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:complexType name="NotificationQueryType">
		<xs:sequence>
			<xs:element name="NotificationQuery">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ContactID" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>