SSO/XSD/AxC/AxCService.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/PLSService/XSD/AxC/Schema.xsd3"
	 xmlns:ns0="http://www.tibco.com/schemas/PLSService/XSD/AxC/Schema.xsd"
	 xmlns:ns1="http://www.tibco.com/schemas/PLSService/XSD/AxC/Schema.xsd2"
	 xmlns:ns2="http://www.trendmicro.com/ESB/schemas/error"
	 targetNamespace="http://www.tibco.com/schemas/PLSService/XSD/AxC/Schema.xsd3"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.tibco.com/schemas/PLSService/XSD/AxC/Schema.xsd" schemaLocation="MSPCreationRq.xsd"/>
	<xs:import namespace="http://www.tibco.com/schemas/PLSService/XSD/AxC/Schema.xsd2" schemaLocation="MSPCreationRs.xsd"/>
	<xs:import namespace="http://www.trendmicro.com/ESB/schemas/error" schemaLocation="../Common/error.xsd"/>
	<xs:element name="AxCService">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AxCServiceRq"/>
				<xs:element ref="AxCServiceRs"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MSPCreation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MSPCreateRq"/>
				<xs:element ref="MSPCreateRs"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MSPCreateRq" type="ns0:MSPCreationRq"/>
	<xs:element name="MSPCreateRs" type="ns1:MSPCreationRs"/>
	<xs:element name="AxCServiceRq">
		<xs:complexType>
			<xs:sequence>
				<xs:any namespace="##any" processContents="lax"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AxCServiceRs">
		<xs:complexType>
			<xs:sequence>
				<xs:any namespace="##any" processContents="lax"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>