SSO/XSD/AxC/GetBillingReportRq.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/PLSService/XSD/AxC/Schema.xsd4"
	 xmlns:ns0="http://www.tibco.com/schemas/PLSService/XSD/Common/Schema.xsd3"
	 targetNamespace="http://www.tibco.com/schemas/PLSService/XSD/AxC/Schema.xsd4"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.tibco.com/schemas/PLSService/XSD/Common/Schema.xsd3" schemaLocation="../Common/SOAPHeader.xsd"/>
	<xs:element name="Body">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CompanyGroup" type="xs:string"/>
				<xs:element name="ReportYear" type="xs:int"/>
				<xs:element name="ReportMonth" type="xs:int"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Header" type="ns0:SOAPHeader"/>
	<xs:element name="GetBillingReportRq">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Header"/>
				<xs:element ref="Body"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>