SSO/XSD/AxC/MSPCreationRq.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/PLSService/XSD/AxC/Schema.xsd"
	 xmlns:ns0="http://www.tibco.com/schemas/PLSService/XSD/Common/Schema.xsd3"
	 targetNamespace="http://www.tibco.com/schemas/PLSService/XSD/AxC/Schema.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.tibco.com/schemas/PLSService/XSD/Common/Schema.xsd3" schemaLocation="../Common/SOAPHeader.xsd"/>
	<xs:complexType name="MSPCreationRq">
		<xs:sequence>
			<xs:element name="header" type="ns0:SOAPHeader"/>
			<xs:element name="message">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Company">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CompanyName" type="xs:string"/>
									<xs:element name="Note" type="xs:string" minOccurs="0"/>
									<xs:element name="Address">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="CountryCode" type="xs:string"/>
												<xs:element name="AddressPostalCode" type="xs:string"/>
												<xs:element name="AddressState" type="xs:string"/>
												<xs:element name="AddressCity" type="xs:string"/>
												<xs:element name="AddressStreet" type="xs:string"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Account">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="LoginName" type="xs:string"/>
									<xs:element name="Password" type="xs:string" minOccurs="0"/>
									<xs:element name="ContractEmail" type="xs:string"/>
									<xs:element name="FirstName" type="xs:string"/>
									<xs:element name="LastName" type="xs:string"/>
									<xs:element name="TimeZone" type="xs:string"/>
									<xs:element name="Language" type="xs:string"/>
									<xs:element name="PhoneAreaCode" type="xs:string" minOccurs="0"/>
									<xs:element name="PhoneNumber" type="xs:string" minOccurs="0"/>
									<xs:element name="PhoneExtension" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Product" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ProductID" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="ServicePlan" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ServicePlanID" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>