G2_SFDCAPI/XSD/Common/SMF.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns="http://www.trendmicro.com/ESB/ACS/schemas/SMF"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 xmlns:ns0="http://www.trendmicro.com/ESB/FRS/schemas/SMF"
	 targetNamespace="http://www.trendmicro.com/ESB/ACS/schemas/SMF"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xsd:import namespace="http://www.trendmicro.com/ESB/FRS/schemas/SMF" schemaLocation="CharonMessage.xsd"/>
	<xsd:include schemaLocation="ACSMessage.xsd"/>
	<xsd:include schemaLocation="AtlasMessage.xsd"/>
	<xsd:include schemaLocation="EvnetMsg/EventProcessMsg.xsd"/>
	<xsd:element name="SMF">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="SMFHeader" type="TrendESBCommonHeader"/>
				<xsd:element name="SMFBody" type="TrendESBCommonBody" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TrendESBCommonHeader">
		<xsd:sequence>
			<xsd:element name="MessageKey" type="xsd:string"/>
			<xsd:element name="ServiceName" type="xsd:string"/>
			<xsd:element name="ServiceVersion" type="xsd:string"/>
			<xsd:element name="SourceID" type="xsd:string"/>
			<xsd:element name="SourceIP" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RqTimestamp" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RsTimestamp" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Priority" type="xsd:int" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TrendESBCommonBody">
		<xsd:sequence>
			<xsd:element name="Message" minOccurs="0">
				<xsd:complexType>
					<xsd:choice>
						<xsd:element ref="ns0:CharonMessage"/>
						<xsd:element ref="ACSMessage"/>
						<xsd:element ref="AtlasMessage"/>
						<xsd:element name="ACK" type="Response"/>
						<xsd:element name="Notification" type="Response"/>
						<xsd:element ref="EventProcessMsg"/>
						<xsd:element name="SOAPMessage" type="xsd:string" minOccurs="0"/>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="XMLPayload" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MessagePayload" type="BinaryPayload" minOccurs="0"/>
			<xsd:element name="Error" type="Error" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="SessionID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EventMsg" type="EventMsg" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BinaryPayload">
		<xsd:sequence>
			<xsd:element name="binary_content" type="xsd:base64Binary"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Error">
		<xsd:sequence>
			<xsd:element name="src" type="xsd:string"/>
			<xsd:element name="error_code" type="xsd:string"/>
			<xsd:element name="error_message" type="xsd:string"/>
			<xsd:element name="error_detail" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EventMsg">
		<xsd:sequence>
			<xsd:element name="ServiceID" type="xsd:string"/>
			<xsd:element name="EventKey" type="xsd:string"/>
			<xsd:element name="EventName" type="xsd:string"/>
			<xsd:element name="Consumer" type="xsd:string"/>
			<xsd:element name="EventStepTypeId" type="xsd:string"/>
			<xsd:element name="DependencyGroup" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FileSha1" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>