SSO/XSD/ArrowSphere/AuthRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/PLSService/XSD/ArrowSphere/Schema.xsd"
	 targetNamespace="http://www.tibco.com/schemas/PLSService/XSD/ArrowSphere/Schema.xsd"
	 elementFormDefault="unqualified"
	 attributeFormDefault="unqualified">
	<xs:element name="AuthRequest">
		<xs:complexType>
			<xs:all>
				<xs:element name="login_name" type="xs:string"/>
				<xs:element name="subscription_id" type="xs:string"/>
				<xs:element name="activation_code" type="xs:string"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>