SSO/XSD/ArrowSphere/CancelRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="CancelRequest" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
  <xs:element name="CancelRequest">
    <xs:complexType>
      <xs:all>
        <xs:element name="transaction_id" type="xs:string" minOccurs="0" />
        <xs:element name="po_number" type="xs:string" minOccurs="0" />
        <xs:element name="disti_id" type="xs:string" minOccurs="0" />
        <xs:element name="comment" type="xs:string" minOccurs="0" />
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>