SSO/XSD/ArrowSphere/PurchaseOrder_new.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/PLSService/XSD/ArrowSphere/PurchaseOrder.xsd"
	 targetNamespace="http://www.tibco.com/schemas/PLSService/XSD/ArrowSphere/PurchaseOrder.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="PurchaseOrder">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TransactionID" type="xs:string"/>
				<xs:element ref="ExternalOrderID"/>
				<xs:element name="PONumber" type="xs:string"/>
				<xs:element name="PODate" type="xs:string"/>
				<xs:element ref="Payment"/>
				<xs:element name="SalesPerson" type="xs:string" minOccurs="0"/>
				<xs:element name="Comments" type="xs:string" minOccurs="0"/>
				<xs:element ref="POSubmitterID" minOccurs="0"/>
				<xs:element name="DistributorID" type="xs:string"/>
				<xs:element name="Reseller">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ResellerID" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="20"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ResellerPONumber">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="20"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Name">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="140"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Address">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="120"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Zip" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="City" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="100"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="State" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="County" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CountryCode">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Phone" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="30"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Phone2" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="30"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Fax" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="30"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Email" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="80"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Email2" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="80"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ContactPerson" type="xs:string" minOccurs="0"/>
							<xs:element name="ContactAddress" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="120"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="EndUser">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Name">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="60"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Address">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="120"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Zip" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="City" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="100"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="State" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="County" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CountryCode">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Phone" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="30"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Phone2" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="30"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Fax" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="30"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Email" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="80"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Email2" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="80"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ContactPerson" type="xs:string" minOccurs="0"/>
							<xs:element name="ContactAddress" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="120"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ShipTo">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Company" type="xs:string" minOccurs="0"/>
							<xs:element name="Address" type="xs:string"/>
							<xs:element name="Zip" type="xs:string" minOccurs="0"/>
							<xs:element name="City" type="xs:string" minOccurs="0"/>
							<xs:element name="State" type="xs:string" minOccurs="0"/>
							<xs:element name="CountryCode" type="xs:string" minOccurs="0"/>
							<xs:element name="Phone" type="xs:string" minOccurs="0"/>
							<xs:element name="ContactName" type="xs:string" minOccurs="0"/>
							<xs:element name="ShippingMethod" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="OrderLine" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="LineNumber" type="xs:string"/>
							<xs:element name="SKU" type="xs:string"/>
							<xs:element name="RPIC" type="xs:string" minOccurs="0"/>
							<xs:element name="Seats" type="xs:string"/>
							<xs:element name="Quantity" type="xs:string"/>
							<xs:element name="Duration" type="xs:string" minOccurs="0"/>
							<xs:element name="LSD" type="xs:string" minOccurs="0"/>
							<xs:element name="LED" type="xs:string" minOccurs="0"/>
							<xs:element name="Currency" type="xs:string" minOccurs="0"/>
							<xs:element name="StandardDiscountType" type="xs:string" minOccurs="0"/>
							<xs:element name="CompetitiveDiscountAmount" type="xs:string" minOccurs="0"/>
							<xs:element name="UnitPrice" type="xs:string" minOccurs="0"/>
							<xs:element name="DealCode" type="xs:string" minOccurs="0"/>
							<xs:element name="PromotionCode" type="xs:string" minOccurs="0"/>
							<xs:element name="TotalAfterDiscount" type="xs:string" minOccurs="0"/>
							<xs:element name="Comments" type="xs:string" minOccurs="0"/>
							<xs:element name="CurrentLicense" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="RPIC" type="xs:string" minOccurs="0"/>
										<xs:element name="LicenseKey" type="xs:string" minOccurs="0"/>
										<xs:element name="LicenseSeatSize" type="xs:string" minOccurs="0"/>
										<xs:element name="LED" type="xs:string" minOccurs="0"/>
										<xs:element name="InvoiceNumber" type="xs:string" minOccurs="0"/>
										<xs:element name="CertificateNumber" type="xs:string" minOccurs="0"/>
										<xs:element name="LicenseQuantity" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>