SSO/XSD/ArrowSphere/SendPORequest.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/PLSService/XSD/ArrowSphere/Schema.xsd3"
	 xmlns:ns0="http://www.trendmicro.com/ESB/schemas/messageHeader"
	 xmlns:ns1="http://www.trendmicro.com/ESB/schemas/messageBody"
	 targetNamespace="http://www.tibco.com/schemas/PLSService/XSD/ArrowSphere/Schema.xsd3"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.trendmicro.com/ESB/schemas/messageHeader" schemaLocation="../Common/messageheader.xsd"/>
	<xs:import namespace="http://www.trendmicro.com/ESB/schemas/messageBody" schemaLocation="../Common/messagebody.xsd"/>
	<xs:element name="SMF">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="messageHeader" type="ns0:RequestHeader"/>
				<xs:element name="messageBody">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Request" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>