SSO/XSD/Parallels1_2/CreateCustomerRq.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/PLS_ingram/XSD/Parallels1_2/Schema.xsd"
	 xmlns:ns0="http://www.tibco.com/schemas/PLS_ingram/XSD/LMPI/V2.0/Schema.xsd"
	 targetNamespace="http://www.tibco.com/schemas/PLS_ingram/XSD/Parallels1_2/Schema.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.tibco.com/schemas/PLS_ingram/XSD/LMPI/V2.0/Schema.xsd" schemaLocation="../LMPI/V2.0/ParallelsV1.2.xsd"/>
	<xs:element name="CreeateCustomerRq">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="header" type="ns0:header"/>
				<xs:element name="message">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="company">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="name" type="xs:string"/>
										<xs:element name="address" type="xs:string"/>
										<xs:element name="city" type="xs:string"/>
										<xs:element name="state" type="xs:string"/>
										<xs:element name="postal_code" type="xs:string"/>
										<xs:element name="country" type="xs:string"/>
										<xs:element name="note" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="user">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="login_name" type="xs:string"/>
										<xs:element name="first_name" type="xs:string"/>
										<xs:element name="last_name" type="xs:string"/>
										<xs:element name="phone">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="area_code" type="xs:string"/>
													<xs:element name="number" type="xs:string"/>
													<xs:element name="extension" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="email" type="xs:string"/>
										<xs:element name="time_zone" type="xs:string"/>
										<xs:element name="language" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>