G2_SFDCAPI/XSD/G2/AMSS Solution Provided/GetSRInfoByClosecallback.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/GCCPortal_For_G2_V1.0/WSDL/Client/AMSS Solution Provided XSD/Schema.xsd"
	 xmlns:ns0="http://www.trendmicro.com/ESB/schemas/messageHeader"
	 targetNamespace="http://www.tibco.com/schemas/GCCPortal_For_G2_V1.0/WSDL/Client/AMSS Solution Provided XSD/Schema.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.trendmicro.com/ESB/schemas/messageHeader" schemaLocation="../../../XSD/Common/messageheader.xsd"/>
	<xs:element name="GetSRInfoByClosecallbackRq">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RequestHeader" type="ns0:RequestHeader"/>
				<xs:element name="RequestBody">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SRNumber" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetSRInfoByClosecallbackRs">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RequestHeader" type="ns0:RequestHeader"/>
				<xs:element name="RequestBody" type="GetSRInfoByClosecallbackRsType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="SRNumber">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="GetSRInfoByClosecallbackRsType">
		<xs:sequence>
			<xs:element name="Id" type="xs:string" minOccurs="0"/>
			<xs:element name="CC_Receipts" type="xs:string" minOccurs="0"/>
			<xs:element name="Receipts" type="xs:string" minOccurs="0"/>
			<xs:element name="ContactFirstName" type="xs:string" minOccurs="0"/>
			<xs:element name="ContactLastName" type="xs:string" minOccurs="0"/>
			<xs:element name="SRType" type="xs:string" minOccurs="0"/>
			<xs:element name="SRTitle" type="xs:string" minOccurs="0"/>
			<xs:element name="IsThreatService" type="xs:boolean"/>
			<xs:element name="TS_Case_Thread_Id" type="xs:string" minOccurs="0"/>
			<xs:element name="CaseOwner" type="xs:string" minOccurs="0"/>
			<xs:element name="Status" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>