AKAMAI/XSD/Provider/ResponseMessage.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.trendmicro.com/Partner/XSD/ResponseMessage.xsd"
	 targetNamespace="http://www.trendmicro.com/Partner/XSD/ResponseMessage.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="ResponseMessage">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MessageKey" type="xs:string"/>
				<xs:element name="ServiceName" type="xs:string"/>
				<xs:element name="Status" type="xs:string"/>
				<xs:element name="Message" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>