MDM/MDMService/WSDL/Provider/SFDC/CreateSfContact_Input.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.trendmicro.com/ESB/MDM/schemas/SMF/CreateSfContact_Input"
	 xmlns:ns0="http://www.trendmicro.com/ESB/schemas/Common"
	 xmlns:ns1="http://www.trendmicro.com/ESB/schemas/MDM/SFDC/Customer"
	 targetNamespace="http://www.trendmicro.com/ESB/MDM/schemas/SMF/CreateSfContact_Input"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.trendmicro.com/ESB/schemas/Common" schemaLocation="../../../XSD/Common/common.xsd"/>
	<xs:import namespace="http://www.trendmicro.com/ESB/schemas/MDM/SFDC/Customer" schemaLocation="../../../XSD/Client/SFDC/Customer.xsd"/>
	<xs:element name="SMF">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SMFHeader" type="ns0:TrendESBCommonHeader"/>
				<xs:element name="SMFBody" type="ns1:ContactType" maxOccurs="100"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>