MDM/MDMService/WSDL/Provider/SFDC/SFDCServiceWSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:ns16="http://www.trendmicro.com/ESB/MDM/schemas/SMF/CreateSfContact_Input" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns17="http://www.trendmicro.com/ESB/MDM/schemas/SMF/CreateSfContact_Output" xmlns:ns14="http://www.trendmicro.com/ESB/MDM/schemas/SMF/DeleteSfLocation_Input" xmlns:ns="http://www.trendmicro.com/ESB/MDM/schemas/SMF/CreateSfCust_Input" xmlns:ns15="http://www.trendmicro.com/ESB/MDM/schemas/SMF/DeleteSfLocation_Output" xmlns:ns18="http://www.trendmicro.com/ESB/MDM/schemas/SMF/UpdateSfContact_Input" xmlns:ns19="http://www.tibco.com/schemas/MDMService/WSDL/Provider/SFDC/Schema.xsd" xmlns:ns21="http://www.trendmicro.com/ESB/MDM/schemas/SMF/UpdateSfContact_Output" xmlns:ns9="http://www.trendmicro.com/ESB/MDM/schemas/SMF/MergeSfCust_Input" xmlns:ns12="http://www.trendmicro.com/ESB/MDM/schemas/SMF/UpdateSfLocation_Input" xmlns:ns5="http://www.trendmicro.com/ESB/MDM/schemas/SMF/DeActSfCust_Input" xmlns:ns6="http://www.trendmicro.com/ESB/MDM/schemas/SMF/DeActSfCust_Output" xmlns:ns13="http://www.trendmicro.com/ESB/MDM/schemas/SMF/UpdateSFDCLocation_Output" xmlns:ns10="http://www.trendmicro.com/ESB/MDM/schemas/SMF/CreateSfLocation_Input" xmlns:ns7="http://www.trendmicro.com/ESB/MDM/schemas/SMF/ActSfCust_Input" xmlns:ns11="http://www.trendmicro.com/ESB/MDM/schemas/SMF/CreateSfLocation_Output" xmlns:ns8="http://www.trendmicro.com/ESB/MDM/schemas/SMF/ActSfCust_Output" xmlns:ns20="http://www.tibco.com/schemas/MDMService/WSDL/Provider/SFDC/UpdateSfContact_Output" xmlns:ns2="http://www.trendmicro.com/ESB/MDM/schemas/SMF/CreateSfCust_Output" xmlns:ns4="http://www.trendmicro.com/ESB/MDM/schemas/SMF/UpdateSfCust_Output" xmlns:ns3="http://www.trendmicro.com/ESB/MDM/schemas/SMF/UpdateSfCust_Input" xmlns:tns="http://www.trendmicro.com/ESB/MDM/schemas/SFDCService" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.trendmicro.com/ESB/MDM/schemas/SFDCService">
    <import namespace="http://www.trendmicro.com/ESB/MDM/schemas/SMF/CreateSfCust_Input" location="CreateSfCust_Input.xsd"/>
    <import namespace="http://www.trendmicro.com/ESB/MDM/schemas/SMF/CreateSfCust_Output" location="CreateSfCust_Output.xsd"/>
    <import namespace="http://www.trendmicro.com/ESB/MDM/schemas/SMF/UpdateSfCust_Input" location="UpdateSfCust_Input.xsd"/>
    <import namespace="http://www.trendmicro.com/ESB/MDM/schemas/SMF/ActSfCust_Input" location="ActSfCust_Input.xsd"/>
    <import namespace="http://www.trendmicro.com/ESB/MDM/schemas/SMF/ActSfCust_Output" location="ActSfCust_Output.xsd"/>
    <import namespace="http://www.trendmicro.com/ESB/MDM/schemas/SMF/MergeSfCust_Input" location="MergeSfCust_Input.xsd"/>
    <import namespace="http://www.trendmicro.com/ESB/MDM/schemas/SMF/UpdateSfCust_Output" location="UpdateSfCust_Output.xsd"/>
    <import namespace="http://www.trendmicro.com/ESB/MDM/schemas/SMF/CreateSfLocation_Input" location="CreateSfLocation_Input.xsd"/>
    <import namespace="http://www.trendmicro.com/ESB/MDM/schemas/SMF/CreateSfLocation_Output" location="CreateSfLocation_Output.xsd"/>
    <import namespace="http://www.trendmicro.com/ESB/MDM/schemas/SMF/UpdateSfLocation_Input" location="UpdateSfLocation_Input.xsd"/>
    <import namespace="http://www.trendmicro.com/ESB/MDM/schemas/SMF/UpdateSFDCLocation_Output" location="UpdateSfLocation_Output.xsd"/>
    <import namespace="http://www.trendmicro.com/ESB/MDM/schemas/SMF/DeleteSfLocation_Input" location="DeleteSfLocation_Input.xsd"/>
    <import namespace="http://www.trendmicro.com/ESB/MDM/schemas/SMF/DeleteSfLocation_Output" location="DeleteSfLocation_Output.xsd"/>
    <import namespace="http://www.trendmicro.com/ESB/MDM/schemas/SMF/CreateSfContact_Input" location="CreateSfContact_Input.xsd"/>
    <import namespace="http://www.trendmicro.com/ESB/MDM/schemas/SMF/CreateSfContact_Output" location="CreateSfContact_Output.xsd"/>
    <import namespace="http://www.trendmicro.com/ESB/MDM/schemas/SMF/UpdateSfContact_Input" location="UpdateSfContact_Input.xsd"/>
    <import namespace="http://www.trendmicro.com/ESB/MDM/schemas/SMF/UpdateSfContact_Output" location="UpdateSfContact_Output.xsd"/>
    <message name="CreateSfCustInput">
        <part name="parameter" element="ns:SMF"/>
    </message>
    <message name="CreateSfCustOutput">
        <part name="parameter" element="ns2:SMF"/>
    </message>
    <message name="UpdateSfCustInput">
        <part name="parameter" element="ns3:SMF"/>
    </message>
    <message name="UpdateSfCustOutput">
        <part name="parameter" element="ns4:SMF"/>
    </message>
    <message name="CreateSfLocationInput">
        <part name="parameter" element="ns10:SMF"/>
    </message>
    <message name="CreateSfLocationOutput">
        <part name="parameter" element="ns11:SMF"/>
    </message>
    <message name="UpdateSfLocationInput">
        <part name="parameter" element="ns12:SMF"/>
    </message>
    <message name="UpdateSfLocationOutput">
        <part name="parameter" element="ns13:SMF"/>
    </message>
    <message name="DeleteSfLocationInput">
        <part name="parameter" element="ns14:SMF"/>
    </message>
    <message name="DeleteSfLocationOutput">
        <part name="parameter" element="ns15:SMF"/>
    </message>
    <message name="CreateSfContactInput">
        <part name="parameter" element="ns16:SMF"/>
    </message>
    <message name="CreateSfContactOutput">
        <part name="parameter" element="ns17:SMF"/>
    </message>
    <message name="UpdateSfContactInput">
        <part name="parameter" element="ns18:SMF"/>
    </message>
    <message name="UpdateSfContactOutput">
        <part name="parameter" element="ns21:SMF"/>
    </message>
    <portType name="PortType">
        <operation name="CreateSFDCCust">
            <input message="tns:CreateSfCustInput"/>
            <output message="tns:CreateSfCustOutput"/>
        </operation>
        <operation name="UpdateSFDCCust">
            <input message="tns:UpdateSfCustInput"/>
            <output message="tns:UpdateSfCustOutput"/>
        </operation>
        <operation name="CreateSFDCLocation">
            <input message="tns:CreateSfLocationInput"/>
            <output message="tns:CreateSfLocationOutput"/>
        </operation>
        <operation name="UpdateSFDCLocation">
            <input message="tns:UpdateSfLocationInput"/>
            <output message="tns:UpdateSfLocationOutput"/>
        </operation>
        <operation name="DeleteSFDCLocation">
            <input message="tns:DeleteSfLocationInput"/>
            <output message="tns:DeleteSfLocationOutput"/>
        </operation>
        <operation name="CreateSFDCContact">
            <input message="tns:CreateSfContactInput"/>
            <output message="tns:CreateSfContactOutput"/>
        </operation>
        <operation name="UpdateSFDCContact">
            <input message="tns:UpdateSfContactInput"/>
            <output message="tns:UpdateSfContactOutput"/>
        </operation>
    </portType>
</definitions>