MDM/MDMService/WSDL/Provider/SFDC/UpdateSfLocation_Output.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns:ns0="http://www.trendmicro.com/ESB/schemas/Common"
	 xmlns:ns1="http://www.trendmicro.com/ESB/MDM/schemas/SMF/CommonOutput"
	 targetNamespace="http://www.trendmicro.com/ESB/MDM/schemas/SMF/UpdateSFDCLocation_Output"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.trendmicro.com/ESB/schemas/Common" schemaLocation="../../../XSD/Common/common.xsd"/>
	<xs:import namespace="http://www.trendmicro.com/ESB/MDM/schemas/SMF/CommonOutput" schemaLocation="../CommonOutput.xsd"/>
	<xs:element name="SMF">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SMFHeader" type="ns0:TrendESBCommonHeader"/>
				<xs:element name="SMFBody" type="ns1:SFDCLocationOutputType" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>